#div-1st-summary{
    width: 30%;
    float: left;
}

#div-1st-summary table, #div-2nd-summary table{
    width: 100%;
}

#div-2nd-summary{
    float: left;
    padding: 0 0 0 20px;
    width: 40%;
}


.col_codi_at {
    text-align: left;
    width: 10%;
}
#col-inst { width: 36%}
#col-prev { width: 32%}
#col-revi { width: 32%}
