*{
    font-family: "Liberation Sans"
}

body{
    font-size: 10px;
    margin-right: 65px;
    margin-left: 65px;
    margin-top: 65px;
}

#capcalera{
    text-align: center;
    width: 100%;
}

.llista_info{
    text-align: left;
    width: 90%;
    margin: 25px auto;
}

table{
    width:95%;
    margin: 5px;
    margin-left: 15px;
    margin-right: 40px;
    border-collapse: collapse;
    border-style: hidden;
    font-family: helvetica;
    font-size: 12px;
}

tr{
    page-break-inside:avoid;
    page-break-after:auto;
}

tr:nth-child(even){
    background-color: #ddd;
}

td{
    padding: 5px 10px;
}

.name{
    text-align: center;
    width: 15%;
}
.descr{
    padding-left: 15px;
    width: auto;
}

#content{
  position: relative;
  padding-top: 50px;
}

#logos{
  position: relative;
  width: 90%;
  max-height: 175px;
  min-height: 75px;
  height: auto;
  align-content: center;
  vertical-align: middle;
}

#logo_gisce, #logo_company{
  position: relative;
  max-width: 200px;
  height: 170px;
  width:auto;
  padding: 5px;
  align-self: center;
}

#logo_gisce{
  float:left;
}

#logo_company{
  float:right;
}

.logo_img{
    position: absolute;
    bottom:0;
}

h2 {
    margin-bottom: -30px;
}
