body{
    font-family: "Liberation Sans";
}

table{
    width: 100%;
    height: 1px;
}

tr { page-break-inside: avoid }

/*table, td, tr, th{*/
    /*border: black 1px solid;*/
/*}*/

.center{
    text-align: center;
}

.h30px{
    height: 30px;
}

.mh25px{
    min-height: 45px;
}

.f11px{
    font-size: 11px;
}

.bordered-cell{
    padding: 2px;
}

.border{
    border: solid 1px black;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.inner-div{
    margin: 3px;
    width: 99%;
}

.align-right{
    text-align: right;
}

.gray{
    background-color: #C2C2C2;
}

.bluegisce{
    background-color: #9FBDFF;
}

.col-head-1{width: 28%}
.col-head-2{width: 24%}
.col-head-3{width: 24%}
.col-head-4{width: 24%}

#table-header{
    font-size: 13px;
}

#table-data{
    border-collapse: collapse;
}

#table-data th{
    font-size: 12px;
    text-align: center;
}

#table-data td{
    font-size: 11px;
}

h6{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 12px;
}
