*{
    font-family: "Liberation Sans";
}

/*table, thead, th, tr, td{*/
    /*border: black 1px solid;*/
/*}*/

h2{
    font-size: 15px;
}
#header{
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}
#report-title{
    text-align: center;
}
#header th{
    font-size: 20px;
}
#header td{
    border-collapse: collapse;
}
#header-subtitles td{
    text-align: left;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
#header-values td{
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.td-div{
    padding: 0;
    border-right: #4D77A4 1px solid;
}
#bar_small{
    height: 5px;
}
#bar_middle{
    height: 8px;
}
#bar_big{
    height: 11px;
}
.bar{
    font-weight: bold;
    background-color: #4D77A4;
    color: white;
    width: 100%;
}
#version{
    text-align: right;
    white-space: nowrap;
    vertical-align: center;
    font-size: 11px;
}
.super-defecte{
    width: 100%;
    border: 3px solid black;
    margin-bottom: 15px;
    margin-top: 10px;
    border-collapse: collapse;
}
.super-defecte td{
    border: 1px solid black;
    font-size: 12px;
}
.header-super-defecte{
    background-color: #9bcbff;
}
.codi{
    font-weight: bold;
}
.code-col{
    width:1%;
    white-space:nowrap;
}
.descr-col{
    width: 70%;
}
.center-col{
    text-align: center;
}
.valoracio-col{
    width:12%;
}
.estat-col{
    width:12%;
}
#big-table tr{    page-break-inside: avoid;}
.data td{
    font-size: 11px;
}
