*{
    font-family: "Liberation Sans";
}
body{
    margin-left: 36px;
}
.first4lines{
    text-align: right;
    font-size: xx-small;
}

.first4lines img{
    float: left;
}
.title{
    width: 100%;
    background-color: lightskyblue;
    text-align: center;
    margin-bottom: 4px;
}
.title th{
    border: none;
    font-size: 13px;
}
#header_table{
    width: 100%;
    font-size: 9px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-collapse: collapse;
}
#header_table td, th{
    border-right: 1px solid black;
    border-collapse: collapse;
}
#header_table td{
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 11px;
}
#header_table th{
    border-bottom: none;
    text-align: left;
    font-size: x-small;
}
#central_table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 8px;
}
#central_table td, th{
    border-collapse: collapse;
    border: 1px solid black;
}
#central_table th{
    text-align: center;
    font-size: 9px;
}
#central_table{
    text-align: left;
}
.middle_title{
    background: lightblue;
}
.middle_title td{
    text-align: left;
    font-weight: bold;
}
.middle_title_inner{
    text-align: left;
}
.possible_valoracio{
    width: 2.5%;
}
.possible_classificacio{
    width: 3%;
}
.celda{
    text-align: center;
}
.empty_cell{
    height: 15px;
}
.highlight{
    background-color: #ee5f5b;
}
#descr_table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 9px;
    margin-top: 20px;
}
#descr_table th{
    background-color: lightskyblue;
}
#descr_table td{
    border-collapse: collapse;
    border: 1px solid black;
}
.subtitle{
    font-size: x-small;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
}
em{
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}
#separator{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.datatable{
    border-collapse: collapse;
    font-size: x-small;
    margin-left: auto;
    margin-right: auto;
}
.datatable td{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}
#datatable_1{
    width: 50%;
}
#datatable_1 td{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
}
#datatable_2{
    width: 80%;
    font-size: 9px;
}
#datatable_2 td{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
}
#orientative_datatable{
    width: 80%;
    margin-bottom: 10px;
}
.text{
    font-size: x-small;
    margin-left: 10%;
}
#last_table{
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
#last_table th{
    font-size: x-small;
}
#last_table td{
    border-collapse: collapse;
    border: 1px solid black;
}
#magnitudes th{
    font-size: xx-small;
}
#numbered_column{
    width: 5%;
    text-align: center;
    font-size: xx-small;
}
#croquis{
    width: 80%;
    height: 100px;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
}
.formula_a img, .formula_b img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.formula_b img{
    margin-bottom: 20px;
}
.formula_a {
    height: 60px;
    width: 40%;
    float: left;
    font-size: xx-small;
    border: 1px solid black;
    padding: 10px;
}
.formula_b {
    margin-left: 50%;
    height: 60px;
    width: 40%;
    font-size: xx-small;
    border: 1px solid black;
    padding: 10px;
}
#formules{
    width: 77%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#empty_row td{
    height: 50px;
}
.codi-document{
    font-size: 9px;
    position: relative;
    top: 200px;
    left: -53%;
    -webkit-transform: rotate(-90deg);

}
