*{
    font-family: "Liberation Sans"
}
body{
    font-family: "Liberation Sans";
    font-size: 11px;
    margin-right: 50px;
    margin-left: 50px;
}
table{
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
table.borderless{
    border: none;
}
#capcalera{
    position: relative;
    top: 30px;
}
#contingut{
    position: relative;
    top: 60px;
}
#logo{
    position: relative;
    float: left;
    width: 50%;
}
#dades_full{
    position: relative;
    float: left;
    width: 50%;
    font-size: 8px;
    text-align: right;
}
#titol{
    text-align: center;
    position: relative;
    top: 40px;
    font-weight: bold;
    font-size: 18px;
}
#bar{
    position: relative;
    top: 40px;
    background-color: #4D77A4;
    padding-left: 120px;
    color: white;
    font-weight: bold;
}
#bar_small{
    position: relative;
    top: 40px;
    background-color: #4D77A4;
    padding-left: 120px;
    color: white;
    font-weight: bold;
    height: 5px;
}
#equips{
    position: relative;
    float: left;
    width: 48%;
    padding: 5px;
}
#inspector{
    position: relative;
    float: left;
    width: 42%;
    padding: 5px;
}
#dades_inspector{
    position: relative;
    float: right;
    width: 300px;
    left: 12px;
    margin-top: 200px;
    border-color: #4D77A4;
}
#titol_inspector{
    background-color: #4D77A4;
    color: #fff;
    font-weight: bold;
    padding-left: 5px;
}
#m_10{
    margin-left: 10px;
}
.p_5{
    padding-left: 5px;
}
.padding_bottom{
    padding-bottom: 15px;
    padding-top: 15px;
}
#centered{
    text-align: center;
}
.checkbox{
    position: relative;
    float: left;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-top: 2px;
    margin-right: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 7px;
    background-color: #FFFFFF;
}
.tipus_inspeccio{
    padding: 10px;
}
.cos{
    margin-top: -1px;
}
.company {
    text-transform: uppercase;
    font-weight: normal;
}
.field{
    font-weight: normal;
}
.spaced{
    padding-top: 10px;
    padding-bottom: 10px;
}
.separador{
    border-left: 1px solid black;
    padding-left: 5px;
}
.dark{
    background-color: #d9d9d9;
}
.punts{
    border-bottom: 1px dotted black;
}
.observacions{
    height: 70px;
    vertical-align: text-top;
    padding-left: 5px;
}
.t_10{
  font-size: 10px;
}
.w_10{
    width: 10px;
}
.w_20{
    width: 20px;
}
.w_50{
    width: 50%;
}
.w_60{
    width: 60px;
}
.w_70{
    width: 70px;
}
.w_100{
    width: 100px;
}
.w_120{
    width: 120px;
}
.w_130{
    width: 130px;
}
.w_150{
    width: 150px;
}
.w_175{
    width: 175px;
}
.w_220{
    width: 220px;
}
.w_250{
    width: 250px;
}
.w_300{
    width: 300px;
}