*{
    font-family: "Liberation Sans"
}


#separador {
    clear: both;
    height: 20px;
    width: 70%;
    background-color: #4D77A4;
    border-radius: 5px;
    color: white;
    padding-left: 32%;
    margin-left: -1%;
    margin-top: 10px;
}


#capcalera1{
    margin-top: -12px;
    width: auto;
    font-size: 8px;
}

    #capcalera1 h1{
        padding-right: 5%;
        width: auto;
        text-align: right;
        font-size: 20px;
        margin-bottom: 25px;
    }

    #text_petit_esquerra {
        padding-right: 5%;
        float: left;
        margin-top: -20px;
    }

    #text_petit_dreta {
        padding-right: 5%;
        text-align: right;
        float: right;
        margin-bottom: 6px;
        margin-top: -20px;
    }

    #capcalera1 h2{
        max-width: 400px;
        margin-top: -3px;
        clear: both;
        font-size: 20px;
        color: #7f7f7f;
        float: left;
    }

    #quadre_registre {
        float: right;
    }

        #quadre_registre table{
            border:  solid 2px #4D77A4;
            font-size: 7px;
            border-collapse: collapse;
            width: 195px;
        }
        #quadre_registre th{
            border:  solid 2px #4D77A4;
            text-align: center;
            font-size: 8px;
            font-weight: bold;
            color: white;
            background-color: #4D77A4;
         }
        #quadre_registre td{
            padding: 1px;
            border:  solid 2px #4D77A4;
            vertical-align: top;
         }

#list-title{
    margin-top: 100px;
}

#separador2{
    margin-top: -15px;
    width: 100%;
    background-color:  #4D77A4;
    border-radius: 30px;
    height: 2px;
    margin-left: -1%;
    padding-right: 2%;
}



.llista_info p{
    font-weight: bold;
    font-size: 12px;
}

.llista_info table{
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-style: hidden;
}

    .llista_info tr:nth-child(even){
        background-color: #dddddd;
    }

    .llista_info td:first-child{
        padding: 2px 25px;
        width: 20%;
    }

    .llista_info td{
        font-size: 10px;
    }


#data_final{
    border: solid #4D77A4;
    border-top-width: 15px;
    border-bottom-width: 15px;
    border-right-width: thin;
    border-left-width: thin;
    margin-top: -15px;
    padding: 5px;
    float: right;
    text-align: right;
    width: 180px;
    font-size: 10px;
}

#text_data_final{
    margin-top: -18px;
    text-align: left;
    color: white;
}