* {
    font-family: "Dejavu Sans";
}

body {
    font-size: 10px;
    margin: 0 70px;
}

img {
    height: 50px;
    width: auto;
}

.top_margin{
    padding-top: 25px;
}

/* LATERAL FACTURA */
.lateral_container {
    position:relative;
    float:left;
}

.lateral {
    -webkit-writing-mode: vertical-lr;
    font-size: 10px;
    position: absolute;
    height: 500px;
    top: 450px;
    left: -30px;
}

.images_header {
    /*border: 1px solid;*/
}

.grey_header {
    clear: both;
    background-color: LightGray;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
}

.bold_header1 {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin: 5px 0;
}

.bold_header2 {
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
}

.leftplacement {
    float:left;
}

.rightplacement {
    float:right;
}

.new_row {
    clear:both;
}

.new_line {
    clear:both;
}

.wrap {
    width:100%;
    margin: 0px auto;
    clear: both;
}

.justified {
    text-align: justify;
}

.padded_text {
    padding: 0px 10px;
    margin: 0;
}

.document_date {
  text-align: right;
  width: 200px;
}

.left_col {
    float:left;
    width:40%;
    text-align: left;
}

.right_col {
    float:right;
    width:60%;
    text-align: left;
}

table {
    width: 100%;
    padding: 5px;
}

.titol_defectes {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.llista_defectes{
    font-size: 10px;
    padding: 5px;
    text-align: center;
}

.taula_tecnic {
    font-size: inherit;
}

.bold_text {
    font-weight: bold;
}

.border_gray {
    border: 2px solid DarkGray;
}

.without_border_top{
    border-top: none;
}

.notes_peu_pagina {
    font-size: 8px;
    width: 100%;
    position: absolute;
    top: 1150px;
}
