*{
    font-family: "Liberation Sans";
    font-size: 12px;
}

body{
    padding: 0;
    margin: 0;
}

table{
    width: 100%;
}

/*table, td, tr, th{*/
    /*border: solid 1px black;*/
/*}*/

#title{
    margin-top: 30px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#title th{
    background-color: #115e90;
    color: white;
    padding: 2px 0 2px 0;
}
#title td{
    padding: 4px 0 4px 0;
}

.title-col-h{
    width: 20%;
    background-color: #9FBDFF;
    border: 1px solid black;
}

.title-col-d{
    width: 30%;
    border: 1px solid black;
}

#installation-characteristics{
    margin-bottom: 5px;
}

#installation-characteristics th{
    padding-bottom: 10px;
}

.col-ic-h{
    width: 30%;
    padding: 0 5px 2px 5px;
}

.col-ic-d{
    width: 20%;
    padding: 0 10px 2px 5px;
}

#equipment{
    text-align: left;
    margin-bottom: 5px;
}

#equipment th{
    width: 20%;
    padding-left: 5px;
}

#equipment td, #equipment th{
    font-size: 10px;
}

#locations{
    margin-bottom: 10px;
}

#locations th{
    text-align: left;
}

#locations img{
    height: 300px;
}

#data{
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

#data tr{
    page-break-inside: avoid
}

#data th{
    background-color: #9FBDFF;
    padding: 5px 0 5px 0;
}

#data td{
    padding-top: 4px;
    padding-bottom: 4px;
}

#data td, #data th{
    border: 1px solid black;
}

#sequence{ width: 8% }
#location{ width: 14% }
#measure{ width: 9% }
#ground{ width: 8% }
#i-test{ width: 9% }
#vo { width: 10% }
#vp { width: 10% }
#vn { width: 10% }
#v { width: 10% }
#def-tensions { width: 12% }

#by th, #obs th{
    text-align: left;
}

#by td{
    text-align: left;
}

.col-by-1{ width: 18% }
.col-by-2{ width: 20% }
.col-by-3{ width: 8% }
.col-by-4{ width: 15% }
.col-by-5{ width: 10% }

/* GLOBAL CLASSES */

.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.pr5px{
    padding-right: 5px;
}
