body {
    font-family: "Liberation Sans";
}
#logo {         /*Div Logo*/
    float: left;
    margin-bottom: 3px;
}

#text_dreta {
    min-width: 200px;
    font-size: 8px;
    text-align: right;
    float: right;
    margin-bottom: 10px;
}

#separador {
    clear: both;
    height: 20px;
    width: 100%;
    background-color: #4D77A4;
    border-radius: 5px;
    color: white;
}

#capcalera1{
    margin-top: -12px;
    width: auto;
    font-size: 8px;
}

    #capcalera1 h1{
        width: auto;
        text-align: right;
        font-size: 20px;
        margin-bottom: 25px;
    }

    #capcalera1 h2{
        max-width: 1000px;
        margin-top: -3px;
        clear: both;
        font-size: 20px;
        color: #7f7f7f;
        float: left;
    }

#separador2{
    margin-top: -15px;
    width: 100%;
    background-color:  #4D77A4;
    border-radius: 30px;
    height: 2px;
}

.h40px{
    height: 40px;
}

.bold{
    font-weight: bold;
}

.fs12px{
    font-size: 12px;
}

.table-intercoloured-rows tr:nth-child(odd){
    background-color: #dddddd;
}

.table-intercoloured-rows tr:last-child{
    background-color: white !important;
}

.col_codi {
    text-align: left;
    width: 10%;
}

.col_tipus {
    text-align: center;
    width: 8%;
}

.col_categoria {
    text-align: left;
    width: 10%;
}

.col_data {
    text-align: right;
    width: 10%;
}

.col_observacions {
    text-align: left;
    width: 15%;
}

#div-summary-by-type{
    width: 40%;
    float: left;
}

#div-summary-by-category{
    float: left;
    width: 40%;
}

.data-table{
    width: 100%;
}

.data-table tr { page-break-inside: avoid }

#table-resum-at{
    width: 25%;
    page-break-inside: avoid;
}

.right{
    text-align: right;
}

.table{
    border-collapse: collapse;
}

.table th{
    color: white;
    background-color: #4D77A4;
    font-weight: normal;
    text-align: center;
    font-size: 12px;
}

.table td{
    font-size: 10px;
    padding: 0 3px 0 3px;
}

.table-summary{
    width: 80%;
    page-break-inside: avoid;
}

.center{
    text-align: center;
}

.col-inst{width: 25px}
.col-prev{width: 25px}
.col-revi{width: 25px}

.pt30px{
    padding-top: 30px;
}
