/* GENERIC GISCE STYLE */

/* Fonts:
    Remember the fonts have to be referenced directly to the mako file.
    Like this:

    @font-face {
        font-family: "Roboto-Regular";
        src: url("${assets_path}/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
        font-weight: normal;
    }
    @font-face {
        font-family: "Lato-Regular";
        src: url("${assets_path}/fonts/Lato/Lato-Regular.ttf") format('truetype');
        font-weight: normal;
    }
*/

/* Default base styles */
* {
    font-family: "Lato-Regular", "Roboto-Regular";
    font-size: 12px;
}

/* Lateral information */
#lateral-info {
    width: 600px;
    padding-top: 8px;
    position: relative;
    float: left;
    left: -327px;
    top: 500px;
    font-size: 9px;
    -webkit-transform: rotate(-90.0deg);
}

.styled-table{
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
}

.styled-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
}

.styled-table td{
    padding: 1px 3px 1px 3px;
    vertical-align: top;
}

/* Small useful classes */
.center {
    text-align: center;
}
