/* -------------------- Estils especifics account_invoice ------------------- */
body {
    font-size: 15px;
    padding: 0px 20px 20px 20px;
}

#header {
    width: 100%;
}

#preus {
    min-height: 450px;
}

#impostos {
    min-height: 100px;
}

#metode {
    min-height: 50px;
}

#partner-address {
    font-size: 11px;
}

#details {
    font-size: 10px;
    white-space: pre-line;
}

.logo {
    max-height: 75px;
    max-width: 225px;
}

.contact-info {
    font-size: 13px;
    text-transform: uppercase;
}

.styled-table th{
    padding: 3px 3px;
}

.styled-table td{
    padding: 7px 3px;
    vertical-align: top;
}

.default-margin {
    margin: 20px 0;
}

.left-40{
    float: left;
    width: 40%;
    padding: 0 5px 10px 0;
    clear: both;
}

.left-25{
    float: left;
    width: 25%;
    padding: 0 5px 10px 0;
    clear: both;
}

.right-40{
    float: right;
    width: 40%;
    padding: 0 5px 10px 0;
    clear: both;
}

.right-45{
    float: right;
    width: 45%;
    padding: 0 0 10px 5px;
    margin-left: 90px;
}

.no-padding-table th {
    padding: 0px 0px;
}

.no-padding-table td {
    padding: 1px 0px;
}
