/* JQPlot overrides */

.jqplot-title {
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
}

.jqplot-yaxis-tick {
  font-size: 1em;
}

.jqplot-point-label {
  padding: 1px 1px;
  background-color: #ffffff;
}

/* Warning classes above does not work properly,
 * Modify cssOverride
 * to modify loadCSSProperties.
 *
.jqplot-yaxis-label {
  font-size: 12pt;
}

.jqplot-xaxis-tick {
  font-size: 10pt;
}
*/

/* Custom settings */

.ot-subtitle {
  font-size: 0.9em;
  font-weight: normal;
}
