.empowering-text {
  margin: 15px 20px 20px 20px;
}

.vertical-center {
  display:table !important;
}

.alert-empowering-no-chart {
  height: 250px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  color: #31708f;
  background-color: #d5e5f7;
  border-color: #bce8f1;
  font-style: italic;
  font-size: 0.8em;
}

.alert-empowering-no-chart hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
