/* Columns */
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  /*margin-left: auto;*/
  margin-left: 25px;
  width: 1170px;
  font-family: "Sans serif", serif;
}
#wrap {
  height: auto !important;
  margin: 0 auto -60px;
  min-height: 100%;
}
#push, #footer {
    height: 60px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 0px;

}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}

img {
  vertical-align: middle;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}

/* Panels */

.panel {
  margin-bottom: 10px;
  /*background-color: #fff;*/
  background: None;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 5px;
  padding-left: 10px;
}
.panel-heading {
  padding: 5px;
  padding-left: 10px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 5px;
  padding-left: 10px;
  /*background-color: #f5f5f5;*/
  background-color: #d5e5f7;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-default {
  /*border-color: #ddd;*/
  border-color: #d5e5f7;
}
.panel-default > .panel-heading {
  color: #333;
  /*background-color: #f5f5f5;*/
  background-color: #d5e5f7;
  /*border-color: #ddd;*/
  border-color: #d5e5f7;
}

.panel-body > table {
  width: 100%;
}

.ot-chart {
  background: url('/static/img/loading.gif') no-repeat center center;
  background-size: 100px 100px;
  text-align: center;
}

.jqplot-point-label {
  font-weight: bold;
}

b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}

p {
  margin: 2px;
  font-size: 14px;
}

h4 {
  margin: 2px;
  font-size: 16px;
}

*:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    vertical-align: middle;
}
img {
    border: 0 none;
}


.invoice-data {
    line-height: 1.5;
}

.invoice-address {
    margin-top: 100px;
    margin-left: 100px;
}

.invoice-address > p{
   font-size: 18px; 
   font-weight: bold;
}

.amount {
  text-align: right;
}
.line_desc {
  padding-left: 15px;
}
.atr_line {
  padding-left: 15px;
  font-style: italic;
  font-size: 12px;
}
.discount {
  padding-left: 35px;
  font-style: italic;
}
.tax_line {
  padding-left: 15px;
}   

.long_text {
  font-style: italic;
  text-indent: 30px;
  text-align: justify;
  padding: 5 0px;
}

.currency {
}

.currency:after {
  content: "€";
}

.page-break {
  page-break-after: always;
}

.refund {
  padding-left: 10px;
  font-style: italic;
}

.duplicado {
  padding-top: 20px;
  font-size: 3.5em;
  opacity: 0.3;
  text-align: center;
}

.duplicado2 {
  font-size: 3.5em;
  opacity: 0.3;
  text-align: left;
}

.impacto_unit {
  font-size: 8px;
  padding-left: 10px;
}

.spam_image {
  max-width: 85%;
  display: block;
  margin: auto;
  padding-top: 35px;
}

.top-padding-fix {
  padding-top: 30px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.barcode{
  margin-bottom: 10px;
}
