body{
    font-family: helvetica;
    font-size: 11px;
    margin-right: 50px;
    margin-left: 50px;
}
table{
    font-size: 10px;
    width: 100%;
    border-collapse: collapse;
}
thead{
    display: table-header-group
}
tfoot{
    display: table-row-group
}
tr{
    page-break-inside: avoid
}
td{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}
td.titol{
    text-align: center;
    padding: 7px;
    border: 1px solid black;
}
.header_title{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.partner{
    width: 80%;
    position: relative;
    float: left;
    text-align: left;
    top: 50px;
}
.page_number{
    width: 20%;
    float: right;
    text-align: left;
}
.continguts{
    position: relative;
}
.right{
    text-align: right;
}
.foot{
    border-top: 2px solid black;
    font-weight: bold;
    font-size: 12px;
}