body{
    font-family: "Liberation Sans";
}

#header{
    width: 100%;
    text-align: right;
    font-size: 15px;
    line-height: 15px;
}
#company-logo img{
    height: 70px;
    width: auto;
    float: left;
}
/*shows the structure, useful when modifiyng the report.*/
/*table {*/
    /*border: black solid 1px;*/
/*}*/

/*table tr, th, td{*/
    /*border: black solid 1px;*/
/*}*/

#company-logo img{
    width: auto;
    margin-right: 30px;
}

#order-info{
    width: 100%;
    margin-top: 30px;
}

#order-info-header{
    font-size: 16px;
    padding-bottom: 10px;
}

#order-info td{
    vertical-align: top;
}

#separator{
    border-right: black solid 1px;
}

#datos-de-compra{
    width: 100%;
}

#datos-del-vendedor{
    width: 80%;
    margin-left: 40px;
}

#datos-de-compra td, #datos-del-vendedor td{
    font-size: 12px;
}

#datos-de-compra th, #datos-del-vendedor th{
    font-size: 13px;
}

#order-lines{
    width: 100%;
    border-collapse: collapse;
}

.subtitles{
    padding-top: 40px;
}

.align-right{
    text-align: right;
}

#order-lines th{
    height: 20px;
    border-collapse: collapse;
    border-bottom: black 2px solid;
    font-size: 13px;
}

#order-lines tr{
    page-break-inside: avoid;
}

#order-lines td{
    height: 20px;
}

#order-lines tbody{
    font-size: 12px;
    vertical-align: top;
}

.qty{
    text-align: right;
    font-size: 12px;
}

#notes-header{
    padding-top: 25px;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: 1px solid black;
}

#notes-body{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
}

#summary{
    padding-top: 25px;
    margin-left: auto;
    margin-right: 0;
    page-break-inside: avoid;
    font-size: 12px;
}

#summary th{
    text-align: left;
    vertical-align: top;
    width: 140px;
}

#summary td{
    text-align: right;
}

#impuestos{
    height: 20px;
}

th{
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.row-values td{
    border-bottom: solid 1px #e0e0de;
}
