body{
    font-family: "Liberation Sans";
}

th{
    font-weight: bold;
}

/*shows the structure, useful when modifiyng the report.*/
/*table {*/
    /*border: black solid 1px;*/
/*}*/

/*table tr, th, td{*/
    /*border: black solid 1px;*/
/*}*/

/*-------------------------------------------------------------------- HEADER */

#header{
    width: 100%;
    text-align: right;
    font-size: 15px;
    line-height: 15px;
}

#company-logo img{
    height: 70px;
    width: auto;
    float: left;
    margin-right: 30px;
}

/*------------------------------------------------------- BUDGET REQUEST INFO */

#order-info{
    width: 100%;
    margin-top: 30px;
}

#order-info-header{
    font-size: 16px;
    padding-bottom: 10px;
}

#order-info td{
    vertical-align: top;
}

#budget-request-info-separator{
    border-right: black solid 1px;
}

#budget-request{
    width: 100%;
}

#supplier-info{
    width: 80%;
    margin-left: 40px;
}

#budget-request td, #supplier-info td{
    font-size: 12px;
}

#budget-request th, #supplier-info th{
    font-size: 13px;
}

/*------------------------------------------------------ BUDGET REQUEST LINES */

#order-lines{
    width: 100%;
    border-collapse: collapse;
}

#order-lines th{
    height: 20px;
    border-collapse: collapse;
    border-bottom: black 2px solid;
    font-size: 13px;
}

#order-lines tr{
    page-break-inside: avoid;
}

#order-lines td{
    height: 20px;
}

#order-lines tbody{
    font-size: 12px;
    vertical-align: top;
}

.qty{
    text-align: right;
    font-size: 12px;
}

/*--------------------------------------------------------------------- NOTES */

#notes-header{
    padding-top: 25px;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: 1px solid black;
}

#notes-body{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
}

/*------------------------------------------------------------------- GLOBALS */

.subtitles{ padding-top: 40px }

.bold{ font-weight: bold }

.center {text-align: center }

.row-values td{
    border-bottom: solid 1px #e0e0de;
}
