<!doctype html>
<html>
	<title></title>
	<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.somenergia.coop/media/tooltip/script-1.2.js"></script>
<script lang="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.8.17.custom.min.js') }}"></script>
<script lang="text/javascript" src="{{ url_for('static', filename='js/webforms.js') }}"></script>
<script lang="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.8.17.custom.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css')}}"/>
<link rel="stylesheet" type="text/css" href="https://www.somenergia.coop/templates/somenergia/css/template.css" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26322939-4', 'somenergia.coop');
  ga('send', 'pageview');

</script>
</head>
<body>
