{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes alert alert-error">
      {% for message in messages %}
        <li class="flash">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
