<!doctype html>
<html>
    <head>
        <title>Contractació OK</title>
        <link rel="stylesheet" type="text/css" href="https://www.somenergia.coop/templates/somenergia/css/template.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-26322939-4', 'somenergia.coop');
  		ga('send', 'pageview');
	</script>
    </head>
		<style type="text/css">
		body {
			margin-top: 25px;
		}
		p {
			padding-bottom: 10px;
		}
	</style>
    <body>
        <p>
            Ya has completado el proceso para contratar tu suministro eléctrico a través de la cooperativa Som Energia.
        </p>
        <p>
            Con los datos que nos has facilitado, haremos la tramitación administrativa necesaria para comunicar tu decisión de cambiar de comercializadora.
        </p>
        <p>
            Normalmente el trámite de cambio de comercializadora es sencillo, pero si hay algún problema, nos pondremos en contacto con vosotros. Os iremos informando de cómo avanza vuestro proceso de cambio (aceptación, confirmación, primera lectura, etc.) Pero tened en cuenta que puede tardar entre 2 y 3 meses.
        </p>
        <p>
            El proceso es el siguiente:
        </p>
        <ul>
            <li>
                En unas semanas nos comunicarán si se acepta el cambio directamente o si requieren más información. Si fuera así, os lo comunicaríamos rápidamente para reunir la información que faltara.
            </li>
            <li>
                Una vez aceptado el cambio, no será efectivo hasta pasadas otras semanas (a veces pueden ser un par de meses) en función de que la empresa distribuidora de vuestra zona pase a hacer una lectura real del contador.
            </li>
            <li>
                A partir del momento que se tenga esta lectura del contador, ya seréis considerados clientes de Som Energia. Y la electricidad a partir de ese momento os la facturará la cooperativa puntualmente.
            </li>
        </ul>
        <p>
            Muchas gracias por escoger consumir buena energía!
        </p>
        <p>
            Enlaces de interés:
        </p>
        <a href="https://www.somenergia.coop/es/condicions-generals-de-contracte">Link Condiciones Generales del contrato</a>
        <a href="https://www.somenergia.coop/es/tarifas">Link Tarifas de Som Energia</a>
        <p>
            Atentamente,
        </p>
        <br/>
        <a href="mailto:comercialitzacio@somenergia.coop">Equipo de Som Energia</a>
    </body>
</html>
