<!doctype html>
<html>
    <head>
    <title>Contractació</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.somenergia.coop/media/tooltip/script-1.2.js"></script>
<script lang="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.8.17.custom.min.js') }}"></script>
<script lang="text/javascript" src="{{ url_for('static', filename='js/webforms.js') }}"></script>
<script type="text/javascript">

    var selected_val = {
        'cups_provincia': "{{ 'cups_provincia' in form_json and form_json['cups_provincia'] or request.form['cups_provincia'] }}",
        'titular_provincia': "{{ 'titular_provincia' in form_json and form_json['titular_provincia'] or request.form['titular_provincia'] }}", 
        'soci_provincia': "",
        'compte_provincia': "{{ 'compte_provincia' in form_json and form_json['compte_provincia'] or request.form['compte_provincia'] }}", 

        'cups_municipi': "{{ 'cups_municipi' in form_json and form_json['cups_municipi'] or request.form['cups_municipi']}}", 
        'titular_municipi': "{{ 'titular_municipi' in form_json and form_json['titular_municipi'] or request.form['titular_municipi']}}",
        'soci_municipi': "",
        'compte_municipi': "{{ 'compte_municipi' in form_json and form_json['compte_municipi'] or request.form['compte_municipi']}}", 
    }

    function check_cups(){
        var cups = jQuery("#cups").val()
        if (cups != null && cups != "") {
            jQuery.ajax({
                url: "/_check_cups/" + cups,
                dataType: "json",
                success: function(info){
                    if (info.result == false) {
                        jQuery("#cups").addClass("error")
                    }
                    else {
                        $("#cups").removeClass("error");
                        $("#cups").val(info.cups);
                    }
                }
            });
        }
    }

    function check_cnae(){
        $("#cnae_message").empty();
        var cnae = $("#cnae").val()
        if (cnae) {
            jQuery.ajax({
                url: "/_check_cnae/" + cnae,
                dataType: "json",
                success: function(result){
                    if (!result.status) {
                        $("#cnae").addClass("error");
                    }
                    else {
                        $("#cnae").removeClass("error");
                    }
                    $("#cnae_message").append(result.message);
                }
            });
        }
    }

    function get_municipis(form_name){
        var prov_field_id = form_name + "_provincia";
        var muni_field_id = form_name + "_municipi";

        var provincia = $("#" + prov_field_id ).val() || selected_val[prov_field_id];
        if (provincia) {
            $.getJSON("/_get_municipis/" + provincia, function(result){
                $("#" + muni_field_id).empty();
                var html = '';
                var selected = selected_val[muni_field_id];
                for (var i = 0; i < result.length; i++) {
                    var municipi = result[i];
                    if (selected == municipi.id) {
                        html += '<option selected="selected" value="' + municipi.id + '">' + municipi.name + '</option>';
                    }
                    else {
                        html += '<option value="' + municipi.id + '">' + municipi.name + '</option>';
                    }
                }
                $("#" + muni_field_id).append(html);
            });
        }
    }

    $(document).ready(function(){
        {%if rfields %}
        <!-- Camps obligatoris POST -->
        {% for field in rfields %}
        $("[name={{ field }}]").each(function(){
            $(this).addClass("required");
        });
        {% endfor %}
        {% endif %}
        {%if efields %}
        <!-- Camps amb errors POST -->
        {% for field in efields %}
        $("[name={{ field }}]").each(function(){
            $(this).addClass("error");
        });
        {% endfor %}
        {% endif %}

        $.getJSON("/_provincies/0", function(result){
            var html = '';
            var html2 = '';
            var html3 = '';
            var html4 = '';
            var selected = "{{ 'cups_provincia' in form_json and form_json['cups_provincia'] or request.form['cups_provincia'] }}";
            var selected_titular = "{{ 'titular_provincia' in form_json and form_json['titular_provincia'] or request.form['titular_provincia'] }}";
            var selected_pagador = "{{ 'compte_provincia' in form_json and form_json['compte_provincia'] or request.form['compte_provincia'] }}";
            for (var i = 0; i < result.length; i++) {
                /* Provincies del CUPS */
                var provincia = result[i];
                if (selected == provincia.id) {
                    html += '<option selected="selected" value="' + provincia.id + '">' + provincia.name + '</option>';
                }
                else {
                    html += '<option value="' + provincia.id + '">' + provincia.name + '</option>';
                }
                var provincia = result[i];
                /* Províncies de titular */
                if (selected_titular == provincia.id) {
                    html2 += '<option selected="selected" value="' + provincia.id + '">' + provincia.name + '</option>';
                }
                else {
                    html2 += '<option value="' + provincia.id + '">' + provincia.name + '</option>';
                }
                html3 += '<option value="' + provincia.id + '">' + provincia.name + '</option>';
                selected_val['soci_provincia'] = provincia.id
                /* Províncies del pagador */
                if (selected_pagador == provincia.id) {
                    html4 += '<option selected="selected" value="' + provincia.id + '">' + provincia.name + '</option>';
                }
                else {
                    html4 += '<option value="' + provincia.id + '">' + provincia.name + '</option>';
                }

            }
            $("#cups_provincia").append(html);
            $("#titular_provincia").append(html2);
            $("#soci_provincia").append(html3);
            $("#compte_provincia").append(html4);
            $("#test").html("provincia" + provincia.id + provincia.name)
        });
        obtener_datos_socio();
        check_cups();
        check_cnae();
        check_vat($('#titular_dni'))
        check_acc_number();
        omplir_pagador();
        get_municipis('soci');
        get_municipis('cups');
        get_municipis('titular');
        get_municipis('compte');
        /* habilitar / deshabilitar camps  */
        {% if efields or form_json %}
        disable_form(false);    
        {% else %}
        disable_form(true);    
        {% endif %}
    });

    function disable_form(val) {
        jQuery('#dades_titular').find('*').attr('disabled', val);
        jQuery("#dades_consum_usuari").find('*').attr("disabled", val);
        jQuery("#adjuntar_fitxer").find('*').attr("disabled", val);
        jQuery("#sel_pagament").find('*').attr("disabled", val);
        jQuery("#dades_pagament_usuari").find('*').attr("disabled", val);
        jQuery("#banc_acc_pagament").find('*').attr("disabled", val);
        jQuery("#donatiu").find('*').attr("disabled", val);
        jQuery("#condicions").find('*').attr("disabled", val);
        jQuery("#enviar_dades").attr("disabled", val);
    }

    function omplir_pagador(){
        
        var pagador = jQuery("#escull_pagador").val()
        if (pagador == 'altre'){
            $("#dades_pagament_usuari").css("display", "inline");
        }
        else {
            $("#dades_pagament_usuari").css("display", "none");
        }
    }
    
    function obtener_datos_socio(){
    
        var nsocio = jQuery("#id_soci").val();
        var dni = jQuery("#dni").val();
        
        if (nsocio != null && dni != null && nsocio != "" && dni != "") {
            borrardatos();
            jQuery.ajax({
                url: "/_dades_soci/" + nsocio + "/" + dni,
                dataType: 'json',
                success: function(info){
                
                    if (info != null && info.exist == false) {
                    
                        jQuery("#verifica_dades_exist").hide();
                        
                        jQuery("#nom_soci").val(info.nom);
                        jQuery("#cognom_soci").val(info.cognom);
                        jQuery("#tel_soci").val(info.tel);
                        jQuery("#tel_soci2").val(info.tel2);
                        jQuery("#email_soci").val(info.email);
                        jQuery("#soci_provincia").val(info.provincia);
                        selected_val['soci_provincia'] = info.provincia;
                        selected_val['soci_municipi'] = info.municipi;
                        get_municipis('soci')
                        jQuery("#cp_soci").val(info.cp);
                        jQuery("#adreca_soci").val(info.adreca);

                        if ("{{request.form['titular_nom']}}" == ""  && $('input[name=soci_titular]:checked').val() == "1") {
                            jQuery("#titular_nom").val(info.nom);
                            jQuery("#titular_cognom").val(info.cognom);
                            jQuery("#titular_tel").val(info.tel);
                            jQuery("#titular_tel2").val(info.tel2);
                            jQuery("#titular_email").val(info.email);
                            jQuery("#titular_provincia").val(info.provincia);
                            selected_val['titular_provincia'] = info.provincia;
                            selected_val['titular_municipi'] = info.municipi;
                            get_municipis('titular')
                            jQuery("#titular_cp").val(info.cp);
                            jQuery("#titular_adreca").val(info.adreca);
                            jQuery("#titular_dni").val(jQuery("#dni").val());
                            deshabilitar_titular(true);
                        }
                        
                        jQuery("#verifica_dades").hide();
                        jQuery("#verifica_dades_exist").hide();
                        disable_form(false);
                        
                    }
                    else 
                        if (info != null && info.exist == true) {
                            jQuery("#verifica_dades_exist").show();
                            jQuery("#verifica_dades").hide();
                        }
                        else {
                            jQuery("#verifica_dades").show();
                            jQuery("#verifica_dades_exist").hide();
                        }
                }
            });
        }
        else {
            jQuery("#verifica_dades").hide();
            jQuery("#verifica_dades_exist").hide();
            borrardatos();
        }
        
    }

    function deshabilitar_titular(val){
        jQuery("#titular_nom").attr("disabled", val);
        jQuery("#titular_cognom").attr("disabled", val);
        jQuery("#titular_tel").attr("disabled", val);
        jQuery("#titular_tel2").attr("disabled", val);
        jQuery("#titular_email").attr("disabled", val);
        jQuery("#titular_provincia").attr("disabled", val);
        jQuery("#titular_cp").attr("disabled", val);
        jQuery("#titular_adreca").attr("disabled", val);
        jQuery("#titular_municipi").attr("disabled", val);
        jQuery("#titular_dni").attr("disabled", val);
    }
    
    function borrardatos(){
        jQuery("#nom_soci").val("");
        jQuery("#cognom_soci").val("");
        jQuery("#tel_soci").val("");
        jQuery("#tel_soci2").val("");
        jQuery("#email_soci").val("");
        jQuery("#soci_provincia").val("");
        jQuery("#cp_soci").val("");
        jQuery("#adreca_soci").val("");
        jQuery("#soci_municipi").val("");
        
    }
    
    function canviaeltitular(v){
        if (v) {
            jQuery("#titular_nom").val("");
            jQuery("#titular_cognom").val("");
            jQuery("#titular_tel").val("");
            jQuery("#titular_tel2").val("");
            jQuery("#titular_email").val("");
            jQuery("#titular_provincia").val("");
            jQuery("#titular_cp").val("");
            jQuery("#titular_adreca").val("");
            jQuery("#titular_municipi").val("");
            jQuery("#titular_dni").val("");
            deshabilitar_titular(false);
        }
        else {
            jQuery("#titular_nom").val(jQuery("#nom_soci").val());
            jQuery("#titular_cognom").val(jQuery("#cognom_soci").val());
            jQuery("#titular_tel").val(jQuery("#tel_soci").val());
            jQuery("#titular_tel2").val(jQuery("#tel_soci2").val());
            jQuery("#titular_email").val(jQuery("#email_soci").val());
            jQuery("#titular_provincia").val(jQuery("#soci_provincia").val());
            selected_val['titular_provincia'] = jQuery("#titular_provincia").val();
            get_municipis('titular')
            jQuery("#titular_cp").val(jQuery("#cp_soci").val());
            jQuery("#titular_adreca").val(jQuery("#adreca_soci").val());
            jQuery("#titular_municipi").val(jQuery("#soci_municipi").val());
            jQuery("#titular_dni").val(jQuery("#dni").val());
            deshabilitar_titular(true);
        }
        val = false
        if (jQuery('input[name=tipus_persona]:checked', '#contractacio').val() == '0') {
            val = true
        }
        personafisica(val)
        
    }
    
    function personafisica(v){
        if (v) {
            jQuery("#representant_nom").attr("disabled", true);
            jQuery("#representant_dni").attr("disabled", true);
            jQuery("#representant_nom").removeClass("required");
            jQuery("#representant_dni").removeClass("required");
            jQuery("#representant_nom").removeClass("error");
            jQuery("#representant_dni").removeClass("error");
        }
        else {
            jQuery("#representant_nom").attr("disabled", false);
            jQuery("#representant_dni").attr("disabled", false);
            jQuery("#representant_nom").addClass("required");
            jQuery("#representant_dni").addClass("required");
        }
        if ($('input[name=soci_titular]:checked', '#contractacio').val() == "1") {
          jQuery("#titular_cognom").val(jQuery("#cognom_soci").val());
          jQuery("#titular_cognom").attr("disabled", true);
        } 
        else {
          if (v) {
            jQuery("#titular_cognom").attr("disabled", false);
          }
          else {
            jQuery("#titular_cognom").attr("disabled", true);
          }
        }

    }
    
    function volfactura(value){
        if (value) {
            jQuery("#adreca_impresa_si").attr("checked", "true");
            jQuery("#adreca_impresa_si").attr("disabled", "");
            jQuery("#adreca_impresa_no").attr("disabled", "");
        }
        else {
            jQuery("#adreca_impresa_si").attr("disabled", "disabled");
            jQuery("#adreca_impresa_no").attr("disabled", "disabled");
            
            jQuery("#impresa_nom").attr('disabled', 'disabled');
            jQuery("#impresa_cognom").attr('disabled', 'disabled');
            jQuery("#impresa_cp").attr('disabled', 'disabled');
            jQuery("#impresa_adreca").attr('disabled', 'disabled');
            jQuery("#impresa_ciutat").attr('disabled', 'disabled');
        }
    }
    
    function canviAdrecaImpres(value){
        if (value) {
            jQuery("#impresa_nom").attr('disabled', '');
            jQuery("#impresa_cognom").attr('disabled', '');
            jQuery("#impresa_cp").attr('disabled', '');
            jQuery("#impresa_adreca").attr('disabled', '');
            jQuery("#impresa_ciutat").attr('disabled', '');
            
            jQuery("#impresa_nom").val("");
            jQuery("#impresa_cognom").val("");
            jQuery("#impresa_cp").val("");
            jQuery("#impresa_adreca").val("");
            jQuery("#impresa_ciutat").val("");
            
        }
        else {
            jQuery("#adreca_impresa_si").attr("disabled", "disabled");
            jQuery("#adreca_impresa_no").attr("disabled", "disabled");
            
            jQuery("#impresa_nom").attr('disabled', 'disabled');
            jQuery("#impresa_cognom").attr('disabled', 'disabled');
            jQuery("#impresa_cp").attr('disabled', 'disabled');
            jQuery("#impresa_adreca").attr('disabled', 'disabled');
            jQuery("#impresa_ciutat").attr('disabled', 'disabled');
            
            jQuery("#impresa_nom").val(jQuery("#nom_soci").val());
            jQuery("#impresa_cognom").val(jQuery("#cognom_soci").val());
            jQuery("#impresa_cp").val(jQuery("#cp_soci").val());
            jQuery("#impresa_adreca").val(jQuery("#adreca_soci").val());
            jQuery("#impresa_ciutat").val(jQuery("#ciutat_soci").val());
        }
    }


</script>
<link rel="stylesheet" type="text/css" href="https://www.somenergia.coop/templates/somenergia/css/template.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.8.17.custom.css') }}"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26322939-4', 'somenergia.coop');
  ga('send', 'pageview');

</script>
</head>
<body>
<form id="contractacio" method="post" action="{{ url_for('contractacio') }}" enctype="multipart/form-data">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <div class="dades_soci">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <ul class=flashes>
                            {% for category, message in messages %}
                            <li class="{{ category }}">
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                        <br/>
                        {{ _("Les dades que demanem en aquest formulari les trobareu en la <b>vostra factura elèctrica actual</b>. Necessitareu també saber el vostre número de compte bancari i número de soci/a.") }}
                        <br/>
                        <br/>
                        {{ _("Un soci/a pot tenir tots els contractes que vulgui al seu nom (com a titular). I es pot fer responsable de com a màxim cinc contractes d'electricitat de titulars diferents.") }}
                        <br/>
                        <br/>
                        {{ _("Si volguéssiu <u>modificar la potència o la tarifa contractada</u>, no ho podeu fer al mateix temps que canvieu a Som Energia. Quan us avisem que teniu el contracte actiu amb nosaltres ens podeu sol·licitar aquest tràmit.") }}
                        <br/>
                        <br/>
                        {{ _("Per demanar nous punts de subministrament (on no hi ha electricitat), s'ha de tramitar amb la distribuïdora de la vostra zona.") }}
                        <br/>
                        <br/>
                        {{ _("Si teniu dret al <u>bo social</u>, ho lamentem però no el podreu tramitar amb Som Energia. Per llei, només s'aplica aquest descompte si es té contractada la tarifa d'últim recurs (TUR) amb una de les cinc grans empreses comercialitzadores (CUR) autoritzades.") }}
                        <br/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <div id="obligatoris">
                        {{ _("(*) Camps obligatoris") }}
                    </div>
                    <br>
                    <div id="claus_usuaris">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Número de soci/a*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="id_soci" type="text" name="id_soci" value={% if 'id_soci' in form_json %} "{{ form_json['id_soci'] }}" {% else %} "{{ request.form['id_soci'] }}" {%  endif %} onchange="obtener_datos_socio()">
                                    </td>
                                    <td>
                                        <div class="titol">
                                            {{ _("DNI/NIE*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="dni" type="text" name="dni" value={% if 'dni' in form_json %} "{{ form_json['dni'] }}" {% else %} "{{ request.form['dni'] }}" {% endif %} onchange="obtener_datos_socio()">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="verifica_dades" style="display: none; ">
                        <p style="color:red;">
                            {{ _("Soci/a no trobat. Verifica les dades.") }}
                        </p>
                        <p>
                            {{ _("No ets soci/a?") }} <a href={{ request.args.get('lang', False) and "/soci?lang=" + request.args.get('lang') or "/soci" }}>{{ _("Fes-te soci/a!") }}</a>
                        </p>
                    </div>
                    <div id="verifica_dades_exist" style="display: none; ">
                        <p style="color:red;">
                            {{ _("Aquest/a soci/a ja ha fet el màxim nombre de contractes de llum permesos. Posis en contacte amb <a href=\"mailto: comercialitzacio@somenergia.coop\" tabindex=\"-1\">comercialitzacio@somenergia.coop</a> per fer-ne un de nou.") }}
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="carregar_dades" type="button" value="{{ _('Carregar dades') }}" onclick="obtener_datos_socio()">
                </td>
            </tr>
            <tr>
                <td>
                    <div id="info_personal_usuari">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="90">
                                    </td>
                                    <td width="350">
                                    </td>
                                    <td width="90">
                                    </td>
                                    <td width="170">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Nom") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="nom_soci" type="text" name="nom" disabled="disabled">
                                    </td>
                                    <td colspan="2">
                                        <div class="titol">&nbsp;</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Cognoms") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        <input id="cognom_soci" type="text" name="cognom" disabled="disabled">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Telèfon 1") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="tel_soci" maxlength="12" type="text" name="tel" disabled="disabled">
                                    </td>
                                    <td>
                                        <div class="titol">
                                            {{ _("Telèfon 2") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="tel_soci2" maxlength="12" type="text" name="tel2" disabled="disabled">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("E-mail") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        <input id="email_soci" type="text" name="email" class="email" disabled="disabled">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Adreça") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        <input id="adreca_soci" type="text" name="adreca" disabled="disabled">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Municipi") }}
                                        </div>
                                    </td>
                                    <td>
                                        <select id="soci_municipi" name="soci_municipi" disabled="true" value="">
                                        </select>

                                    </td>
                                    <td>
                                        <div class="titol">
                                            {{ _("Codi postal") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="cp_soci" type="text" name="cp" disabled="disabled" maxlength="5">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Província") }}
                                        </div>
                                    </td>
                                    <td>
                                        <span>
                                            <select id="soci_provincia" name="provincia" disabled="true">
                                            </select>
                                        </span>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dades_soci">
                        {{ _("Si aquestes dades són incorrectes i/o incompletes i voleu que les actualitzem, podeu enviar un correu a <a href=\"mailto:info@somenergia.coop\">info@somenergia.coop</a>.") }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="apartat">
                        <br>
                        <b>{{ _("Dades titular del nou contracte punt de consum.") }}</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="dades_titular">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="250">
                                    </td>
                                    <td width="450">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("El/la titular és una persona física o jurídica?*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <span><input type="radio" id="persona_fisica" value="0" name="tipus_persona" onclick="personafisica(true)" {%  if 'tipus_persona' in form_json and form_json['tipus_persona'] =='0' or request.form.get('tipus_persona',  '0')  == '0' %}  checked="checked" {%  endif %}/>
                                            <label for="persona_fisica">
                                                {{ _("Física (particular)") }}
                                            </label>
                                            <input type="radio" id="persona_juridica" value="1" name="tipus_persona" onclick="personafisica(false)" value="1" {%  if 'tipus_persona' in form_json and form_json['tipus_persona'] =='1' or request.form.get('tipus_persona',  '0')  == '1' %}  checked="checked" {%  endif %}/>
                                            <label for="persona_juridica">
                                                {{ _("Jurídica (empresa)") }}
                                            </label>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("El contracte canvia de titular?*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <span><input class="jomTips" title="{{ _("Ajuda!::Comparat amb el vostre contracte actual, al nou contracte voleu posar una altre persona de titular?") }}" type="radio" id="canvi_titular_no" value="0" name="canvi_titular" {%  if 'canvi_titular' in form_json and form_json['canvi_titular'] =='0' or request.form.get('canvi_titular',  '0')  == '0' %}  checked="checked" {%  endif %}/>
                                            <label class="jomTips" title="Ajuda!::Comparat amb el vostre contracte actual, al nou contracte voleu posar una altre persona de titular?" for="canvi_titular_no">
                                                {{ _("No") }}
                                            </label>
                                            <input class="jomTips" title="{{ _("Ajuda!::Comparat amb el vostre contracte actual, al nou contracte voleu posar una altre persona de titular?") }}" type="radio" id="canvi_titular_si" value="1" name="canvi_titular" {%  if 'canvi_titular' in form_json and form_json['canvi_titular'] =='1' or request.form.get('canvi_titular',  '0')  == '1' %}  checked="checked" {%  endif %}/>
                                            <label class="jomTips" title="{{ _("Ajuda!::Comparat amb el vostre contracte actual, al nou contracte voleu posar una altre persona de titular?") }}" for="canvi_titular_si">
                                                {{ _("Sí") }}
                                            </label>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("El soci/a és titular del nou contracte?*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <span><input class="jomTips" title="{{ _("Ajuda!::Opció per facilitar l'entrada de dades repetides, si es dona el cas") }}" type="radio" id="soci_titular_no" value="0" name="soci_titular" {%  if 'soci_titular' in form_json and form_json['soci_titular'] == '0' or request.form.get('soci_titular',  '1')  == '0' %}  checked="checked" {% endif %}  onclick="canviaeltitular(true)">
                                            <label class="jomTips" title="{{ _("Ajuda!::Opció per facilitar l'entrada de dades repetides, si es dona el cas") }}" for="soci_titular_no">
                                                {{ _("No") }}
                                            </label>
                                            <input class="jomTips" title="{{ _("Ajuda!::Opció per facilitar l'entrada de dades repetides, si es dona el cas") }}" type="radio" id="soci_titular_si" value="1" name="soci_titular" {%  if 'soci_titular' in form_json %} {% if form_json['soci_titular'] == '1' %} checked="checked" {% endif %} {% else %} {% if request.form.get('soci_titular',  '1')  == '1' %}  checked="checked" {% endif %} {% endif %} onclick="canviaeltitular(false)">
                                            <label class="jomTips" title="{{ _("Ajuda!::Opció per facilitar l'entrada de dades repetides, si es dona el cas") }}" for="soci_titular_si">
                                                {{ _("Sí") }}
                                            </label>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                     </td>
                  </tr>
               </table>  
               <br>
               <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr>
                        <td width="150">
                        </td>
                        <td width="200">
                        </td>
                        <td width="75">
                        </td>
                        <td width="172">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="titol" id="repr_nom">
                                {{ _("Persona representant de l'empresa") }}
                            </div>
                        </td>
                        <td>
                            <input id="representant_nom" type="text" name="representant_nom" value={% if 'representant_nom' in form_json %} "{{ form_json['representant_nom'] }}" {% else %} "{{ request.form['representant_nom'] }}" {% endif %} {% if form_json %} {% if form_json.get('representant_nom', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('representant_nom', '1') == '1' %} disabled=true {% endif %}{% endif %}>
                        </td>
                        <td>
                            <div class="titol" id="repr_dni">
                                {{ _("DNI") }}
                            </div>
                        </td>
                        <td>
                            <input id="representant_dni" type="text" name="representant_dni" value={% if 'representant_dni' in form_json %} "{{ form_json['representant_dni'] }}" {% else %} "{{ request.form['representant_dni'] }}" {% endif %} {% if form_json %} {% if form_json.get('representant_dni', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('representant_dni', '1') == '1' %} disabled=true {% endif %}{% endif %} onchange="check_vat($('#representant_dni'))">
                        </td>
                    </tr>
                  </tbody>
               </table>
               <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr>
                        <td>
                        <br>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="90">
                                    </td>
                                    <td width="350">
                                    </td>
                                    <td width="90">
                                    </td>
                                    <td width="170">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol" id="tipus_nom">
                                            {{ _("Nom o raó social*") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        <input id="titular_nom" type="text" name="titular_nom" value={% if 'titular_nom' in form_json %} "{{ form_json['titular_nom'] }}" {% else %} "{{ request.form['titular_nom'] }}" {% endif %} {% if form_json %} {% if form_json.get('soci_titular', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('soci_titular', '1') == '1' %} disabled=true {% endif %}{% endif %}>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Cognoms*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" id="titular_cognom" name="titular_cognom" value={% if 'titular_cognom' in form_json %} "{{ form_json['titular_cognom'] }}" {% else %} "{{ request.form['titular_cognom'] }}" {% endif %} {% if form_json %} {% if form_json.get('soci_titular', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('soci_titular', '1') == '1' %} disabled=true {% endif %}{% endif %}>
                                    </td>
                                    <td>
                                        <div class="titol">
                                            {{ _("DNI/NIE*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" name="titular_dni" id="titular_dni" value={% if 'titular_dni' in form_json %} "{{ form_json['titular_dni'] }}" {% else %} "{{ request.form['titular_dni'] }}" {% endif %} {% if form_json %} {% if form_json.get('soci_titular', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('soci_titular', '1') == '1' %} disabled=true {% endif %}{% endif %} onchange="check_vat($('#titular_dni'))">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Telèfon 1") }}*
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" name="titular_tel" maxlength="12" id="titular_tel" value={% if 'titular_tel' in form_json %} "{{ form_json['titular_tel'] }}" {% else %} "{{ request.form['titular_tel'] }}" {% endif %} {% if form_json %} {% if form_json.get('soci_titular', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('soci_titular', '1') == '1' %} disabled=true {% endif %}{% endif %}>
                                    </td>
                                    <td>
                                        <div class="titol">
                                            {{ _("Telèfon 2") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" name="titular_tel2" maxlength="12" id="titular_tel2" value={% if 'titular_tel2' in form_json %} "{{ form_json['titular_tel2'] }}" {% else %} "{{ request.form['titular_tel2'] }}" {% endif %} {% if form_json %} {% if form_json.get('soci_titular', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('soci_titular', '1') == '1' %} disabled=true {% endif %}{% endif %}>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("E-mail*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="titular_email" type="text" name="titular_email" value={% if 'titular_email' in form_json %} "{{ form_json['titular_email'] }}" {% else %} "{{ request.form['titular_email'] }}" {% endif %} {% if form_json %} {% if form_json.get('soci_titular', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('soci_titular', '1') == '1' %} disabled=true {% endif %}{% endif %}>
                                    </td>
                                    <td>
                                        <div class="titol">
                                            {{ _("Codi postal*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="titular_cp" type="text" name="titular_cp" value={% if 'titular_cp' in form_json %} "{{ form_json['titular_cp'] }}" {% else %} "{{ request.form['titular_cp'] }}" {% endif %} {% if form_json %} {% if form_json.get('soci_titular', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('soci_titular', '1') == '1' %} disabled=true {% endif %}{% endif %}>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Adreça*") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        <input id="titular_adreca" type="text" name="titular_adreca" value={% if 'titular_adreca' in form_json %} "{{ form_json['titular_adreca'] }}" {% else %} "{{ request.form['titular_adreca'] }}" {% endif %} {% if form_json %} {% if form_json.get('soci_titular', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('soci_titular', '1') == '1' %} disabled=true {% endif %}{% endif %}>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Província") }}
                                        </div>
                                    </td>
                                    <td>
                                        <span>
                                            <select id="titular_provincia" name="titular_provincia" value={% if 'titular_provincia' in form_json %} "{{ form_json['titular_provincia'] }}" {%else%} "{{ request.form['titular_provincia'] }}" {% endif %}  onchange="get_municipis('titular')" {% if form_json %} {% if form_json.get('soci_titular', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('soci_titular', '1') == '1' %} disabled=true {% endif %}{% endif %}>
                                            </select>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="titol">
                                            {{ _("Municipi*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <select id="titular_municipi" name="titular_municipi" value={% if 'titular_municipi' in form_json %} "{{ form_json['titular_municipi'] }}" {% else %} "{{ request.form['titular_municipi'] }}" {% endif %} {% if form_json %} {% if form_json.get('soci_titular', '1')  == '1' %} disabled=true {% endif %} {% else %} {% if request.form.get('soci_titular', '1') == '1' %} disabled=true {% endif %}{% endif %}>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="apartat">
                        <br><br>
                        <b>{{ _("Dades del punt de consum. ") }}</b>
                        <i>{{ _("Copiar les dades exactes de la instal·lació <b>actual</b>. Recomanable enviar còpia de la <b>última</b> factura</i>") }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="dades_consum_usuari">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="215">
                                    </td>
                                    <td width="180">
                                    </td>
                                    <td width="150">
                                    </td>
                                    <td width="165">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Tarifa*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <span>
                                            <select id="tarifa" name="tarifa" class="jomTips" title="{{ _("Ajuda!::Ho trobareu a la vostra factura actual. Podeu trobar més informació a l'apartat FAQ") }}">
                                                <option value=""> {{ _("Escull una") }} </option>
                                                <option {%  if 'tarifa' in form_json and form_json['tarifa'] == '2.0A' or request.form['tarifa'] == '2.0A' %}  selected="selected" {%  endif %}  value="2.0A">2.0A  </option>
                                                <option {%  if 'tarifa' in form_json and form_json['tarifa'] == '2.0DHA' or request.form['tarifa'] == '2.0DHA' %}  selected="selected" {%  endif %}  value="2.0DHA">2.0DHA  </option>
                                                <option {%  if 'tarifa' in form_json and form_json['tarifa'] == '2.1A' or request.form['tarifa'] == '2.1A' %}  selected="selected" {%  endif %}  value="2.1A">2.1A  </option>
                                                <option {%  if 'tarifa' in form_json and form_json['tarifa'] == '2.1DHA' or request.form['tarifa'] == '2.1DHA'%}  selected="selected" {%  endif %}  value="2.1DHA">2.1DHA  </option>
                                                <option {%  if 'tarifa' in form_json and form_json['tarifa'] == '3.0A' or request.form['tarifa'] == '3.0A'%}  selected="selected" {%  endif %}  value="3.0A">3.0A  </option>
                                            </select>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("CUPS*") }}
                                        </div>
                                    </td>
                                    <!-- required cups-->
                                    <td>
                                        <input id="cups" type="text" name="cups" value={% if 'cups' in form_json %} "{{ form_json['cups'] }}" {% else %} "{{ request.form['cups'] }}" {% endif %} class="jomTips" title="{{ _("Ajuda!::Ho trobareu a la vostra factura actual. És un codi de 20 o 22 xifres i lletres") }}" onchange="check_cups()"/>
                                    </td>
                                    <td>
                                        <div class="titol">
                                            {{ _("Consum anual estimat (kWh)") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="consum" type="text" name="consum" value={% if 'consum' in form_json %} "{{ form_json['consum'] }}" {% else %} "{{ request.form['consum'] }}" {% endif %}" class="digits">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Potència contractada* (W)") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="potencia" type="text" maxlength="5" name="potencia" value={% if 'potencia' in form_json %} "{{ form_json['potencia'] }}" {% else %} "{{ request.form['potencia'] }}" {% endif %} class="number jomTips" title="{{ _("Ajuda!::Si teniu 3.3kW, escriviu 3300. Si teniu 4.4kW, escriviu 4400 ...") }}"/>
                                    </td>
                                    <td>
                                        <div class="titol">
                                            {{ _("CNAE*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <input id="cnae" type="text" maxlength="5" name="cnae" value={% if 'cnae' in form_json %} "{{ form_json['cnae'] }}" {% else %} "{{ request.form['cnae'] }}" {% endif %} class="digits jomTips" title="{{ _("Ajuda!::En cas d'habitatges: 9820. En cas d'empreses, el de la vostra activitat economica") }}" onchange="check_cnae()"/>
                                        <div style="font-size:smaller;" id="cnae_message">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Adreça*") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        <input id="cups_adreca" type="text" name="cups_adreca" class="required" value={% if 'cups_adreca' in form_json %} "{{ form_json['cups_adreca'] }}" {% else %} "{{ request.form['cups_adreca'] }}" {% endif %}>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Província*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <span>
                                            <select id="cups_provincia" name="cups_provincia" value={% if 'cups_provincia' in form_json %} "{{ form_json['cups_provincia'] }}" {% else %} "{{ request.form['cups_provincia'] }}" {% endif %} onchange="get_municipis('cups')">
                                            </select>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="titol">
                                            {{ _("Municipi*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <span>
                                            <select id="cups_municipi" name="cups_municipi" value={% if 'cups_municipi' in form_json %} "{{ form_json['cups_municipi'] }}" {% else %} "{{ request.form['cups_municipi'] }}" {% endif %}>
                                            </select>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            {{ _("Referència cadastral de l'immoble") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        <input id="referencia" type="text" name="referencia" value={% if 'referencia' in form_json %} "{{ form_json['referencia'] }}" {% else %} "{{ request.form['referencia'] }}" {% endif %}>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <a target="_blank" href="https://www1.sedecatastro.gob.es/OVCFrames.aspx?TIPO=CONSULTA">{{ _("Consulta aquí") }}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="adjuntar_fitxer" class="adjuntar_fitxer">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="titol">
                                                {{ _("Adjuntar última factura elèctrica (PDF o JPG - 4MB màxim") }}
                                            </div>
                                        </td>
                                        <td>
                                            <input id="fitxer" type="file" name="fitxer" style="height:30px;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="apartat">
                        <br>
                        <b>{{ _("Dades de pagament.") }}</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <table id="sel_pagament" width="100%" border="0" cellpadding="0" cellspacing="0">
                         <tbody>
                             <tr>
                                 <td width="79">
                                 </td>
                                 <td width="320">
                                 </td>
                             </tr>
                             <tr>
                                <td>
                                    <div class="titol">
                                        {{ _("Titular del compte*") }}
                                    </div>                   
                                </td>
                                <td>
                                    <span>
                                        <select id="escull_pagador" name="escull_pagador" class="jomTips" title="{{ _("Escull qui és el titular del compte bancari") }}" onchange="omplir_pagador()">
                                            <option value=""> {{ _("Escull una") }} </option>
                                            <option {%  if 'escull_pagador' in form_json and form_json['escull_pagador'] == 'soci' or request.form['escull_pagador'] == 'soci' %}  selected="selected" {%  endif %}  value="soci">{{ _("Soci/a de Som Energia") }}</option>
                                            <option {%  if 'escull_pagador' in form_json and form_json['escull_pagador'] == 'titular' or request.form['escull_pagador'] == 'titular' %}  selected="selected" {%  endif %}  value="titular">{{ _("Titular del contracte electricitat") }}</option>
                                            <option {%  if 'escull_pagador' in form_json and form_json['escull_pagador'] == 'altre' or request.form['escull_pagador'] == 'altre' %}  selected="selected" {%  endif %}  value="altre">{{ _("Altre") }}</option>
                                        </select>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <td>
              </tr>
              <tr>
              <td>
                 <div id="dades_pagament_usuari" style="display: none;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                         <tbody>
                             <tr>
                                 <td width="220">
                                 </td>
                                 <td width="320">
                                 </td>
                                 <td width="120">
                                 </td>
                                 <td width="220">
                                 </td>
                             </tr>
                             <tr>
                                <td>
                                   <div class="titol">
                                       {{ _("Nom o raó social*") }}
                                   </div>
                                </td>
                                <td>
                                    <input id="compte_nom" type="text" name="compte_nom" value={% if 'compte_nom' in form_json %} "{{ form_json['compte_nom'] }}" {% else %} "{{ request.form['compte_nom'] }}" {% endif %} >
                                </td>
                                <td>
                                   <div class="titol">
                                       {{ _("Cognoms") }}
                                   </div>
                                </td>
                                <td>
                                    <input id="compte_cognom" type="text" name="compte_cognom" value={% if 'compte_cognom' in form_json %} "{{ form_json['compte_cognom'] }}" {% else %} "{{ request.form['compte_cognom'] }}" {% endif %} >
                                </td>
                             </tr><tr>
                                <td>
                                   <div class="titol">
                                       {{ _("DNI o NIF*") }}
                                   </div>
                                </td>
                                <td>
                                  <label for="compte_dni">
                                    <input id="compte_dni" type="text" name="compte_dni" value={% if 'compte_dni' in form_json %} "{{ form_json['compte_dni'] }}" {% else %} "{{ request.form['compte_dni'] }}" {% endif %} onchange="check_vat($('#compte_dni'))">
                                  </label>
                                </td>
                                <td>
                                   <div class="titol">
                                       {{ _("E-mail*") }}
                                   </div>
                                </td>
                                <td>
                                  <label for="compte_email">
                                    <input id="compte_email" type="text" name="compte_email" value={% if 'compte_email' in form_json %} "{{ form_json['compte_email'] }}" {% else %} "{{ request.form['compte_email'] }}" {% endif %}>
                                  </label>
                                </td>
                             </tr><tr>
                                <td>
                                    <div class="titol">
                                        {{ _("Telèfon 1") }}*
                                    </div>
                                </td>
                                <td>
                                    <input id="compte_tel" type="text" maxlength="12" name="compte_tel" value={% if 'compte_tel' in form_json %} "{{ form_json['compte_tel'] }}" {% else %} "{{ request.form['compte_tel'] }}" {% endif %} >
                                </td>
                                <td>
                                    <div class="titol">
                                        {{ _("Telèfon 2") }}
                                    </div>
                                </td>
                                <td>
                                    <input id="compte_tel2" type="text" maxlength="12" name="compte_tel2" value={% if 'compte_tel2' in form_json %} "{{ form_json['compte_tel2'] }}" {% else %} "{{ request.form['compte_tel2'] }}" {% endif %} >
                                </td>
                             </tr>
                             <tr>
                                <td>
                                    <div class="titol">
                                        {{ _("Adreça*") }}
                                    </div>
                                </td>
                                <td>
                                    <input id="compte_adreca" type="text" name="compte_adreca" value={% if 'compte_adreca' in form_json %} "{{ form_json['compte_adreca'] }}" {% else %} "{{ request.form['compte_adreca'] }}" {% endif %} >
                                </td>
                                <td>
                                    <div class="titol">
                                        {{ _("Codi postal*") }}
                                    </div>
                                </td>
                                <td>
                                    <input id="compte_cp" type="text" name="compte_cp" value={% if 'compte_cp' in form_json %} "{{ form_json['compte_cp'] }}" {% else %} "{{ request.form['compte_cp'] }}" {% endif %} >
                                </td>
                             </tr>
                             <tr>
                                 <td>
                                     <div class="titol">
                                         {{ _("Província*") }}
                                     </div>
                                 </td>
                                 <td>
                                     <span>
                                         <select id="compte_provincia" name="compte_provincia" value={% if 'compte_provincia' in form_json %} "{{ form_json['compte_provincia'] }}" {%else%} "{{ request.form['compte_provincia'] }}" {% endif %}  onchange="get_municipis('compte')" >
                                         </select>
                                     </span>
                                 </td>
                                 <td>
                                     <div class="titol">
                                         {{ _("Municipi*") }}
                                     </div>
                                 </td>
                                 <td>
                                    <span> 
                                        <select id="compte_municipi" name="compte_municipi" value={% if 'compte_municipi' in form_json %} "{{ form_json['compte_municipi'] }}" {% else %} "{{ request.form['compte_municipi'] }}" {% endif %} >
                                        </select>
                                    </span>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
                 <div id="banc_acc_pagament">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                         <tbody>
                             <tr>
                                 <td width="220">
                                 </td>
                                 <td width="320">
                                 </td>
                                 <td width="120">
                                 </td>
                                 <td width="220">
                                 </td>
                             </tr>
                             <tr>
                                <td>
                                   <div class="titol">
                                       {{ _("Número compte bancari*") }}
                                   </div>
                                </td>
                                <td colspan="3">
                                   <div id="ccc" style="border: 0px solid #fff; width:350px; padding: 0px;">
                                        <input class="bancNumber" id="hentitat" name="entitat" maxlength="4" type="text" value={% if 'entitat' in form_json %} "{{ form_json['entitat'] }}" {% else %} "{{ request.form['entitat'] }}" {% endif %} onchange="check_acc_number()" >
                                        -
                                        <input class="bancNumber" id="hsucursal" name="sucursal" maxlength="4" type="text" value={% if 'sucursal' in form_json %} "{{ form_json['sucursal'] }}" {% else %} "{{ request.form['sucursal'] }}" {% endif %} onchange="check_acc_number()">
                                        -
                                        <input class="bancNumber" id="hcontrol" name="control" maxlength="2" type="text" value={% if 'control' in form_json %}"{{ form_json['control'] }}" {% else %} "{{ request.form['control'] }}" {% endif %} onchange="check_acc_number()">
                                        -
                                        <input class="bancNumber" id="hncompte" name="ncompte" maxlength="10" type="text" value={% if 'ncompte' in form_json %}"{{ form_json['ncompte'] }}" {% else %} "{{ request.form['ncompte']  }}" {% endif %} onchange="check_acc_number()">
                                        <div id="acc_number_message" style="font-weight: bolder; padding-top: 0px;">
                                        </div>
                                   </div>
                                </td>
                             </tr>
                         </tbody>
                    </table>
                 </div>
               </td>
            </tr>
            <tr>
                <td>
                    <div class="apartat">
                        <br><br>
                        <b>{{ _("Donatiu voluntari.") }}</b>
                        <br>
                    </div>
                    <div class="dades_soci">
                        {{ _("Segons la voluntat expressada durant l’Assemblea General de socis i sòcies, és possible fer una aportació extra per ajudar al desenvolupament de la cooperativa. Aquesta aportació voluntària representa per a un consum mitjà d’una família (aprox. 300 kWh/mes) un increment de 3€ mensuals.") }}
                    </div>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="donatiu">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="titol">
                                            <label for="donatiu">
                                                <input name="donatiu" type="checkbox" id="donatiu" value="1" {% if form_json and form_json.get('donatiu',  False)  or request.form.get('donatiu', False) %}  checked="checked" {%  endif %}>&nbsp;&nbsp; {{ _("Incloure a la factura 0.01€/kWh consumit") }}
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="condicions">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <label for="condicions_titular">
                                            <input name="condicions_titular" type="checkbox" id="condicions_titular" value="1">&nbsp;&nbsp;
                                            {{ _("Confirmo que el titular del compte bancari autoritza la domiciliació de les factures d'electricitat") }}
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="condicions">
                                            <input name="condicions" type="checkbox" id="condicions" value="1">&nbsp;&nbsp; 
                                            {{ _("He llegit i accepto les <a target=\"_blank\" href=\"https://somenergia.coop/condicions-generals-de-contracte\">condicions generals del contracte</a> de subministrament d'energia elèctrica") }} 
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="condicions_privacitat">
                                            <input name="condicions_privacitat" type="checkbox" id="condicions_privacitat" value="1">&nbsp;&nbsp; 
                                            {{ _("He llegit i accepto la <a href=\"http://www.somenergia.coop/politica-de-privacitat\" target=\"_blank\">política de privacitat</a> de dades") }}
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table><input type="submit" id="enviar_dades" value="{{ _('Enviar dades') }}">
    <div id="notes_legals_narrow">
        {{ _("Si per alguna raó teniu problemes per omplir la informació d’aquest formulari, no dubteu en contactar amb nosaltres al 972.183.386 o enviar un correu electrònic a <a href=\"mailto:comercialitzacio@somenergia.coop\">comercialitzacio@somenergia.coop</a>.") }}
    </div>
    <div id="notes_legals_narrow">
        <strong>{{ _("Política de privacitat") }}</strong>
        <br>
        <br>
        {{ _("Les dades que ens proporcioneu seran incorporades a un fitxer de titularitat de SOM ENERGIA, SCCL creat amb finalitats d’atendre les sol·licituds d’informació. En qualsevol moment podeu exercir els vostres drets d’accés, rectificació, oposició i cancel·lació adreçant-vos a les oficines del carrer Pic de Peguera, 15, despatx 16 del Parc Científic i Tecnològic de la UdG, 17003 – Girona o bé escrivint a <a href=\"mailto:info@somenergia.coop\">info@somenergia.coop</a>.") }}
        <br>
    </div>
</form>
</body>
</html>
