<!doctype html>
<html>
    <head>
        <title>Contractació OK</title>
        <link rel="stylesheet" type="text/css" href="https://www.somenergia.coop/templates/somenergia/css/template.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    	<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
  	ga('create', 'UA-26322939-4', 'somenergia.coop');
  	ga('send', 'pageview');
	</script>
    </head>
	<style type="text/css">
		body {
			margin-top: 25px;
		}
		p {
			padding-bottom: 10px;
		}
	</style>
    <body>
        <p>
            Ja has completat el procés per contractar el teu subministre elèctric a través de la cooperativa Som Energia.
        </p>
        <p>
            Amb les dades que ens has facilitat, farem la tramitació administrativa necessària per comunicar la teva decisió de canviar de comercialitzadora.
        </p>
        <p>
        Normalment el tràmit de canvi de comercialitzadora és senzill, però si hi ha alguna problema, ens posarem en contacte amb vosaltres. Us anirem informant de com avança el vostre procés de canvi (acceptació, confirmació, primera lectura, etc.) però tingueu en compte que pot trigar entre 2 i 3 mesos.
        <p>
            El procés és el següent:
        </p>
        <ul>
            <li>
                En unes setmanes ens comunicaran si s’accepta el canvi directament o si requereixen més informació. Si fos així, us ho comunicaríem ràpidament per reunir la informació que faltés.
            </li>
            <li>
                Una vegada acceptat el canvi, no serà efectiu fins passades unes altres setmanes (a vegades poden ser un parell de mesos) en funció de que l’empresa distribuïdora de la vostra zona passi a fer una lectura real del comptador.
            </li>
            <li>
                A partir del moment que es tingui aquesta lectura del comptador, ja sereu considerats clients de Som Energia. I l’electricitat a partir d’aquell moment us la facturarà la cooperativa puntualment.
            </li>
        </ul>
        <p>
            Moltes gràcies per escollir consumir bona energia!
        </p>
        <p>
            Enllaços d'interès:
        </p>
        <a href="https://www.somenergia.coop/condicions-generals-de-contracte">Link Condicions Generals del contracte</a>
        <br/>
        <a href="https://www.somenergia.coop/tarifes">Link Tarifes de Som Energia</a>
        <p>
            Atentament,
        </p>
        <p>
            Equip de Som Energia
            <br/>
            <a href="mailto:comercialitzacio@somenergia.coop">comercialitzacio@somenergia.coop</a>
        </p>
    </body>
</html>
