{% include '__base.html' %}

<script type="text/javascript">
	function disable_fwd() {
		$('#send_btn').attr("disabled", "disabled");
		$('#back_btn').attr("disabled", "disabled");
        document.contractacions.action = "{{ url_for('contractacio_confirmar') }}"
		$('#contractacions').submit();
	}

	function disable_bkw() {
		$('#send_btn').attr("disabled", "disabled");
		$('#back_btn').attr("disabled", "disabled");
        document.contractacions.action = "{{ url_for('contractacio_desfer') }}"
		$('#contractacions').submit();
	}
</script>

<form id="contractacions" name="contractacions" method="post">
<div id="confirmacio_contractacio">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td><br>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="170"></td>
                                <td width="530">
                                    <div class="msg_confirmacio"> {{ _("Revisió i confirmació de les dades") }} </div>
                                    <br>
                                </td>
                            <tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <div class="apartat_confirmacio">
                        <b>{{ _("Dades soci/a.") }}</b>
                    </div>
                    <div id="claus_usuaris">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="150">
                                    </td>
                                    <td width="100">
                                    </td>
                                    <td width="90">
                                    </td>
                                    <td width="360">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Número de soci/a*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['id_soci'] }}
                                    </td>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("DNI/NIE/CIF*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['dni'] }}
                                    </td>
                                </tr><tr><td><br></td></tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="info_personal_usuari">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="90">
                                    </td>
                                    <td width="350">
                                    </td>
                                    <td width="90">
                                    </td>
                                    <td width="170">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Nom") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['info_soci']['nom'] }}
                                    </td>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Telèfon") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['info_soci']['tel'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Cognoms") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        {{ fields['info_soci']['cognom'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("E-mail") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        {{ fields['info_soci']['email'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Adreça") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        {{ fields['info_soci']['adreca'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Municipi") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['info_soci']['ciutat'] }}
                                    </td>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Codi postal") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['info_soci']['cp'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
										<div class="titol_confirmacio">
											{{ _("Província") }}
										</div>
                                    </td>
									<td>
                                        {{ fields['info_soci']['provincia_nom'] }}
									</td>
									<td>
                                    </td>
									<td>
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="apartat_confirmacio">
                        <b>{{ _("Dades titular del nou contracte punt de consum.") }}</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="dades_titular">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="300">
                                    </td>
                                    <td width="400">
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("El titular és una persona física o jurídica?*") }}
                                        </div>
                                    </td>
                                    <td><span>
                                            {%  if fields['form'].get('tipus_persona',  '0')  == '0' %}
                                            <label>
                                                {{ _("Física (particular)") }}
                                            </label>
                                            {% else %}
                                            <label>
                                                {{ _("Jurídica (empresa)") }}
                                            </label>
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("El contracte canvia de titular?*") }}
                                        </div>
                                    </td>
                                    <td><span>
                                            {%  if fields['form'].get('canvi_titular',  '0')  == '0' %}
                                            <label>
                                                {{ _("No") }}
                                            </label>
                                            {% else %}
                                            <label>
                                                {{ _("Si") }}
                                            </label>
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("El soci/a és el titular del nou contracte?*") }}
                                        </div>
                                    </td>
                                    <td>
                                        <span>
                                            {%  if fields['form'].get('soci_titular',  '0')  == '0' %}
                                            <label>
                                                {{ _("No") }}
                                            </label>
                                            {% else %}
                                            <label>
                                                {{ _("Si") }}
                                            </label>
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                           <tbody>
                              <tr>
                                 <td width="150">
                                 </td>
                                 <td width="200">
                                 </td>
                                 <td width="75">
                                 </td>
                                 <td width="172">
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     <div class="titol_confirmacio" id="repr_nom">
                                         {{ _("Persona representant de l'empresa") }}
                                     </div>
                                 </td>
                                 <td>
                                     {{ fields['form']['representant_nom'] }}
                                 </td>
                                 <td>
                                     <div class="titol_confirmacio" id="repr_dni">
                                         {{ _("DNI") }}
                                     </div>
                                 </td>
                                 <td>
                                     {{ fields['form']['representant_dni'] }}
                                 </td>
                             </tr>
                           </tbody>
                        </table>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="90">
                                    </td>
                                    <td width="350">
                                    </td>
                                    <td width="90">
                                    </td>
                                    <td width="170">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Nom*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['titular_nom'] }}
                                    </td>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Telèfon") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['titular_tel'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Cognoms*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['titular_cognom'] }}
                                    </td>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("DNI/NIE/CIF*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['titular_dni'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("E-mail") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        {{ fields['form']['titular_email'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Adreça*") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        {{ fields['form']['titular_adreca'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Municipi*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['titular_municipi_nom'] }}
                                    </td>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Codi postal*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['titular_cp'] }}
                                    </td>
                                </tr>
                                <tr>
                                	<td>
										<div class="titol_confirmacio">
											{{ _("Província") }}
										</div>
									</td>
									<td>
                                        {{ fields['form']['titular_provincia_nom'] }}
									</td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="apartat_confirmacio">
                        <b>{{ _("Dades del punt de consum.") }}</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="dades_consum_usuari">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="215">
                                    </td>
                                    <td width="180">
                                    </td>
                                    <td width="150">
                                    </td>
                                    <td width="165">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Tarifa*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['tarifa'] }}
                                    </td>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Consum anual estimat (kWh)") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['consum'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("CUPS*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['cups'] }}
                                    </td>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("CNAE*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['cnae'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Potència contractada* (W)") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['potencia'] }}
                                    </td>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Propietat comptador") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['propietat_comptador'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Adreça*") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        {{ fields['form']['cups_adreca'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Provincia*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['cups_provincia_nom'] }}
                                    </td>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Municipi*") }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ fields['form']['cups_municipi_nom'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titol_confirmacio">
                                            {{ _("Referència catastral de l'immoble") }}
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        {{ fields['form']['referencia'] }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="adjuntar_fitxer">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td width="180">
                                        </td>
                                        <td width="520">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="titol_confirmacio">
                                                {{ _("Factura adjuntada") }}
                                            </div>
                                        </td>
                                        <td><span>
                                            {%  if fields['factura'] %}
                                            <label>
                                                {{ fields['factura']['name'] }}
                                            </label>
                                            {% else %}
                                            <label>
                                                {{ _("No") }}
                                            </label>
                                            {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="apartat_confirmacio">
                        <b>{{ _("Dades de pagament.") }}</b>
                    </div>
                </td>
            </tr>
            <tr>
              <td>
                 <div id="dades_pagament_usuari">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                         <tbody>
                             <tr>
                                 <td width="220">
                                 </td>
                                 <td width="320">
                                 </td>
                                 <td width="120">
                                 </td>
                                 <td width="220">
                                 </td>
                             </tr>
                             <tr>
                                <td>
                                   <div class="titol_confirmacio">
                                       {{ _("Nom o raó social*") }}
                                   </div>
                                </td>
                                <td>
                                    {{ fields['form']['compte_nom'] }} 
                                </td>
                                <td>
                                   <div class="titol_confirmacio">
                                       {{ _("Cognoms") }}
                                   </div>
                                </td>
                                <td>
                                    {{ fields['form']['compte_cognom'] }} 
                                </td>
                             </tr><tr>
                                <td>
                                    <div class="titol_confirmacio">
                                        {{ _("DNI o NIF*") }}
                                    </div>
                                </td>
                                <td>
                                    {{ fields['form']['compte_dni'] }} 
                                </td>
                                <td>
                                   <div class="titol_confirmacio">
                                       {{ _("E-mail*") }}
                                   </div>
                                </td>
                                <td>
                                   {{ fields['form']['compte_email'] }} 
                                </td>
                             </tr><tr>
                                <td>
                                    <div class="titol_confirmacio">
                                        {{ _("Telèfon*") }}
                                    </div>
                                </td>
                                <td>
                                       {{ fields['form']['compte_tel'] }} 
                                </td>
                                <td>
                                    <div class="titol_confirmacio">
                                        {{ _("Codi postal*") }}
                                    </div>
                                </td>
                                <td>
                                    {{ fields['form']['compte_cp'] }}
                                </td>
                             </tr>
                             <tr>
                                <td>
                                    <div class="titol_confirmacio">
                                        {{ _("Adreça*") }}
                                    </div>
                                </td>
                                <td colspan="3">
                                    {{ fields['form']['compte_adreca'] }}
                                </td>
                             </tr>
                             <tr>
                                 <td>
                                     <div class="titol_confirmacio">
                                         {{ _("Província*") }}
                                     </div>
                                 </td>
                                 <td>
                                    {{ fields['form']['compte_provincia_nom'] }}
                                 </td>
                                 <td>
                                     <div class="titol_confirmacio">
                                         {{ _("Municipi*") }}
                                     </div>
                                 </td>
                                 <td>
                                    {{ fields['form']['compte_municipi_nom'] }}
                                 </td>
                             </tr>
                             <tr>
                                <td>
                                   <div class="titol_confirmacio">
                                       {{ _("Nº compte bancari*") }}
                                   </div>
                                </td>
                                <td colspan="3">
                                    {{ fields['form']['entitat'] }} - {{ fields['form']['sucursal'] }} - {{ fields['form']['control'] }} - {{ fields['form']['ncompte'] }}
                                </td>
                             </tr>
                         </tbody>
                    </table>
                 </div>
               </td>
            </tr>
            <tr>
                <td>
                    <div class="apartat_confirmacio">
                        <b>{{ _("Donatiu voluntari.") }}</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="donatiu_confirmacio">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="250">
                                    </td>
                                    <td width="50">
                                    </td>   
                                    <td width="400">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="titol_confirmacio">
                                            {{ _("Incloure a la factura 0.01€/kWh consumit:") }}
                                        </div>
                                    </td>
                                    <td>
                                        {%  if fields['form'].get('donatiu',  False) %} {{ _("Si") }} {% else %} {{ _("No") }} {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="apartat_confirmacio">
                        <b>{{ _("Observacions.") }}</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="observacions_soci">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        {{ fields['form']['observacions'] }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="condicions_confirmacio">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td><div>
                                        <label for="condicions_titular_confirmacio">
                                            <input name="condicions_titular" type="checkbox" id="condicions_titular_confirmacio" {%  if fields['form'].get('condicions_titular',  False) %} checked="checked" {%  endif %} disabled="disabled">&nbsp;&nbsp;
                                            {{ _("Confirmo que el titular del compte bancari autoritza la domiciliació de les factures d'electricitat") }}
                                        </label></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="condicions_confirmacio">
                                            <input name="condicions" type="checkbox" id="condicions_confirmacio" {%  if fields['form'].get('condicions',  False) %} checked="checked" {%  endif %} disabled="disabled">&nbsp;&nbsp; 
                                            {{ _("He llegit i accepto les <a target=\"_blank\" href=\"https://somenergia.coop/condicions-generals-de-contracte\">condicions generals del contracte</a> de subministrament d'energia elèctrica") }} 
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="condicions_privacitat_confirmacio">
                                            <input name="condicions_privacitat" type="checkbox" id="condicions_privacitat_confirmacio" {%  if fields['form'].get('condicions_privacitat',  False) %} checked="checked" {%  endif %} disabled="disabled">&nbsp;&nbsp; 
                                            {{ _("He llegit i accepto la <a href=\"http://www.somenergia.coop/politica-de-privacitat\" target=\"_blank\">política de privacitat</a> de dades") }}
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="condicions_confirmacio">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="150">
                                    </td>
                                    <td width="550">
                                    </td>   
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <br><br><br>
                                           <b> {{ _("Si les dades són correctes premi <strong> Sí </strong> per finalitzar el procés de contratació.") }} </b>
                                        <br>
                                    </td>
                                </tr>
                                <tr><td></td>
                                    <td>
                                        <div class="form-actions">
                                        	<button id="send_btn" type="button" class="btn btn-success" onclick="disable_fwd()">{{ _("Sí") }}</button>
                                        	<button id="back_btn" type="button" class="btn btn-danger" onclick="disable_bkw()">{{ _("No") }}</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea id="form_json" name="form_json" cols="20" rows="20" style="display:none;">
                        {{ dades_json }}
                    </textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</form>

{% include '__footer.html' %}
