<link rel="stylesheet" type="text/css" href="https://www.somenergia.coop/templates/somenergia/css/template.css">
<style type="text/css">
	body {
		background-color: #fff;
		background-image: none;
	}
</style>
<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="left" valign="top">
                <div class="mod_frase">
                	{% if nom %}
                    <div>
                        <span class="socis">{{ nom }}</span>
                        {{ _("de") }} <span class="socis">{{ poble }}</span>
                        {{ _("s'ha fet soci/a el dia %(dia)s", dia=dia) }}
                    </div>
					{% endif %}
                </div>
            </td>
            <td align="center" valign="top">
                <div class="mod_socis">
                	{% if nsocis > 0 %}
                    <div>
                        {{ _("JA SOM %(nsocis)s  SOCIS/SÒCIES", nsocis=nsocis) }}
                    </div>
					{% endif %}
                </div>
            </td>
        </tr>
    </tbody>
</table>
