{% include '__base.html' %}
{% include '__flash.html' %}

<div id="indicacions">
	<ol>
		<li>{{ _("Per accedir al formulari d'inversió entra el teu número de soci/a i de NIF") }}</li>
		<li>{{ _("Selecciona quin tipus d’inversió vols realizar: aportacions voluntàries al capital social o compra de títols participatius.") }}</li>
		<li>{{ _("Omple el formulari i accepta les condicions") }}</li>
		<li>{{ _("En pocs minuts rebràs un e-mail confirmant que SOM ENERGIA SCCL ha rebut la teva ordre d'inversió") }}</li>
		<li>{{ _("Quan es realitzi el càrrec (en 3-4 dies) al teu compte rebràs un altre e-mail amb les condicions econòmiques de la teva aportació") }}</li>
	</ol>
</div>

<form id="inversions" action="{{ url_for('inversions') }}" method="post">
    <div id="login">
        <div id="username">
            <label for="nsoci">{{ _("Número de soci") }}</label>
            <input id="nsoci" name="nsoci" type="text" class="required"
                   value="{{ request.form['nsoci'] }}"/>
        </div>
        <div id="password">
            <label for="vat">{{ _("NIF/NIE") }}</label>
            <input id="vat" name="vat" type="text" class="required"
                   value="{{ request.form['vat'] }}"/>
        </div>
        <input id="enviar" name="enviar" class="btn btn-primary" type="submit" value="{{ _('Enviar') }}"/>
    </div>
</form>

<script type="text/javascript">
$('#inversions').submit(function() {
    requireds = $('.required');
    requireds.removeClass('error');
    for (var i=0; i<requireds.length; i++) {
          field = $('[name=' + requireds[i].name + ']')
          check_empty(field);
    }
    if ($('.error').length) {
        alert("Corregeix els camps en vermell.");
        return false;
    }
    return true;
});

</script>


