{% include '__base.html' %}
{% include '__flash.html' %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h2>{{ _("Aportacions voluntàries") }} ({{ _("Completada l'emissió") }})</h2>
			<p>{{ _("S'ha assolit l'import màxim d'aportacions voluntàries al capital social que es va aprovar per Assemblea per un total de 2M€."
				"Així que ja no és possible fer més inversions sota aquesta modalitat.") }}</p>
			<br />
			<p>{{ _("Condicions de les aportacions:") }}</p>
			<ul>
				<li>{{ _("3,5%% interés anual (revisable anualment)") }}</li>
				<li>{{ _("Aportació mínima 100€ màxima 25.000€") }}</li>
				<li>{{ _("Venciment: el capital queda a la cooperativa fins que el soci en demana el retorn") }}
				</li>
				<li>{{ _("Pagament interessos anualment") }}</li>
				<li>{{ _("Cancel·lació: en qualsevol moment, retorn del capital amb un màxim de 3 mesos") }}
				</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid" style="margin-top: 20px;">
		<div class="span12">
			<h2>{{ _("Títols participatius a 5 anys") }} ({{ _("Completada l'emissió") }})</h2>
			<p>{{ _("S'ha completat l'emissió de títols que es va aprovar per Assemblea per un valor total de 1,5M€."
				    " Així que ja no és possible fer més inversions sota aquesta modalitat.") }}</p>
			<br />
			<p>{{ _("Condicions dels títols:") }}</p>
			<ul>
				<li>{{ _("5%% interés anual (fixe)") }}</li>
				<li>{{ _("Aportació mínima 1.000€ màxima 100.000€") }}</li>
				<li>{{ _("Venciment: liquidació dels títols al final dels 5 anys") }}</li>
				<li>{{ _("Pagament interessos anualment") }}</li>
				<li>{{ _("Cancel·lació: mercat secundari senzill entre socis/es de la cooperativa") }}</li>
			</ul>
		</div>
	</div>
</div>

{% include '__footer.html' %}

