{% include '__base.html' %}

<style type="text/css">
#hentitat, #hsucursal {
       width: 50px !important; 
}
#hcontrol {
       width: 25px !important;
}
#hncompte {
       width: 125px !important;
}
</style>

<script type="text/javascript">

$(document).ready(function(){
    {%if rfields %}
    <!-- Camps obligatoris POST -->
    {% for field in rfields %}
    $("[name={{ field }}]").each(function(){
        $(this).addClass("required");
    });
    {% endfor %}
    {% endif %}
    {%if efields %}
    <!-- Camps amb errors POST -->
    {% for field in efields %}
    $("[name={{ field }}]").each(function(){
		parent = $(this).parent();
		while(parent.attr("class").indexOf("control-group") == -1){
			parent = parent.parent();
		}
		parent.addClass("error");
	});
    {% endfor %}
    {% endif %}

    <!-- assignem hooks onchange -->
    $('#hentitat').change(check_acc_number);
    $('#hsucursal').change(check_acc_number);
    $('#hcontrol').change(check_acc_number);
    $('#hncompte').change(check_acc_number);

    /*
    $('#condicions_ok').change(check_cboxes);
    $('#titular_ok').change(check_cboxes);
    $('#privacitat_ok').change(check_cboxes);
    */
    <!-- comprovem camps -->
    check_acc_number();

});

</script>



{% include '__flash.html' %}


<form id="inversions" action="{{ url_for('inversions_titols_confirmar') }}" method="post" class="form-horizontal">
	<fieldset>
    <div id="inversio">
        <div id="username" class="control-group">
            <label class="control-label" for="nomsoci">{{ _("Nom de soci") }}</label>
			<div class="controls">
            <input id="nomsoci" name="nsoci" type="text" class="required input"
                   value="{{ dades_soci['name'] }}" readonly="true"/>
			</div>
        </div>
		 <div id="adreca_control" class="control-group">
			<label class="control-label" for="adreca">{{ _("Adreça") }}</label>
			<div class="controls">
	            <textarea id="adreca" name="adreca" class="input-xlarge required" readonly="true" style="height: 60px;">{{ dades_soci['adreca'] }}</textarea>
			</div>
		</div>
		<div id="email_control" class="control-group">
			<label class="control-label" for="email">{{ _("E-mail") }}</label>
			<div class="controls">
	            <input id="email" name="email" type="text" class="required input"
	                   value="{{ dades_soci['email'] }}" readonly="true"/>
			</div>
		</div>
        <div id="quantitat" class="control-group">
            <label class="control-label" for="eur_inversio">{{ _("Inversió") }}</label>
			<div class="controls">
				<div class="input-append input-prepend">
                <span class="add-on">€</span><input class="span2 input required" name="eur_inversio" id="eur_inversio" maxlength="6" size="6" type="text" value="{{ request.form['eur_inversio'] }}"><span class="add-on">.00</span><span class="control-label" style="float:none; margin-left: 10px;">{{ _("En títols participatius") }}</span>
              </div>
			  <p class="help-block"><strong>{{ _("Recordeu:") }}</strong> {{ _("Mínima aportació 1000€. Introduir la quantitat sense punts ni comes. La quantitat ha de ser múltiple de 1000") }}</p>
			</div>
        </div>
        <div id="ccc" class="control-group">
        	<label class="control-label" for="hentitat">{{ _("Número de compte") }}</label>
        	<div class="controls">
            <input id="hentitat" name="hentitat" type="text" class="required"
                   size="4" maxlength="4" value="{{ request.form['hentitat'] }}"/>
            <input id="hsucursal" name="hsucursal" type="text" class="required"
                   size="4" maxlength="4" value="{{ request.form['hsucursal'] }}"/>
            <input id="hcontrol" name="hcontrol" type="text" class="required"
                   size="2" maxlength="2" value="{{ request.form['hcontrol'] }}"/>
            <input id="hncompte" name="hncompte" type="text" class="required"
                   size="10" maxlength="10" value="{{ request.form['hncompte'] }}"/>
				   <p class="help-block" id="acc_number_message"></>
			</div>
        </div>
        <div id="agreements" name="agreements" class="control-group">
        	<div class="controls">
                    <label class="checkbox">
                    	<input id="titular_ok" type="checkbox" class="required"
                           name="titular_ok"/>
                    {{ _("Confirmo que sóc el titular del Compte Corrent informat") }}
                    </label>
                    <label class="checkbox">
                    	<input id="condicions_ok" type="checkbox" class="required"
                           name="condicions_ok"/>
                    {{ _("Accepto les <a href=\"https://www.somenergia.coop/modalitats-dinversio\" target=\"_blank\">condicions generals de la inversió</a> en la modalitat de subscripció de títols participatius") }}</label>
                    <label class="checkbox">
                    {{ _("Accepto la <a target=\"_blank\" href=\"http://www.somenergia.coop/politica-de-privacitat\">política de privacitat</a>") }}
					<input id="privacitat_ok" type="checkbox" class="required"
                           name="privacitat_ok"/>
                    </label>
					<label class="checkbox">
                    {{ _("Accepto el <a target=\"_blank\" href=\"https://www.somenergia.coop/images/stories/contracte_ttols_participatius_5_anys_v1.pdf\">model del contracte</a> de compra de títols participatius") }}
					<input id="contracte_ok" type="checkbox" class="required" name="contracte_ok"/>
                    </label>
                    <p class="help-block"><strong>{{ _("Nota:") }}</strong> {{ _("S'han d'acceptar i complir aquestes condicions.") }}</p>
			</div>
        </div>
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ _('Enviar') }}</button>
          </div>
    </div>
	</fieldset>
</form>
{% include '__footer.html' %}
