{% include '__base.html' %}

<script type="text/javascript">
	function disable() {
		$('#send_btn').attr("disabled", "disabled");
		$('#back_btn').attr("disabled", "disabled");
		$('#inversions').submit();
	}
</script>

<form id="inversions" action="{{ url_for('inversions_nova') }}" method="post">
<div id="confirmacio_inversio">
	<div id="confirmacio_msg" class="well">
	{{ _("Faràs una aportació de <strong>%(amount)s€</strong> des del compte <strong>%(acc_number)s</strong>. Les dades són correctes?", amount=amount, acc_number=acc_number) }}
	</div>
<div class="form-actions">
	<button id="send_btn" type="button" class="btn btn-success" onclick="disable()">{{ _("Sí") }}</button>
	<button id="back_btn" type="button" class="btn btn-danger" onclick="javascript:history.back()">{{ _("No") }}</button>
</div>
</div>
</form>

{% include '__footer.html' %}
