{% include '__base.html' %}
<div id="inversions_ok" class="well">
    <h1>{{ _("Sol·licitud Finalitzada") }}</h1>
    <p>
    {{ _("La teva inversió s'ha registrat correctament.")}}
    {{ _("En els propers dies emetrem un rebut al compte indicat per finalitzar l'ordre d'inversió.") }}
    </p>
    <p>
    {{ _("Moltes gràcies pel teu suport.") }}
    </p>
	<p>
		{{ _("Equip de Som Energia") }}
	</p>
</div>
{% include '__footer.html' %}
