{% include '__base.html' %}
<div id="inversions_ok" class="well">
    <h1>{{ _("Sol·licitud Finalitzada") }}</h1>
    <p>
    {{ _("La teva ordre de subscripció de títols participatius ha finalitzat.")}}
	{{ _("Amb aquesta compra estàs ajudant a finançar projectes de producció d’energia provinent 100%% de fonts renovables, gràcies per la teva implicació!") }}
    {{ _("En els propers dies emetrem un rebut al compte indicat per finalitzar l'ordre d'inversió.") }}
    </p>
    <p>
    {{ _("Rebràs un correu electrònic a %(email)s confirmant les dades de la teva inversió, siusplau verifica que siguin correctes.", email=dades_soci['email']) }}
    </p>
</div>
{% include '__footer.html' %}
