{% include '__base.html' %}

 <h1>{{ _("Formularis en manteniment") }}</h1>
 <p>
    {{ _("Estem duent a terme un manteniment dels formularis. En breu tornaran a estar disponibles. Disculpeu les molèsties") }}
    </p>
{% include '__footer.html' %}