<html>
  <head>
    <title>Pagament correcte</title>
	<link rel="stylesheet" type="text/css" href="https://www.somenergia.coop/templates/somenergia/css/template.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<style type="text/css">
		body {
			margin-top: 25px;
		}
		p {
			padding-bottom: 10px;
		}
	</style>
  </head>
  <body>
    <p>Ja has completat el procés per fer-te soci/a de la cooperativa Som Energia.</p>
    <p>Ens complau molt que hagis decidit formar part d'aquest projecte i
       esperem que tots plegats poguem assolir els nostres objectius
       per transformar el nostre model energètic, apostant per les
       energies renovables i l'eficiència energètica.</p>
    <p>En breu rebràs un missatge, al correu electrònic que ens has
       facilitat, amb el teu número de soci/a confirmant que la teva
       aportació s'ha realitzat correctament.</p>
  </body>
</html>

