<html>
  <head>
    <title>Pagament cancel·lat</title>
	<link rel="stylesheet" type="text/css" href="https://www.somenergia.coop/templates/somenergia/css/template.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
  		ga('create', 'UA-26322939-4', 'somenergia.coop');
  		ga('send', 'pageview');
	</script>
  </head>
  	<style type="text/css">
		body {
			margin-top: 25px;
		}
		p {
			padding-bottom: 10px;
		}
	</style>
  <body>
    <p>Hi ha hagut problemes durant el procés per fer-te soci/a de la cooperativa Som Energia.</p>
    <p>Sisplau, torna a iniciar el procés. Si el problema continua, contacta
    amb nosaltres.</p>
    <p>Gràcies i disculpa les molèsties.</p>
  </body>
</html>

