<html>
    <head>
        <title>Pagament correcte</title>
		<link rel="stylesheet" type="text/css" href="https://www.somenergia.coop/templates/somenergia/css/template.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
			<style type="text/css">
		body {
			margin-top: 25px;
		}
		p {
			padding-bottom: 10px;
		}
	</style>
    </head>
    <body>
        <p>
            Ya has completado el proceso para hacerte socio/a de la cooperativa Som Energia.
        </p>
        <p>
            Nos complace mucho que hayas decidido formar parte de este proyecto 
			y esperamos que todos juntos podamos alcanzar nuestros objetivos para 
            transformar nuestro modelo energético, apostando por las energías 
			renovables y la eficiencia energética.
        </p>
        <p>
            En breve recibirás un mensaje al correo electrónico que nos has 
			facilitado, con tu número de socio/a confirmando que tu aportación 
			se ha realizado correctamente. 
        </p>
    </body>
</html>
