<html>
  <head>
    <title>{{ _("Pagament correcte") }}</title>
    <script type="text/javascript">
    function redir() {
       document.forms[0].submit();
       self.close();
    }
    </script>
  </head>
  <body onload="redir()">
    <form action="{{ url_for('pagament_realitzat') }}" target="webforms_iframe">
    </form>
  </body>
</html>

