<html>
  <head>
    <title>{{ _("Accedint al servei de pagament...") }}</title>
	<script lang="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}">
	</script>
	<link rel="stylesheet" type="text/css" href="https://www.somenergia.coop/templates/somenergia/css/template.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<style type="text/css">
		body {
			margin-top: 25px;
		}
		p {
			padding-bottom: 10px;
		}
	</style>
	<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-26322939-4', 'somenergia.coop');
  		ga('send', 'pageview');
	</script>
  </head>
  <script lang="text/javascript">
  function run(payment) {
	if (payment == "rebut") {
		document.forms[0]["ID_OPERACION"].value = escape(document.forms[0]["ID_OPERACION"].value)
	}
    document.forms[0].submit();
  }
  </script>
  <body>
    <h1>{{ _("Accedint al servei de pagament...") }}</h1>
    <form id="rebut_form" action="{{ endpoint }}" method="post">
        {% for key, value in payment_data.items() %}
          {% if value or value == 0: %}
        <input type="hidden" name="{{ key }}" value="{{ value }}" size="100"/><br/>
          {% endif %}
        {% endfor %}
    </form>
	<script type=text/javascript>
		$(document).ready(function () {
			run('{{ payment_type }}')
		});
	</script>
  </body>
</html>
