<!doctype html>
<html>
<head>
	<title>Soci</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script lang="text/javascript"
  src="{{ url_for('static', filename='js/jquery-ui-1.8.17.custom.min.js') }}">
</script>
<script lang="text/javascript"
        src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}">
</script>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.css')}}"/>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.8.17.custom.css') }}"/>
      
<link rel="stylesheet" type="text/css"
      href="https://www.somenergia.coop/templates/somenergia/css/template.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='style.css') }}"/>
<script lang="text/javascript" src="{{ url_for('static', filename='js/webforms.js') }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26322939-4', 'somenergia.coop');
  ga('send', 'pageview');
</script>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li class="flash">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form name="ChronoContact_festesoci" id="ChronoContact_festesoci" method="post"
      action="{{ url_for('alta_soci') }}">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>
		<td>
			<div id="obligatoris">(*) {{ _("Camps obligatoris") }}</div>
			<div id="info_usuari">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody>
                    <!--
                    <tr>
						<td width="115"></td>
						<td width="335"></td>
						<td width="90"></td>
						<td width="160"></td>
					</tr>-->
          <tr>
            <td><div class="titol">{{ _("Tipus de persona") }}</div></td>
            <td>
              <span>
                      <span>
                          <input id="registre_tipus_persona_fisica" type="radio" name="tipuspersona" value="fisica" {% if (request.form['tipuspersona']=='fisica' or not request.form['tipuspersona']) %} checked{% endif %}>&nbsp;
                          <span>{{ _("física (particular)") }}</span>&nbsp;&nbsp;&nbsp;
                      </span>
                      <span>
                          <input id="registre_tipus_persona_juridica" type="radio" name="tipuspersona" value="juridica" {% if request.form['tipuspersona']=='juridica' %} checked{% endif %}>&nbsp;
                          <span>{{ _("jurídica (empresa)") }}</span>
                      </span>
                  </span>
            </td>
            <td></td>
            <td></td>
          </tr>
					<tr>
						<td><div class="titol">{{ _("Nom") }}*</div></td>
						<td><input id="registre_nom" type="text" name="nom"
                        value="{{ request.form['nom'] }}" class="required"></td>
						<td><div class="titol">{{ _("DNI/NIE") }}*</div></td>
						<td><input id="registre_dni" type="text" name="dni"
                                   class="required"
                                   value="{{ request.form['dni'] }}" maxlength="11"></td>
					</tr>
					<tr>
						<td><div class="titol">{{ _("Cognoms") }}*</div></td>
						<td colspan="3"><input id="registre_cognom" type="text"
                        name="cognom" value="{{ request.form['cognom'] }}" class="required"></td>
					</tr>
                                        <tr>
						<td><div class="titol">{{ _("Telèfon 1") }}*</div></td>
						<td><input id="registre_tel" type="text" name="tel"
                        value="{{ request.form['tel'] }}" class="required" maxlength="12"></td>
						<td><div class="titol">{{ _("Telèfon 2") }}</div></td>
						<td><input id="registre_tel_2" type="text" name="tel2"
                        value="{{ request.form['tel2'] }}" maxlength="12"></td>
                                        </tr>
					<tr>
						<td><div class="titol">{{ _("E-mail") }}*</div></td>
						<td><input id="registre_email" type="text"
                        name="email" value="{{ request.form['email'] }}" class="required email"></td>
						<td><div class="titol">{{ _("Codi postal") }}*</div></td>
						<td><input id="registre_cp" type="text" name="cp"
                        value="{{ request.form['cp'] }}" class="required" maxlength="5"></td>
					</tr>
					<tr>
						<td><div class="titol">{{ _("Adreça") }}*</div></td>
						<td><input id="registre_adreca" type="text"
                        name="adreca" value="{{ request.form['adreca'] }}" class="required"></td>
                        <td><div class="titol">{{ _("Idioma") }}*</div></td>
                        <td><select name="idioma" id="idioma" class="required"></select></td>
					</tr>
					<tr>
						<td><div class="titol">{{ _("Provincia") }}*</div></td>
						<td><select id="registre_provincia" name="provincia" class="required"></select></td>
                        <td><div class="titol">{{ _("Municipi") }}*</div></td>
                        <td><select id="registre_municipi" name="municipi" class="required"/></select></td>

					</tr>
					<tr>
						<td><div class="titol">{{ _("Comentari") }}</div></td>
						<td colspan="3"><textarea id="registre_com" name="com"
                        cols="40" rows="10">{{ request.form['com'] }}</textarea></td>
					</tr>
				</tbody></table>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="questionari">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody><tr>
						<td width="350"></td>
						<td width="350"></td>
					</tr>
					<tr>
						<td><div class="titol">{{ _("Com has conegut Som Energia?") }}</div></td>
						<td><input id="registre_conegut" type="text"
                        name="conegut" value="{{ request.form['conegut'] }}"></td>
					</tr>
					<tr>
						<td><div class="titol">{{ _("Soci o sòcia que t'ha animat a sumar-se a Som Energia") }}</div></td>
						<td><input id="registre_animat" type="text"
                        name="animat" value="{{ request.form['animat'] }}"></td>
					</tr>
					<tr>
						<td><div class="titol">{{ _("Estic interessat en rebre informació de Som Energia") }}*</div></td>
						<td>
					        <span>
					            <span>
					                <input type="radio" name="info" value="1" checked="true">&nbsp;
					                <span>{{ _("Si") }}</span>&nbsp;&nbsp;&nbsp;
					            </span>
					            <span>
					                <input type="radio" name="info" value="0">&nbsp;
					                <span>{{ _("No") }}</span>
					            </span>
					        </span>
						</td>
					</tr>
				</tbody></table>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="pagament">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody><tr>
						<td width="160"></td>
						<td width="540"></td>
					</tr>
					<tr>
						<td colspan="2"><div class="inf_quota">{{ _("L'aportació per a esdevenir soci/a són 100€. Els 100€ es paguen una sola vegada i no hi ha quota anual. Seleccioni el métode de pagament.") }}</div></td>
					</tr>
					<tr>
						<td colspan="2" style="padding-bottom: 15px;">{{ _("Cost per a la cooperativa: Rebut bancari: 0€, Targeta de crèdit: 1,8€.") }}</td>
					</tr>
					<tr>
						<td><div class="titol">{{ _("Mètode de pagament") }}*</div></td>
						<td>
					        <span>
					        	<span>
					                <input type="radio" name="payment_method" value="rebut" {%  if request.form.get('payment_method',  'rebut')  == 'rebut' %}  checked="checked" {%  endif %}>&nbsp;
					                <span>{{ _("Rebut bancari") }}</span>
					            </span>
					            <span>
					                <input type="radio" name="payment_method" value="tpv" {%  if request.form.get('payment_method',  'rebut')  == 'tpv' %}  checked="checked" {%  endif %}>&nbsp;
					                <span>{{ _("Targeta de crèdit") }}</span>&nbsp;&nbsp;&nbsp;
					            </span>
					        </span>
						</td>
					</tr>
					<tr>
						<td colspan="2"><input id="registre_pagament" type="submit" value="Continuar"></td>
					</tr>
				</tbody></table>
			</div>
		</td>
	</tr>
</tbody></table>
</form>

<script type="text/javascript">
  function load_paisos() {
    $.getJSON("{{ url_for('_get_paisos') }}", function(data){
        $('#registre_pais').find('option').remove().end();
        var req = "{{ request.form.get('country', '') }}";
        var html = '';
        var len = data.length;
        for (var i = 0; i < len; i++) {
            html += '<option value="' + data[i].id +'"';
            if (req == "" && data[i].name == 'España' || req == data[i].id) {
                html += ' selected="selected"';
            }
            html += '>' + data[i].name + '</option>';
        }
        $('#registre_pais').append(html);
    });
  }
  function load_provincia() {
      $('#registre_provincia').find('option').remove().end();
      var pais = $('#registre_pais').val() || "{{ request.form.get('pais', 0) }}";
      $.getJSON('/_provincies/' + pais, function(data){
        var html = '';
        var len = data.length;
        for (var i = 0; i < len; i++) {
            html += '<option value="' + data[i].id + '"';
            if ("{{ request.form.get('provincia', 0) }}" == data[i].id) {
                html += ' selected="selected"';
            }
            html += '>' + data[i].name + '</option>';
        }
        $('#registre_provincia').append(html);
      });
  }

  function load_municipis() {
      $('#registre_municipi').find('option').remove().end();
      var provincia = $('#registre_provincia').val() || "{{ request.form.get('provincia', 99) }}";
      $.getJSON('/_get_municipis/' + provincia, function(data){
        var html = '';
        var len = data.length;
        for (var i = 0; i < len; i++) {
            html += '<option value="' + data[i].id + '"';
            if ("{{ request.form.get('municipi', 0) }}" == data[i].id) {
                html += ' selected="selected"';
            }
            html += '>' + data[i].name + '</option>';
        }
        $('#registre_municipi').append(html);
      });
  }

  function load_idiomes() {
      $('#idioma').find('option').remove().end();
      $.getJSON('/_get_idiomes', function(data){
        var html = '';
        var len = data.length;
        for (var i = 0; i < len; i++) {
            html += '<option value="' + data[i].code + '"';
            if ("{{ request.form.get('idioma', 'ca_ES') }}" == data[i].code) {
                html += ' selected="selected"';
            }
            html += '>' + data[i].name + '</option>';
        }
        $('#idioma').append(html);
      });
  }
  function check_empty(element) {
    if (element.val() == "" || element.val() == null) {
      element.addClass('error');
    }
  }

  /* onready function */
  $(document).ready(function () {
    $("[rel=tooltip]").tooltip({'placement': 'right', 'trigger': 'focus'});
    load_paisos();
    load_provincia();
    load_municipis();
    load_idiomes();
    // Si és jurídica, el cognom no és obligatori
    if($('input[name=tipuspersona]:checked', '#ChronoContact_festesoci').val()=='juridica'){
        $('#registre_cognom').attr("disabled", true);
        $('#registre_cognom').removeClass("required")
    }
  });

  /* registrem onclicks */
  $('#registre_tipus_persona_fisica').click(function() {
    // canviem titols a particular
    $('#registre_nom').parent().prev().children().first().html('{{ _("Nom") }}');
    $('#registre_cognom').parent().prev().children().first().html('{{ _("Cognoms") }}');
    $('#registre_cognom').attr("disabled", false);
    $('#registre_cognom').addClass("required")
    $('#registre_dni').parent().prev().children().first().html('{{ _("DNI/NIE") }}');
  });
  $('#registre_tipus_persona_juridica').click(function() {
    // canviem titols a empresa
    $('#registre_nom').parent().prev().children().first().html('{{ _("Raó social") }}');
    $('#registre_cognom').parent().prev().children().first().html('{{ _("Nom comercial") }}');
    $('#registre_cognom').attr("disabled", true);
    $('#registre_cognom').removeClass("required")
    if ($('#registre_cognom').val().length == 0) { // si el camp del cognom estava buit
      $('#registre_cognom').val(' ');  // llavors afegim un espai en blanc per passar la validacio de camp obligatori
    }
    $('#registre_dni').parent().prev().children().first().html('{{ _("CIF") }}');
  });

  /* registrem onchanges */
  $('#registre_pais').change(function() {
      load_provincia();
  });
  $('#registre_provincia').change(function() {
    $('#registre_provincia').removeClass('error');
    load_municipis();
  });
  $('#registre_provincia').focus(function() {
    if (!$('#registre_provincia > option').length) {
      load_provincia();
    }
  });
  /*
  $('#registre_dni').change(function() {
    var nif = $("#registre_dni").val();
    $("#registre_dni").removeClass("error");
    if (nif != null && nif != "") {
        $.getJSON('/_check_vat/' + nif, function(data) {
            if (!data.result) {
                $("#registre_dni").addClass("error");
            }
        });
    }
  });
  */

  $('#registre_dni').blur(function() {
    check_vat($('#registre_dni'));
    check_empty($('#registre_dni'));
  });

  $('#registre_provincia').change(function() {
      $('#registre_municipi').autocomplete({
          source: "/_get_municipis_ac/" + $('#registre_provincia').val(),
          minLength: 2
      });
  });

  /* controlem el submit del formulari */
  $('#ChronoContact_festesoci').submit(function() {
    requireds = $('.required');
    requireds.removeClass('error');
    for (var i=0; i<requireds.length; i++) {
      field = $('[name=' + requireds[i].name + ']')
      check_empty(field);
      /* if (field.val() == null || field.val() == "") {
        $('[name=' + requireds[i].name + ']').addClass('error');
      }*/
    }
    if ($('.error').length) {
      alert("Corregeix els camps en vermell.");
      return false;
    }
    return true;
  });

</script>

{% if error_fields %}
  <script lang="text/javascript">
  {% for ef in error_fields %}
      $('[name="{{ ef }}"]').addClass('error');
  {% endfor %}
  </script>
{% endif %}
</body>
</html>
