body {
    font-family: "Roboto";
    color: #000000;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

#font-size-factor-0{
    font-size: 13px;
}

#font-size-factor-1{
    font-size: 12px;
}

#font-size-factor-2{
    font-size: 11px;
}

#font-size-factor-3{
    font-size: 10px;
}

#font-size-factor-4{
    font-size: 9px;
}

/*NO REMOVE -- for visual debug process*/
/*div,*/
/*img,*/
/*svg{*/
/*    border: red 1px solid;*/
/*}*/

/*table,*/
/*th, */
/*td,*/
/*tr, */
/*caption{*/
/*    border: solid 1px black;*/
/*}*/

#bloc-1,
#bloc-2{
    width: 100%;
    font-size: 1em;
}

.padding-left-10px{
    padding-left: 10px;
}

.padding-right-10px{
    padding-right: 10px;
}

.banner{
    height: 50px;
}

.banner img{
    max-height: 100%;
}

.center-image svg,
.center-image img
{
    display: block;
    margin: auto;
}

#info-electrica{
    font-size: 1em;
}

.align-table-top{
    vertical-align: top;
}

/*----------------------------------------------------- HEADER: LOGO i ADREÇA*/

#header{
    width: 100%;
    font-size: 13px;
    text-align: right;
    margin-bottom: 15px;
}

#header td img{
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 140px;
    width: auto;
}

/*----------------------------------------------------- HEADER: LOGO i ADREÇA*/

#finestreta{
    width: 100%;
}

#finestreta td{
    font-size: 0.8em;
}

/*---------------------------------------------------- TAULA: CONSUM ELECTRIC*/

#consum-electric td{
    font-size: 0.917em;
}

.rotate{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
}

.rotate div {
    -webkit-transform: rotate(-90.0deg);
     margin-left: -10em;
     margin-right: -10em;
    font-size: 0.833em;
}

/*----------------------------------------------------- TAULA: DETALL FACTURA*/

.detall-factura-inner-table-col-1{width: 20%; background: white}
.detall-factura-inner-table-col-2{width: 20%; background: white}
.detall-factura-inner-table-col-3{width: 20%; background: white}
.detall-factura-inner-table-col-4{width: 20%; background: white}
.detall-factura-inner-table-col-5{width: 20%; background: white}

#detall-factura{
    clear: both;
}

#detall-factura tfoot td{
    color: grey;
    font-size: 0.6em;
}

.toll{
    font-size: 0.667em;
    color: #2b2b2a;
}

/*------------------------------------------------------- ESTIL DE LES TAULES*/

.styled-table{
    border-collapse: collapse;
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
    overflow: hidden;
    width: 100%;
    font-size: 1em;
}

.styled-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
}

.styled-table td{
    padding: 1px 3px 1px 3px;
    vertical-align: top;
}

.styled-table tfoot tr:first-child {
    border-top: 1px solid #4D77A4;
}

.styled-inner-table{
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    font-size: 0.917em;
}

.styled-inner-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
}

.summarized td{
    background: #badcff;
}

.summarized tr:last-child > td {
    font-size: 1.167em;
    font-weight: bolder;
}

/*------------------------------------IMPACTE AMBIENTAL I ORIGEN DE L'ENERGIA*/

#environmental-impact td {
    font-size: 0.75em;
}

#environmental-impact-descr {
    padding-top: 80px;
}

#environmental-impact-co2{
    height: 240px;

}

#environmental-impact-radioactive{
    height: 240px;
}

#environmental-impact-co2 img, #environmental-impact-radioactive img {
    height: 240px;
    display:block;
    margin:auto;
}

#energy-origin{
    font-size: 1em;
}

#energy-origin th{
    font-size: 0.75em;
    background: white;
    color: black;
}

#energy-origin td{
    font-size: 0.667em;
}

#energy-origin-donut th{
    font-size: 0.833em;
}

#info-footer{
    font-size: 0.667em;
}

/*------------------------------------------------------------------- GLOBALS*/

.bold{ font-weight: bold }

.italic{ font-style: italic }

.white{ background: white }

.h65px{ height: 65px }

.w100p{ width: 100% }

.center{ text-align: center }

.center-th th{ text-align: center }

.right{ text-align: right }

.left { text-align: left }

.row-separator{ border-top: solid 1px #4D77A4 }

.light-blue{ background: #badcff }

/*-------------------------------------------------------------------- COLORS*/

.background-color{ background: #4D77A4 }

.square{
    width: 10px;
    height: 8px;
}

.color-renovable{ background: #579834 }

.color-cogeneracio-alta-eficiencia{ background: #579834 }

.color-cogeneracio{ background: #89c563 }

.color-cc-gas-natural { background: #d7ef81 }

.color-carbo { background: #d9d82e }

.color-fuel-gas { background: #eea620 }

.color-nuclear { background: #fc6230 }

.color-altres { background: #ee3e26 }
