body{
    font-family: helvetica;
    font-size: 12px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table td{
    padding-left: 1px;
    padding-right: 1px;
}
#capcalera{
    font-weight: bold;
    margin: 5px 10px 0 0 ;
    float:left;
    width: 100%;
}
#titol{
    top: 10px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
.label{
    font-weight: bold;
}
.w40{
    width: 40px;
}
.w50{
    width: 50px;
}
.w200{
    width: 200px;
}
.w100{
    width: 100px;
}
.col-head-nombre{
    width: 35%;
}
.col-head-incidencia{
    width: 15%;
}
#col-val-nfactura{
    text-align: center;
}
#col-val-fecha{
    text-align: center;
}
#col-val-importe{
    text-align: right;
}
#col-val-fcobro{
    text-align: center;
}
#col-val-cliente{
    text-align: right;
}
#col-val-nombre{
}
#col-val-sufijo{
    text-align: center;
}
.label2{
    font-weight: bold;
    background-color: #C9D0C9;
    border: 1px solid black;
    text-align: center;
}
.row-contingut-value{
    font-size: 11px;
}
#tableb{
    margin-top: 5px;
}
#tablec{
    margin-top: 5px;
}
.centered{
    text-align: center;
}
.taula-contingut{
    margin-top: 20px;
    font-size: 12px;
}
#subtotal-value{
    text-align: right;
    padding-right: 20px;
}
#subtotal-header {
    text-align: center;
    font-weight: bold;
}
tr {
    page-break-inside: avoid;
}
