/* ----------------------------- GLOBALS ----------------------------- */

body {
    font-size: 13px;
}

p {
    text-align: justify;
}

.little { font-size: 9px }

.bold{ font-weight: bold }

.italic{ font-style: italic }

.white{ background: white }

.center{ text-align: center }

.center-th th{ text-align: center }

.right{ text-align: right }

.left { text-align: left }

.row-separator{ border-top: solid 1px #4D77A4 }

.light-blue { background: #badcff }

.box-border {
    border: 1px black solid;
}

/* ----------------------------- COLORS ----------------------------- */

.background-color{ background: #4D77A4 }

/* ---------------------- SMALL REUSABLE TAGS ----------------------- */

.h65px{ height: 65px }

.w100p{ width: 100% }

