
h1 {
    font-size: 12px;
}

h2 {
    font-size: 11px;
    margin: 0 0 5px 5px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 3px;
}

table {
    width: 100%;
    font-size: 9px;
}

#outer {
    width: 15px;
    position: relative;
    float: left;
    font-size: 8px;
}

#vertical_text {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: 15px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    width: 1150px;
    bottom: -990px;
    padding: 0px;
    color: #696969;
}

#dades_contracte {
    margin: 5px;
    padding: 50px 50px 0 50px;
}

#condicions {
    text-align: justify;
    font-size: 10px;
}

#footer {
    font-size: 10px;
}

.city_date {
    text-align: right;
}

.titol {
    text-align: center;
}

.center {
    text-align: center;
}


.seccio {
    margin: 15px 0px;
}

.icona {
    height: 20px;
}

#cap td, #cap th, #cap {
    border: 5px solid white;
}

#cap a{
    color: black;
    text-decoration: none;
}

.label {

}

.field {
    font-weight: bold;
}

.taula_potencies {
    border: 0 solid transparent;
    border-collapse: collapse;
    padding: 1px;
}

.observacions {
    font-size: 8px;
}
