body {
border:0; margin: 3em;
font-family: helvetica;
font-size:10px;
}

h1 {
    text-align: center;
    margin-left: 15%;
    width: 70%;
}

table {
    border: 0px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
}

table.centered {
    text-align: center;
}

td, th {
    border: 1px solid black;
    padding: 3px;
}

.w50px {
    width: 50px;
}