@font-face {
    font-family: "MyriadPro";
    src: url('fonts/MyriadProRegular.ttf') format('truetype');
}

@font-face {
    font-family: "MyriadPro Bold";
    src: url("fonts/MyriadProBold.ttf") format('truetype');
    font-weight: bold;
}

* {
    font-size: 13px;
}

h1 {
    font-family: 'MyriadPro';
    font-size: 30px;
    color: #00117b;
}

table {
    color: #00117b;
    width: 100%;
}

.title {
    color: #ffffff;
    border-radius: 7px;
    height: 17px;
    padding: 3px 10px;
    margin: 15px 0px;

    font-weight: bold;
    font-size: 16px;
    font-family: 'MyriadPro Bold';
}

.subtitle {
    color: #ffffff;
    border-radius: 7px;
    height: 17px;
    padding: 3px 10px;
    margin: 15px 0 15px 30px;

    font-weight: bold;
    font-size: 16px;
    font-family: 'MyriadPro Bold';
}

.bold {
    font-weight: bold;
}

.turquoise {
    background-color: #00676b;
}

.green {
    background-color: #6cab1d;
}

.blue {
    background-color: #00117b;
}

.column {
    display: table-cell;
    padding: 10px;
    width: 45%;
}

.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.right {
    width: 55%;
    padding: 10px;
}

#globus {
    border: 1px solid #00117b;
    border-radius: 15px;

}

.subtitle_table {
    padding-left: 30px;
}

#observaciones {
    padding: 10px 30px;
    width: 780px;
    color: #00117b;
    white-space: pre-line;
}

.padding-10 {
    padding: 10px;
}

.margin-side-20 {
    margin: 0px 20px;
}

#logo {

}

.align_left{
    text-align: left;
}