
body {
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;
    padding-right: 2em;

}
.row_first {
    /* logo + titol */
    padding-top: 2em;
    padding-bottom: 2em;

}
.titol {
    /* quadre titol */
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    float: right;
    font-size: 14px;

}
.frase1 {
    font-size: 12px;
}
.row_intermedia {
    padding-top: 1em;
    padding-bottom: 1em;
}
.container_taula {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    min-height: 120px; /*height en cas que hi hagin 6 periodes*/
}
/*
.container_taula table {
    text-align: right;
}
*/
.tarifa_oferta {
    border-style: solid;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.fecha_oferta {
    border-style: solid;
    width: 90px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}
.desc_oferta {
    float: left;
    font-size: 12px;
}
.termino_energia {
    border-style: solid;
    border-radius: 20px;
    margin: 0 auto;
    float: none;
    width: 90%;
}
.termino_potencia {
    border-style: solid;
    border-radius: 20px;
    margin: 0 auto;
    float: none;
    width: 90%;
}
.titol_taula_energia_potencia {
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.termino_energia table{
    font-size: 12px;
    text-align: right;
}
.termino_potencia table {
    font-size: 12px;
    text-align: right;
}
.por_que {
    padding-top: 1em;
    font-size: 14px;
}
.beneficios table {
    width: 100%;
    text-align: left;
    font-size: 12px;
    table-layout: fixed;
}
.frase_exclamacion {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.tabla_desglose_oferta {
    font-size: 12px;
    text-align: center;
    text-align:middle;
    margin: 0;
    float: none;
}
.tabla_desglose_oferta table {
    width: 100%;
    text-align: left;
    min-width: 850px;
}
.titol_datos {
    font-size: 12px;
    width: 100%;
    text-align: middle;
    font-size: large;
    padding-top: 1em;
}
.cuadro_datos {
    font-size: 12px;
    padding: 1em;
    border-style: solid;
    border-radius: 20px;
    text-align: middle;
}
.consumos{
    /* igual que els altres cuadro_datos pero amb un margin adalt i
    el height de 6 periodes*/

    font-size: 12px;
    padding: 1em;
    border-style: solid;
    border-radius: 20px;
    text-align: middle;
    margin-top: 1em;

    min-height: 120px;
}
.consumos table {
    /* igual que el cuadro_datos table */
    width: 100%;
    font-size: 10px;
}
.cuadro_datos table {
    width: 100%;
    font-size: 10px;
}
.izda {
    margin-right: 10px;
}
.centered table {
    width: 100%;
}
.info_legal {
    font-size: xx-small;
}
.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

