@font-face {
    font-family: "MyriadPro";
    src: url('fonts/MyriadProRegular.ttf') format('truetype');
}
@font-face {
    font-family: "MyriadPro";
    src: url("fonts/MyriadProBold.ttf") format('truetype');
    font-weight: bold;
}
/*
@font-face {
    font-family: "Sansation";
    src: url("fonts/Sansation_Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Sansation";
    src: url("fonts/Sansation_Bold.ttf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "Sansation";
    src: url("fonts/Sansation_Light.ttf") format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Sansation";
    src: url("fonts/Sansation_Bold_Italic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic, oblique;
}
*/
body {
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: "MyriadPro";
    color: #001489;
}

.titol {
    font-family: "Sansation";
    font-weight: bold;
    font-size: 12pt;
    color: #78be20;
}
.logo {
    text-align: right;
}
.logo img{
    height: 71px;
}
.width100 table {
    /* per fer que titol + logo ocupin tot el width*/
    width: 100%;
    /*margin: 0;*/
    float: none;
}
div.centered {
    text-align: center;
}
div.centered table {
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    border-spacing: 10px;
}
td {
    padding: 5px;
}
td.titol_potencies {
    width: 8%;
}
td.potencia_cttada {
    width: 25%;
}
.izda {
    width: 98%;
}
.dcha {
    width: 98%;
    float:right;
}
.cuadro_datos_verde {
    padding: 1em;
    color: #78be20;
    font-size: 10px;
    font-weight: bold;
    border-style: solid;
    border-color: #78be20;

    /* top left, top right, bottom right, bottom left */
    border-radius: 0px 15px 15px 15px;
}
.cuadro_datos_verde table {
    padding: 1em;
    color: #001489;
    font-size: 10px;
    font-weight: bold;
}
.igual_altura_energies_potencies {
    height: 75px;
}
.cuadro_tarifa_fecha {
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    border-color: #78be20;
    border-radius: 0px 0px 15px 15px;
    font-weight: bold;
    height: 40px;
    color: #001489;
}
.tarifa_fecha_titol {
    padding-left: 0.5em;
    color: #001489;
    font-weight: bold;
    font-size: 12pt;
}
.tarifa {
    font-size: 18pt;
    padding-left: 1em;
    padding-top: 0.2em;
}
.fecha {
    font-size: 14pt;
    padding-left: 0.5em;
    padding-top: 0.5em;
}
.no_padding {
    padding-right: 0;
    padding-left: 0;
}
.titol_datos_border_left {
    z-index: 5;
    margin-bottom: -1px;
    color: #001489;
    font-weight: bold;
    padding-left: 1em;
    position: relative;
    font-size: 12pt;
}
.datos_cliente, .datos_suministro{
    font-size: 10pt;
}
.documentacion_container{
    margin-top: 20px;
}
.border_azul {
    border-left: solid;
    border-color: #001489;
}
.border_verde {
    border-left: solid;
    border-color: #78be20;
}
.white_border {
    margin-top: -2px;
    margin-left: 3px;
    position: absolute;
    z-index: 10;
    background-color: white; /* This would have to be the same as the background */
    height: 5px;
    width: 200px;
}
.cuadro_datos_azul {
    padding: 1em;
    color: #001489;
    font-size: 10px;
    border-style: solid;
    border-color: #001489;
    /* top left, top right, bottom right, bottom left */
    border-radius: 0px 15px 15px 15px;
    height: 110px;
}
.cuadro_datos_azul table {
    padding: 1em;
    color: #001489;
    font-size: 10px;
    font-weight: bold;
}
.cuadro_datos_verde table td + td {
    border-left:2px solid #78be20;
}
.asesor {
    font-size: 12px;
}
.pd1{
    margin-top: 40px;
}
.pd2 {
    margin-top: 20px;
}
.pd3 {
    margin-top: 30px;
}
.pd4 {
    margin-top: 10px;
}
.table_headers {
    font-size: 12pt;
    font-style: normal;
    font-family: "MyriadPro";
    width: 8%;
}
.table_e_p {
    width: 33%;
    float: left;
}
.desglose_float_left {
    float:left
}
.desglose_headers {
    font-size: 12px;
}
.desglose_1_col {
    width: 20%;
}
.desglose_cols {
    width: 13%;
}
.validez {
    font-size: 10pt;
    font-weight: bold;
}
.info_legal {
    color: black;
    font-size: 5pt;
    position: relative;
    left: -26px;
    margin-top: 5px;
    text-align: justify;
}
#observaciones{
    height: 250px;
    margin-left: 24px;
    margin-top: 10px;
    font-size: 8pt;
}
.checkbox{
    padding-left: 27px;
    padding-top: 0;
}
.checkbox_docu{
    position: relative;
    padding-left: 7px;
    padding-top: 8px;
    font-size: 8pt;
}
.box{
    position: relative;
    float: left;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
    height: 8px;
    width: 8px;
}
.box_docu{
    position: relative;
    float: left;
    border: 1px solid #78be20;
    border-radius: 2px 2px 2px 2px;
    height: 11px;
    width: 11px;
}
.check_mark{
    position: relative;
    font-size: 11px;
    top: -1px;
}
.checkbox_text{
    position: relative;
    top: -2px;
    padding-left: 5px;
    float: left;
    width: 290px;
}
.checkbox_text_docu{
    position: relative;
    padding-left: 5px;
    float: left;
    width: 90%;
}
.empty_desglose{
    height: 80px;
}
.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}
.padding_3p {
    padding-top: 180px;
}
.padding_6p {
    padding-top: 0px;
}
.num_oferta {
    float: right;
    font-size: 8px;
    margin: 0;
    padding:0;
}
.transparencia_60 {
    opacity: 0.6;
}
.atr_sepa_container{
    padding-top: 0px !important;
}
.posterior{
    padding-top: 40px;
}
.posterior .anexo-1, .posterior .anexo-2{
    margin-bottom: 30px;
}
.posterior .anexo-1 .white_border{
    width: 370px;
}
.posterior .anexo-2 .white_border{
    width: 505px;
}
.posterior table tr{
    height: 25px;
}
.posterior table td{
    padding: 2px;
    vertical-align: bottom;
    white-space: nowrap;
}
.posterior td.nif{
    width: 20px;
    padding-left: 2px;
}
.posterior td.underline{
    border-bottom: 1pt solid #001489;
}
.posterior td.underline.init{
    width: 290px;
}
.posterior td.underline.nif{
    width: 225px;
}
.posterior td.underline.special{
    width: 250px;
}
.posterior .anexo-2 td.underline{
    width: 85%;
}
.posterior .titulo_anexo span{
    font-weight: normal;
}
.posterior td.desc{
    font-weight: bold;
}

.no-bold{
    font-weight: normal;
}

.coeficients{
    position: relative;
    left: -5px;
    border: none !important;
}

.coeficients td{
    border: 0px solid black !important;
    border: none !important;
}
.coeficients tr{
    border: none !important;
}
.posterior .cuadro_datos_azul table,
.posterior .cuadro_datos_verde table{
    padding: 10px;
    color: #001489;
    font-size: inherit;
    font-weight: normal;
}
.posterior .cuadro_datos_verde table td + td {
    border-left:none;
}
.posterior .eng{
    font-family: MyriadPro;
    font-size: 7pt;
    font-style: italic;
    font-weight: normal !important
}
.posterior div.texto-autoriza p{
    padding: 0px;
    margin: 0px;
    line-height: 10px;
    text-align: justify;
}
.posterior div.texto-autoriza{
    margin-top: 10px;
    padding: 5px;
}
.posterior div.texto-autoriza .texto{
    font-size: 7.5pt;
}
.posterior div.texto-autoriza .head{
    font-weight: bold;
    font-size: 10pt;
}

.posterior .cuadro_datos_azul{
    height: auto;
}
.posterior .firma{
    padding: 20px 20px 0px 20px;
}


.posterior .cuadro_firma {
    border-radius: 0px 0px 15px 15px;
    border: 2px solid #78be20;
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    border-top: none;
    font-weight: bold;
    height: 40px;
    color: #001489;
}
.posterior .cuadro_firma_titol {
    padding-left: 0.5em;
    color: #001489;
    font-weight: normal;
    font-size: 12px;
}

.posterior .cuadro_firma_titol span{
    font-weight: bold;
}
.posterior .firma table{
    padding: 0;
    margin: 0;
}

.posterior .firma .underline{
    width: 200px !important;
}

.posterior .firma .head{
    font-weight: bold;
    font-size: 10pt;
}

.posterior .texto-autoriza,
.posterior .firma{
    color: #001489 !important;
    font-weight: normal !important;
}

.posterior table.mandato td{
    padding: 0px;
}
.posterior ul.condicions{
    padding: 0 0 0px 5px;
    margin: 0;
    color: #001489 !important;
}
.anexo-1 ul.condicions.superior li{
    padding-bottom: 10px;
    padding-top: 10px;
}

.anexo-1 ul.condicions li{
    padding-bottom: 10px;
    padding-top: 10px;
}

.margin_top_5 ul.condicions li{
    margin-top: 5px;
}

.anexo-2 ul.condicions.superior {
    padding-bottom: 15px;

}
.posterior .column{
  float:left;
}

.cuadro_firma_titol {
    padding-left: 0.5em;
    color: #001489;
    font-weight: normal;
    font-size: 12px;
}

.cuadro_firma_titol span{
    font-weight: bold;
}

.cuadro_firma_verde {
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    border-color: #78be20;
    border-radius: 0px 0px 15px 15px;
    font-weight: bold;
    height: 80px;
    color: #001489;
}

.cuadro_firma_azul {
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    border-color: #001489;
    border-radius: 0px 0px 15px 15px;
    font-weight: bold;
    height: 80px;
    color: #001489;
}

.pie_firma{
    margin-top: 5px;
    font-size: 10px;
    background-color: orange !important;
}

.pie_firma .column{
  float: left;
}

.img_firma{
    width: 40%;
}

.padding_left{
    padding-left: 5px;
    padding-right: 0px;
}

.padding_right{
    padding-right: 5px;
    padding-left: 0px;
}

.field_200{
    border-bottom: 1px solid #001489;
    width: 200px;
}

.field_120{
    border-bottom: 1px solid #001489;
    width: 120px;
}

.field_50{
    border-bottom: 1px solid #001489;
    width: 50px;
}

.title_10{
    width: 10px;
}

.title_50{
    width: 50px;
}

.width-60{
    width: 60%;
}
.width-35{
    width: 35px;
}
.width-40{
    width: 40%;
}
.width-80{
    width: 80px;
}
.width-20{
    width: 20%;
}
.width-120{
    width: 120px;
}
.width-190{
    width: 190px;
}
.width-240{
    width: 240px;
}
.width-250{
    width: 250px;
}

ul.condicions li{
    list-style: none;
}
ul.condicions .eng{
    font-style: normal;
    float:left;
    clear:both;
}
ul.condicions .filera {
   height:15px;
   clear:both;
}
.firma_dades{
    list-style: none;
    padding: 0;
    margin: 0;
    float:left;
    height: auto;
    margin-top: 8px;
}
.linia {
    width:auto;
    height:1px;
    border-bottom:1pt solid #001489;
    padding-top: 12px;
    padding-left:5px;
    overflow:hidden;
}
.nom {
    float:left;
    padding-right: 5px;
    font-size: 10pt;
    font-weight: bold;
    font-family: "MyriadPro";
}
.nom_peu_firma {
    float: left;
    font-family: "MyriadPro";
}
.filled-text{
    position: relative;
    z-index: 1000;
    margin-left: 20px;
}
.text-over-line{
    float: left;
    position: relative;
    z-index: 1000;
    margin-bottom: -20px;
    margin-left: 20px;
}
.posterior .cuadro_desestimiento {
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    border-color: #78be20;
    border-radius: 0px 0px 15px 15px;
    font-size: 6.9pt;
    height: auto;
    color: #001489;
    padding: 0 10px 10px 10px;
    opacity: 0.5;
}
.posterior .cuadro_desestimiento span.head{
    color: red;
    opacity: 1!important;
    white-space: nowrap;
}
.posterior .cuadro_desestimiento .text{
    opacity: 0.5;
}
.posterior .cuadro_desestimiento .text .sign{
    padding-bottom: 20px;
}

.descompte_energia{
    text-align: left;
    padding-left: 5px;
    font-weight: bold !important;
}

.azul{
    color: #001489;
    font-weight: normal !important;
}
.font_9px{
    font-size: 9px;
}

.no_margin_bottom{
    margin-bottom: 0px !important;
}

.w_100{
    width: 100% !important;
}
.h_auto{
    height: auto !important;
}
