*{
    font-family: "Liberation Sans";
}

body{
    font-size: 14px;
    padding: 0px 10px;
}
hr{
  height:3px;
  background-color: #0059b3;
  border-style: none;
}
h1, h2, h3, h4{
  text-align: center;
}
table{
    margin: auto;
    width:90%;
    border: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 14px;
    page-break-inside:avoid;
    page-break-after:auto;
    text-align: left;
}
th{
    background-color: #999999;
    padding: 10px;
    margin-top: 5px;
    height: auto;
}
td{
    padding: 5px;
    height: 25px;
    text-align: left;
    word-wrap:normal;
    border: 1px solid black;
}
tr{
  page-break-inside:avoid;
  page-break-after:auto;
}
tr {
  background-color: #d9d9d9;
}
tr:nth-child(even) {
  background-color: white;
}
li.hidden-bullet{
    list-style: none;
}
.nocount{
  background-color: white;
  border-bottom: 1px solid black;
  height:0;
  padding: 0;
}
.p5{
  padding: 5px;
}
.padded_20{
  padding-left: 20px;
  padding-right: 20px;
}
.padded_left{
  padding-left: 25px;
}
.w5{
  width: 5%;
}
.w10{
  width: 10%;
}
.w25{
  width: 25%;
}
.w30{
  width: 30%;
}
.w50{
  width: 50%;
}
.left{
  float: left;
  font-size: 10px;
}
.right{
  float: right;
  font-size: 10px;
}
.left_text{
  font-size: 12px;
  padding: 5px;
  text-align: left;
}
.centered{
  text-align: center;
  width:100%
}
.starter{
  padding: 5px;
}
#logo{
  max-height: 300px;
}

/**/
/*REPORT HEADER*/
.report_header{
    width: 100%;
    height: 120px;
}
.header_logo{
    width: auto;
    height: 100px;
}
.header_text{
    font-size: 10px;
    padding-left: 30px;
    padding-top: 5px;
}
#company_logo{
    width: auto;
    height: 100px;
}
#avis{
    margin: 10px;
}
#carrers {
    margin-top: 10px;
}
#paragraf {
    margin-top:10px;
}
#footer{
    position: fixed;
    bottom: 20px;
    height: 100px;
    width: 95%;
    text-align: right;
}
#doc_title_container{
    width: 100%;
}
#doc_title_content{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.containter_left_text{
    width: 100%;
}
#left_text{
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    margin-left: 5px;
}
.box_header_container{
    border: 1px black solid;
    margin-bottom: 20px;
}
