*{
    font-family: "Liberation Sans";
}
body{
    font-size: 14px;
    padding: 0px 10px;
}
hr{
  height:3px;
  background-color: #0059b3;
  border-style: none;
}
h1, h2, h3, h4{
  text-align: center;
}
.nocount{
  background-color: white;
  border-bottom: 1px solid black;
  height: 25px;
  padding: 0;
}
.p5{
  padding: 5px;
}
.padded_20{
  padding-left: 20px;
  padding-right: 20px;
}
.padded_left{
  padding-left: 25px;
}
.w5{
  width: 5%;
}
.w10{
  width: 10%;
}
.w25{
  width: 25%;
}
.w30{
  width: 30%;
}
.w50{
  width: 50%;
}
.left{
  float: left;
  font-size: 10px;
}
.right{
  float: right;
  font-size: 10px;
}
.left_text{
  font-size: 12px;
  padding: 5px;
  text-align: left;
}
.centered{
  text-align: center;
  width:100%
}
.starter{
  padding: 5px;
}
#logo{
  max-height: 300px;
}

/*REPORT HEADER*/
.report_header{
    width: 100%;
    height: 120px;
}
.header_logo{
    width: auto;
    height: 100px;
}
.header_text{
    font-size: 10px;
    padding-left: 30px;
    padding-top: 5px;
}
#company_logo{
    width: auto;
    height: 100px;
}

/*DESCARREC DATA*/
.dades_sol_des{
    height: 10%;
    margin-top: 20px;
    margin-bottom: 25px;
}
.tipus_maniobra{
    width: 29%;
    height: 100%;
    font-family: Anton, "Sans serif";
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 110px;
    float: left;
}
.tipus_maniobra_box{
    width: 70%;
    height: 100%;

    border: 1px black solid;
    float: left;
}
.inbox_msg_container{
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    margin-top: 7%;
    padding-bottom: 20px;
    font-size: 21px;
}
.inbox_msg_u{
    text-decoration: underline;
    font-style: italic;

}
.inbox_left{
    float: left;
    padding-left: 2px;
    font-size: 12px;
    width: 100%;
}
.inbox_right{
    float: right;
    padding-right: 2px;
}

/*TAULA ACCIONS DESCARREC*/
table{
    margin: auto;
    width: 98.5%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 14px;
    page-break-inside:avoid;
    page-break-after:auto;
}
th{
    background-color: #bcbcbc;
    padding: 10px;
    margin-top: 5px;
    height: auto;
    text-transform: uppercase;
    border-left: black 1px solid;
    border-top: black 1px solid;
}
td{
    padding: 5px;
    height: 25px;
    text-align: center;
    word-wrap:normal;
    border-left: black 1px solid;
}
tr{
  page-break-inside:avoid;
  page-break-after:auto;
}
tr:nth-child(even) {
  background-color: #d9d9d9;
}
tr:nth-child(odd) {
  background-color: white;
}


/*OBSERVACIONS MANIOBRES*/
.maniobres_observacions_container{
    position:absolute;
    bottom: 0px;
    right: 14px;
    width: 96.7%;
}
.maniobres_observacions_container_peusa{
    position:absolute;
    bottom: 90px;
    right: 14px;
    width: 96.7%;
    margin-bottom: 15px;
}
.maniobres_observacions{
    line-height: 16px;
    height: 64px;
    overflow: hidden;
    background-color: white;
}

/*AVISOS*/
.container_avisos{
    position: fixed;
    bottom: 0;
    width: 95%;
    text-align: center;
    border: black 1px solid;
    height: 80px;
}
#warning{
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

/*FULL SOL·LICITUD DESCARREC*/
.full_desc_title{
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 15px;
}
.dades_full_sol_des{
    height: 10%;
    margin-top: 20px;
    margin-bottom: 19px;
    border: black 1px solid;
}

.full_sol_desc_title1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.full_desc_inbox_left_top{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.full_desc_inbox_left_bot{
    float: left;
    margin-left: 4px;
    margin-top: 15px;
    font-size: 12px;
    width: 40%;
}

.full_desc_inbox_right_top{
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.full_desc_inbox_right_bot{
    float: right;
    margin-right: 5px;
    margin-top: 20px;
}
.full_desc_instalacio_afectada_container{
    font-size: 16px;
    margin-top: 15px;
    margin-left: 5px;
}
.full_desc_instalacio_afectada_title{
    font-weight: bold;
}
.full_desc_instalacio_afectada_data{
    line-height: 16px;
    height: 32px;
    overflow: hidden;
}
.full_desc_treballs_previstos_container{
    font-size: 16px;
    margin-top: 15px;
    margin-left: 5px;
}
.full_desc_treballs_previstos_title{
    font-weight: bold;
}
.full_desc_treballs_previstos_data{
    line-height: 16px;
    height: 32px;
    overflow: hidden;
}
.full_desc_mod_esquema_container{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
}
.sol_desc_observacions{
    line-height: 16px;
    height: 48px;
    overflow: hidden;
    background-color: white;
}
.sol_desc_custom_table_container{
    width: 100%;
}
.sol_desc_custom_table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
    page-break-inside:avoid;
    page-break-after:auto;
}
.sol_desc_custom_table_header{
    background-color: #bcbcbc;
    padding: 10px;
    margin-top: 5px;
    height: auto;
    width: 50%;
    text-transform: uppercase;
    border-left: black 1px solid;
    border-top: black 1px solid;
}
.sol_desc_custom_table_data{
    padding-left: 5px;
    font-size: 14px;
    text-align: left;
    width: 25%;
    background-color: white;
    border-bottom: 1px solid black;
}
.sol_desc_custom_table_data_firma{
    padding-left: 5px;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
    width: 25%;
    background-color: white;
    border-bottom: 1px solid black;
}
.sol_desc_custom_table_row{
  page-break-inside:avoid;
  page-break-after:auto;
}
.sol_desc_estat_container{
    float: right;
    width: 150px;
    height: 150px;
    border: black 1px solid;
}
.sol_desc_estat{
    margin-top: 30px;
    margin-left: 15px;
}
.float_clear{
    clear: both;
    line-height: 10px;
}
.full_sol_desc_peusa_text_container{
    margin-top: 20px;
}
.full_sol_desc_peusa_text_title{
    font-weight: bold;
}
.full_sol_desc_peusa_text_content{
    text-align: justify;
    text-justify: inter-word;
}
.full_sol_desc_peusa_text_content li{
    margin: 0 0 5px 0;
}
.full_sol_desc_peusa_check_text_container{
    width: 100%;
    padding-left: 20px;
}
.full_sol_desc_peusa_check_containter{
    float: left;
    width: 4%;
    margin-top: 4px;
}
.full_sol_desc_peusa_check_text_check{
    float: left;
    margin-right: 5px
}
.full_sol_desc_peusa_check_text_content{
    float: left;
    width: 95%;
    font-weight: bold;
}
.full_sol_desc_peusa_check_text_content_1{
    float: left;
    font-size: 16px;
    white-space: nowrap;
    margin-top: 2px;
    margin-right: 10px;
}
.full_sol_desc_peusa_check_text_content_2{
    float: left;
    font-size: 10px;
    padding-top: 5px;
    white-space:nowrap;
}
#warning{
    margin-top: 5px;
    font-size: 18px;
}
.regles_or_containter{
    margin-top: 30px;
    border: black 1px solid;
    text-align: center;
    width: 100%;
}
.regles_or{
    width: 99%;
    height: auto;
}
