* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

h3 {
    font-size: 13px;
    padding: 1px 0px 1px 10px;
    margin: 0px;
    line-height: 15px;
}

h4 {
    font-size: 11px;
    padding: 1px 0px 1px 10px;
    margin: 0px;
    line-height: 13px;
}

table th {
    font-size: 11px;
    font-weight: normal;
}

.form_section {
    padding: 0px 50px 0px 50px;
    margin: 0px;
}

.gran {
    padding: 8px 0px;
    margin: 5px 0px 50px 0px;
}

.petit {
    margin: 5px 0px;
}

.page {
    width: 100%;
    page-break-inside: avoid;
}

.page tr{
    page-break-inside: avoid;
    width: 100%;
}

.section_title {
    color: white;
    background-color: #4D77A4;
    height: 17px;
    margin: 5px 0px;
    padding: 2px 0px;
}

.annex_section_title {
    color: white;
    background-color: #4D77A4;
    height: 17px;
    margin: 5px 0px;
    padding: 2px 0px;
}

.annex_section_subtitle {
    color: white;
    background-color: #2B5582;
    height: 15px;
    margin: 5px 0px;
    padding: 2px 0px;
}

.annex_section_content {
    height: 15px;
    margin: 5px 5px;
    padding: 2px 0px;
}

.data_table {
    width: 100%;
}

.data_table td {
    text-align: right; 
    font-size: 11px;
}

#header_layout {
    background-color: #0e90d2;
    min-height: 100px;
    padding: 0;
    margin: 0;
}

#logo_container {
    margin: auto;
    margin-top: 10px;
    width: 70px;
    max-height: 75px;
    background-color: white;
}

#logo {
    width: 60px;
    margin: auto;
    padding: 3px;
}

#title {
    margin-top: 15px;
}

.small_text {
    font-size: 11px;
}
