body {
    font-family: 'Helvetica Neue', helvetica, sans-serif
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}

.text-bold {
    font-weight: 900 !important;
}

.box {
    width: 40%;
    margin: 195px 0 0 80px;
    text-align: center;
}

.increase-space {
    margin-bottom: 15px;
}

.xl {
    font-size: 13px !important;
}

.small {
    font-size: 9px !important;
}

hr {
    display: block;
    height: 0;
    border: 1px solid black;
    width: 50%;
}

.big-gap {
    margin-top: 20px;
    margin-bottom: 20px;
}