body, p {
    font-size: 14px !important;
}

.container {
    position: absolute !important;
    top: 5px !important;
}

.letter-date {
    margin-bottom: 32px;
}

.letter-header {
    margin-bottom: 96px;
}

.letter-subject {
    margin-bottom: 64px;
}

.letter-body p {
    margin: 24px 0;
}

.transformation-centers {
    margin-top: 64px;
}

.transformation-centers thead tr th {
    font-weight: normal;
    text-transform: uppercase;
}

table.transformation-centers {
    border-collapse: collapse;
}

table.transformation-centers,
table.transformation-centers td,
table.transformation-centers th {
    border: 1px solid black;
    font-size: 11px;
}

table.table-adjust-space.transformation-centers td,
table.table-adjust-space.transformation-centers th {
    padding: 2px 8px;
}

table.table-adjust-space.transformation-centers th {
    font-weight: bold;
}


table.transformation-centers td.cell-top-aligned {
    vertical-align: top;
}

.letter-signature {
    position: relative;
    display: inline-block;
    bottom: -192px;
    right: calc(-100% + 350px);
}

.letter-signature:before {
    content: 'Por VALL DE SÓLLER ENERGIA SLU';
}

.letter-signature:after {
    content: 'Fdo. Luis Juncosa Miró\AIngeniero Industrial';
    white-space: pre;
}

