.text-box {
    margin-top: 55px;
}

p.large {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.extra-large {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.box {
    font-family: "Sans serif", serif;
}