body{
    font-family: "Liberation Sans";
    font-size: 11px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 50px;
}
table{
    font-size: 10pt;
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
thead{
    display: table-header-group
}
tfoot{
    display: table-row-group
}
tr{
    page-break-inside: avoid
}
.taula_dades{
    border: none;
}
.taula_dades td{
    padding: 5px;
    padding-left: 10px;
}
.titol{
    position: relative;
    float: left;
    font-size: 14pt;
    font-weight: bold;
    width: 70%;
    height: 5px;
    vertical-align: baseline;
}
.data{
    position: relative;
    float: right;
    font-size: 10pt;
    vertical-align: baseline;
    margin-top: 5px;
}
.logo_container{
    position: relative;
    float: left;
    margin-bottom: 20px;
}
.logo{
    height: 85px;
}
.seccio{
    position: relative;
    border: 1px solid #D8D8D8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.titol_seccio{
    background-color: #91adc7;
    padding: 10px !important;
    font-weight: bold;
    font-size: 12pt;
    color: white;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.titol_taula{
    background-color: #91adc7;
    font-size: 9pt;
}
.radius_bottom_left{
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
.radius_bottom_right{
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}
.contingut_seccio{
    position: relative;
    padding: 10px;
}
.fons_gris{
    background-color: #D8D8D8 !important;
}
.border_left_gris{
    border-left: 1px solid #D8D8D8 !important
}
.border_right_gris{
    border-right: 1px solid #D8D8D8 !important
}
.text_right{
    text-align: right;
}
.field{
    font-weight: normal;
}
.mt_15{
    margin-top: 15px;
}
.mt_25{
    margin-top: 25px;
}
.mt_35{
    margin-top: 35px;
}
.w_20{
    width: 20px;
}
.w_30{
    width: 30px;
}
.w_40{
    width: 40px;
}
.w_50{
    width: 50px;
}
.w_75{
    width: 75px;
}
.w_82{
    width: 82px;
}
.w_80{
    width: 80px;
}
.w_90{
    width: 90px;
}
.w_100{
    width: 100px;
}
.w_140{
    width: 140px;
}
.w_200{
    width: 200px;
}