body{
    margin: 0px 65px;
}

#capcalera {    /*Div Capçalera*/
    width: calc(100%- 100px);
    margin-left: 100px;
    position: relative;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    font-weight: bold;
    height: 80px;
}

#logo {         /*Div Logo*/
    position: absolute;
    margin: 5px;
    top: 0;
    left: -100px;
    vertical-align: middle;
}

#logo_img{      /*Imatge Logo*/
    max-height: 75px;
    max-width: 100px;
}

#report_title{
    margin: auto;
    max-width: 500px;
    font-size: 22px;
}

#camps_capcalera {  /*Div camps de dades Capçalera*/
    font-size: 12px;
    margin: 30px 3px 10px;
    width:100%;
    padding: 5px;
    min-height: 15px;
    white-space: nowrap;
}
.header_field_name {     /* Text nom del camp */
    font-weight: bold;
    width: 150px;
    display: inline-block;
}

.header_field_data {    /* Text dada del camp */
    text-indent: 25px;
    min-width: 200px;
    display: inline-block;
}

#taula_dades {  /* Table de la taula de dades */
    font-size: 11px;
    width:100%;
    page-break-inside:auto;
    border-collapse: collapse;
    border-style: hidden;

}

#taula_hores {  /* Table de la taula de hores */
    font-size: 8px;
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;
}

#taula_hores tr{  /* Table de la taula de hores */
    background-color: transparent;
}

th, td{
    padding: 5px 10px;
}

th{
    text-align: center;
    background-color: #3eb2f4;
}

tr{
    page-break-inside:avoid;
    page-break-after:auto;
}

thead{
    display:table-header-group;
}

thead tr{
    background-color: #3eb2f4;
}

tfoot tr{
    border-top: 1px solid #8acdff;
}

tr:nth-child(even){
    background-color: #c1f1ff;
}

#taula_capçalera{
    margin-top: 20px;
    margin-bottom: 20px;
}

#taula_capçalera th, #taula_capçalera td{
    background-color: white;
    font-size: 12px;
    text-align: left;
    padding: 0;
    vertical-align: top;
}

.times{     /*Camps de la taula que inclouen hores*/
    text-align: right;
}

#data_task{ /* Camp de la taula on es mostren les dades de la tasca */
    text-align: justify;
}
#task_name{
  font-size:12px;
  text-align:left;
  font-weight:bolder;
}
#task_descr{
  position: relative;;
  top:-5px;
  padding-left: 10px;
}
