body {
    font-family: helvetica;
    font-size: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

table td {
    border: 1px solid black;
    text-align: left;
    font-size: 10px;
}

#header {
    margin-top: 20px;
}

#logo img {
    margin-top: 10px;
    height: 80px;
}

.titol {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.seccio {
    font-weight: bold;
}

.label {
    font-weight: bold;
    margin-left: 5px;
}

.field {
    margin-left: 10px;
}

#legal {
    text-align: justify;
}

.signatura {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    height: 90px;
}
img.firma{
    padding-top: 10px;
    max-height: 60%;
}