table {
    border: 1px solid #DCDCDC;
}

table td {
    border: 1px solid #DCDCDC;
}

table.taula_titol {
    text-align: center;
    border: 0px;
}

table.taula_titol td {
    border: 0px;
    text-align: center;
}

table.energia {
    border: 0px;
    margin-top: 5px;
    text-align: center;
}

table.energia td {
    text-align: center;
    width: 20%;
}

.invisible {
    border: 0px !important;
}

#titol_1 {
    font-weight: bold;
    color: white;
    background-color: #9F9F9F;
}

#titol_2 {
    font-weight: bold;
    color: black;
}

#contenidor_energia {
    margin-top: 5px;
}

#preu_energia {
    position: relative;
    float: left;
    width: 45%;
}

#preu_potencia {
    position: relative;
    float: right;
    width: 45%;
}

.nota {
    font-weight: normal !important;
    font-size: 10px;
}