body {
    font-family: helvetica;
    font-size: 10px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

table td {
    border: 1px solid black;
    text-align: left;
    font-size: 10px;
}

.label {
    font-weight: bold;
}

.field {
    font-size: 9px;
}

#header {
    margin-top: 20px;
}

#logo {
    width: 220px;
    background-color: #A6F5A5;
    height: 50px;
}

.titol {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.table_title {
    background-color: #A6F5A5;
    font-weight: bold;
    text-align: center;
}

.signatura {
    position: relative;
    float: left;
    width: 50%;
    height: 120px;
    font-size: 7px;
}

thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }