body{
    margin: 65px;
}

.dataAct{
    position: absolute;
    top:0;
    right: 65px;
    font-size:10px;
}

.client{
    font-size:11px;
    padding:0;
    margin: 0;
    align-content: center;
    border: 1px solid #ddd;
    border-radius: 7px;
    overflow: hidden;
}

.client h2{
    padding:0;
    margin: 2px;
    padding-left: 10px;
}

.client div{
    padding:0;
    margin: 0;
    border: 1px solid #91adc7;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    width: 100%;
    position: relative;
    left: -1px;
    top: 0;
    background-color: #91adc7 !important; /*Blau_2*/
}

.client table{
    border-collapse: collapse;
    font-size:inherit;
    padding:0;
    margin: 0;
    margin-left:5px;
    width:100%;
    text-align: left;
}

.client table th,.client table tr,.client table td{
    padding: 3px;
}

.client table th{
    font-weight: bolder;
}

.client .nowrap{
    white-space: nowrap;
}

.client table td{
    font-width: normal;
}

/*.client table tr:first-child{*/
    /*background-color: #91adc7 !important; !*Blau_2*!*/
/*}*/

.observ{
    font-size:11px;
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
    page-break-after: auto;
}

h1{
    font-size: 18px;
}

h2{
    font-size: 15px;
}

.observ p{
    margin:0;
    padding:0;
}

h3{
    position: relative;
    top:-13px;
    left: 13px;
    font-size: 13px;
    margin: 0;
    padding: 0;
    display: inline;
}

.default{
    background-color: #AAC7FF;
    width: 10px;
    height: 10px;
}

.lorem{
    background-color: #4381d9;
    width: 10px;
    height: 10px;
}

.ipsum{
    background-color: #0251ED;
    width: 10px;
    height: 10px;
}

.dolor{
    background-color: #1c3e8a;
    width: 10px;
    height: 10px;
}

.sit{
    background-color: #09193A;
    width: 10px;
    height: 10px;
}

.observ{
    width:100%;
}

.observ table{
    width:100%;
    border-collapse: collapse;
    font-size: inherit;
    padding:0;
    margin: 0;
    margin-bottom: 5px;
}

.observ table th,.observ table tr,.observ table td{
    /*border-left: 1px solid #3b4e64;*/
    padding: 5px;
    /*border: none !important;*/
}

.observ table td:first-child{
    white-space: nowrap;
}

.observ table th:first-child{
    white-space: nowrap;
}

.observ table tr:first-child{
    /*background-color: #999999 !important; !*Gris*!*/
    /*background-color: #6896ff !important; !*Blau*!*/
    background-color: #91adc7 !important; /*Blau_2*/
}

.observ table tr:nth-child(even){
    /*background: #ccc; !*Gris*!*/
    /*background: #caedff; !*Blau*!*/
    /*background: #dce9ff; !*Blau_2*!*/
    background: #fff;
}

.observ table tr:nth-child(odd){
    background: #ddd;
}

.timesheet{
    width: 100%;
    margin:0 auto;
    align-content: center;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid #bbb;
    border-top: 0;
    background-color: #eee;
    position:relative;

    overflow: hidden;
}

.timesheet.color-scheme-default .bubble-default{ /*Diferents colors de les bombolles*/
    background-color: #AAC7FF;
}

.timesheet.color-scheme-default .bubble-lorem{
    background-color: #4381d9;
}

.timesheet.color-scheme-default .bubble-ipsum{
    background-color: #0251ED;
}

.timesheet.color-scheme-default .bubble-dolor{
    background-color: #1c3e8a;
}

.timesheet.color-scheme-default .bubble-sit{
    background-color: #09193A;
}

.timesheet .scale{
    height:100%;
    position:absolute;
    top:0;
    left:0;
    float:left;
    overflow: hidden;
    z-index: 0;
}

.timesheet .scale section{
    float:left;
    text-align:center;
    color: #333333; /*Color dels anys en el timeline*/
    font-family:"Signika Negative";
    font-size:12px;
    line-height:24px;
    font-weight:lighter;
    height:100%;
}

.timesheet .scale section:first-child{
    border-left: 1px solid rgba(0,0,0,0); /*No vull separador al principi de tot*/
}

.timesheet .scale section:not(:first-child){
    border-left:1px solid #bbb; /*Separadors verticals*/
}

.timesheet .scale .jump{
    background-color: #bbb;
    width: 10px;
    margin: 0;
    padding: 0;
    border-left:1px solid rgba(0, 0, 0, 0) !important; /*No vull que altres configuracions ho afectin*/
}

.timesheet .years{
    width: 200%;
    height: 32px;
    background-color: #ccc;
    border-bottom: 1px solid #bbb;
    border-left:10px solid #bbb;
    position: absolute;
    top: -10px;
    left: -20px;
    z-index: -1;
}

.timesheet .data{
    margin:28px 0 0 0;
    padding:0;
    text-align:left;
    list-style-type:none;
    color:rgba(250,250,250,0.8);
    font-family:"Signika Negative";
    font-size:13px;
}

.timesheet .data li{
    margin:0;
    line-height:22px;
    height:21px;
    display:block;
    clear:both;
    position:relative;
    white-space:nowrap
}

.timesheet .data li .label .date{
    color: rgba(51, 51, 51, 0.8); /*Color de les dates*/
    font-size:9px;
    font-weight: lighter;
    position: relative;
    top: -1px;
}

.timesheet .data li .label{
    font-weight: bolder;
    font-size:11px;
    line-height:20px;
    color:#333333; /*Color de l'etiqueta*/
    white-space:nowrap;
}

.timesheet .data li .bubble{
    width:24px;
    height:7px;
    display:block;
    float:left;
    position:relative;
    top:6px;
    border-radius:4px;
    margin:0 3px 0 0;
    opacity:1
}