body {
	background-image: none;
	background-color: #fff;
}

form input {
	height: 18px;
}

form select {
	height: 25px;
}

input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    display: inline;
}

#confirmacio_contractacio {
    width: 700px;
    margin: 15px 0px 15px 0px;
    font-family: helvetica;
    font-size: 12px;
    color: black;
}

#condicions_titular {
    position: relative;
    top: 4px;
}

input#compte_email,
input#compte_nom,
input#compte_cognom {
	width: 250px;
}

input#compte_dni,
input#compte_cp,
input#compute_provincia,
input#compte_municipi,
input#compte_tel,
input#compte_tel2 {
	width: 250px;
}
input#compte_adreca {
    width: 250px;
}

/* monkeypatch somenergia css */
select#registre_pais {
    height: 25px;
    width: 310px;
}

select#registre_provincia, input#registre_ciutat, select#idioma, select#registre_municipi,
input#registre_tel, input#registre_tel_2 {
    width: 160px;
 }

input#registre_cognom {
    width: 589px;
}

textarea#registre_com {
    width: 609px;
}

input#registre_conegut, input#registre_animat {
        width: 324px;
}

input#cups, input#potencia {
    width: 165px;
}

input#titular_adreca {
	width: 627px;
}

input#cups_adreca {
	width: 508px;
}

input#referencia {
	width: 508px;
}

select#cups_municipi, 
select#titular_municipi {
	width: 155px;
}

select#cups_provincia {
	width: 155px;
}

select#tarifa {
	width: 155px;
}

select#titular_country {
	width: 325px;
}

select#titular_provincia {
	width: 170px;
}

select#soci_country {
	width: 310px;
}

select#soci_provincia {
	width: 170px;
}

input#registre_email, input#registre_adreca {
    width: 310px;
}

.msg_confirmacio {
    font-weight: bold;
    font-size: 16px;
}

.apartat {
    font-size: 14px;
}

.apartat_confirmacio {
	font-weight: bold;
    text-decoration:underline;
}

.titol_confirmacio {
	font-weight: bold;
}

.error {
	border-color: #f00 !important;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.flashes {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    list-style: none outside none;
    border: 3px solid #e00;
    padding: 5px 5px 5px 5px;
}

.message {
    color: red;
}

#login, #inversio {
    margin-left: auto;
    margin-right: auto;
}

#login {
    width: 300px;
}

#inversio {
    width: 1000px;
}

.login input {
    margin-left: auto;
    margin-right: 0px;
}

.label_agreements {
    float: left;
    clear: right;
}

#agreements {
/*    border-width: 2px;
    border-style: solid; */
    padding: 2px;
    width: auto;
}

#agreements ul {
    margin-left: -40px; /* corregim no mostrar bullets */
    list-style-type: none;
}

#avis_agreements {
    margin-top: 20px;
}

#avis_agreements p {
    font-size: 9px;
}

#hentitat, #hsucursal {
	width: 50px !important;	
}
#hcontrol {
	width: 25px !important;
}
#hncompte {
	width: 125px !important;
}

input#titular_email {
width: 325px;
}
/*
#repr_nom {
    width: 200px;
}
*/
#representant_nom {
    width: 236px;
}

#representant_dni {
    width: 164px;
    margin-left: 44px;
}

#repr_dni {
    margin-left: 35px;
}

div#notes_legals_narrow {
margin: 20px 0px 15px 0px;
}
