* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 9px;
    color: #000000;
    margin: 20px;
    padding: 0;
    font-family: "Roboto-Regular";
}


.taula_mlines {
    font-size: 8px;
    width: 100%;
    border: none;
    border-collapse: collapse;
    font-family: "Roboto-Regular";
}

.capcalera_principal_taula_mlines {
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
}
.capcalera_secundaria_taula_mlines_etiqueta {
    font-size: 9px;
    text-align: right;
    font-weight: bold;
}
.capcalera_secundaria_taula_mlines_valor {
    font-size: 9px;
    text-align: left;
    font-weight: 100;
}
.capcalera_columnes_textes {
    border-bottom:1px solid #000000;
    text-align: left;
}
.capcalera_columnes_credit_debit {
    border-bottom:1px solid #000000;
    text-align: right;
}
.fila_capcalera_secundaria th {
    border-bottom:1px solid #000000;
    padding-bottom: 20px;
}

.capcalera_suma_i_sigue{
    font-size: 9px;
    font-weight: bold;
    text-align: right;
}
.capcalera_suma_i_sigue_vals{
    font-weight: bold;
    text-align: right;
    border-top:1px solid #000000;
}

.capcalera_pagina{
    font-weight: bold;
    text-align: right;
    padding-top: 10px;
}

.columna_taula_mlines{
    text-align: left;
}
.columna_taula_mlines_credit_debit{
    text-align: right;
}

.columna_header_subcompte {
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 10px;
    font-weight: bolder;
}