@font-face {
    font-family: "Euphemia UCAS";
    src: url("assets/euphemia.ttf") format('truetype');
    font-weight: bold;
}

body {
    font-size: 11pt;
    color: black;
    margin: 0px 20px 0px 25px;
    padding-top: 0px;
    font-size: 11px;
}
h2 {
    font-size: 16px;
    margin: 0px;
    margin-left: 20px;
    line-height: 20px;
}
h4 {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    line-height: 17px;
    font-weight: normal;
}
table {
    border-collapse: collapse;
}
#publicitat {
    margin-top: 7px;
}
.bottomBorder td,
.bottomBorder th {
    border-bottom: 1px solid black;
}
.rightBorder {
    border-right: 1px solid black;
}
hr {
    margin:2px 0;
    border:0;
    border-top:0px solid #000;
    border-bottom:1px solid #000;
}
#logo{
    width: 48%;
}
#img_logo {
    max-height: 90px;
    float: left;
}
#invoice_details {
    font-size: 11.4px;
    width: 45%;
    float: right;
    line-height: 1.25;
}
#green_box {
    background-color: #aede00;
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding-left: 5px;
}

#header {
    margin: 10px 10px 0px 10px;
    overflow: hidden;
}

#energia_consumida {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
}

.small_text{
    font-size: 11px;
}
.smaller_text{
    font-size: 7px;
}
.section {
    margin: 30px 20px 0px 20px;
}
.alert_text{
    font-weight: bold;
    color: #aede00;
    font-size: 15px;
    line-height: 18px;
}

.data_table td {
    padding: 0px 50px 0px 0px;
}

/** Standard box decoration **/

.box_decoration {
    border: 2px solid #aede00;
    border-radius: 7px;
    padding: 7px 10px 7px 10px;
}

.icon {
    max-height: 30px;
}

/** Small classes **/

.pt_5{
    padding-top: 5px !important;
}
.pt_10 {
    padding-top: 10px !important;
}
.pt_15 {
    padding-top: 15px !important;
}
.pr_5{
    padding-right: 3px !important;
}
.pl_5{
    padding-left: 5px !important;
}
.pl_fiscal_position{
    padding-left: 5px !important;
    white-space: nowrap;
}
.pl_12{
    padding-left: 12px !important;
}
.pl_14{
    padding-left: 14px !important;
}
.pl_15{
    padding-left: 15px !important;
}
.pb_10{
    padding-bottom: 10px !important;
}
.pb_20{
    padding-bottom: 20px !important;
}
.pt_4{
    padding-top: 4px !important;
}
.pt_5{
    padding-top: 5px !important;
}
.pr_5 {
    padding-right: 5px !important;
}
.p_0 {
    padding: 0px;
}
.p_5 {
    padding: 5px;
}
.p_10 {
    padding: 10px;
}
.p_15 {
    padding: 15px !important;
}
._ml_5{
    margin-left: 5px;
}
._ml_12{
    margin-left: 12px;
}
._mr_12{
    margin-right: 12px;
}
._mt_25{
    margin-top: 25px;
}
._mt_15{
    margin-top: 15px;
}
._mt_10{
    margin-top: 10px;
}
._mt_5{
    margin-top: 5px;
}
.m_0 {
    margin: 0px;
}
.mb_20 {
    margin-bottom: 200px;
}
.mb_10 {
    margin-bottom: 0px;
}
.h_20{
    height: 20%;
}
.h_45{
    height: 45px;
}
.h_48{
    height: 48px;
}
.h_50{
    height: 50px;
}
.h_60p{
    height: 60px;
}
.h_60{
    height: 60%;
}
.w_5{
    width: 5px;
}
.w_6p{
    width: 6%;
}
.w_10p{
    width: 10%;
}
.w_10{
    width: 7px;
}
.w_20{
    width: 20%;
}
.w_25p{
    width: 25%;
}
.w_20px{
    width: 20px;
}
.w_25{
    width: 25px;
}
.w_28{
    width: 28px;
}
.w_30{
    width: 30px;
}
.w_31{
    width: 31px;
}
.w_33p{
    width: 33%;
}
.w_35{
    width: 35px;
}
.w_35p{
    width: 35%;
}
.w_38p{
    width: 38%;
}
.w_40p{
    width: 40%;
}
.w_44{
    width: 44px;
}
.w_45p{
    width: 45%;
}
.w_47{
    width: 47px;
}
.w_48p{
    width: 48%;
}
.w_50p{
    width: 50%;
}
.w_52p{
    width: 52%;
}
.w_55{
    width: 55px;
}
.w_55p{
    width: 55%;
}
.w_60{
    width: 60px;
}
.w_60p{
    width: 60%;
}
.w_63p{
    width: 63%;
}
.w_65p{
    width: 65%;
}
.w_65{
    width: 65px;
}
.w_70{
    width: 70px;
}
.w_75{
    width: 75px;
}
.w_85{
    width: 85px;
}
.w_90{
    width: 90px;
}
.w_95{
    width: 95px;
}
.w_100{
    width: 100px;
}
.w_105{
    width: 105px;
}
.w_110{
    width: 110px;
}
.w_115{
    width: 115px
}
.w_120{
    width: 120px;
}
.w_145{
    width: 145px;
}
.w_170{
    width: 170px;
}
.w_185{
    width: 185px;
}
.w_220{
    width: 220px;
}
.w_313{
    width: 313px;
}
.float_l {
    float: left;
}
.float_r {
    float: right;
}
.font_10 {
    font-size: 10px;
}
.top_border {
    border-top: 1px solid #000;
}
.align_r {
    text-align: right;
}
.align_l {
    text-align: left;
}
.align_c {
    text-align: center;
}
.valign_c {

}
.postal_text {
    font-size: 13px;
}
.green {
    background-color: #aede00;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.h_17 {
    height: 17px;
}
.lh_13 {
    line-height: 13px;
}
.lh_11 {
    line-height: 11px;
}
.lh_8 {
    line-height: 8px;
}
.contact_info {
    height: 90px;
}
.table_img td{
    padding-left: 15px;
}
.table_img {
    padding: 15px 15px 25px 0px;
}

/** Vertical text **/

#outer {
    width: 15px;
    position: relative;
    float: left;
    font-size: 8px;
}

#vertical_text {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: -15px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    width: 750px;
    bottom: -600px;
    padding: 0px;
    color: #696969;
}

/** TESTING CLASSES **/

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

/* Suplementos TEC 271 2019 */
div.supl {
    line-height: normal;
    position: relative;
    float: right;
    height: 190px;
    font-size: 7px;
    overflow:hidden;
    font-style: italic; !important
}
div.supl h1{
    font-style: normal; !important
}
table.supl {
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
}
