.chart_desti svg{
    font-size: .8em;
}

.chart_desti p {
    text-align: center;
    line-height: 1;
    margin: .3em;
}

.FONS {
    fill: #ffffff;
}

.REG {
    fill: #bfd221;
}

.IMP {
    fill: #408b36;
}

.PROD {
    fill: #72ac3e;
}

.bar_i {
    fill: #f4e56d;
    color: #FFFFFF;
}

.bar_c {
    fill: #ffd246;
    color: #FFFFFF;
}

.bar_o {
    fill: #d0be2e;
    color: #FFFFFF;
}


.bar_f {
    fill: #ffffff;
}

.etiqueta,
.etiqueta_reparto{
    background-color: transparent;
    line-height: 1;
    font-size: 8px;
    /*padding: .2em;*/
    margin-left: -10px;
    display: inline-block;
}

.etiqueta p {
    padding: 0px;
}
.etiqueta_reparto p {
    margin: .2em;
    padding: .5em;
    text-align: left;
    color:#000000;
}

