/***************************** GENERAL *****************************/
*{
    font-family: "Liberation Sans"
}

body{
    font-size: 7px;
}

tr{
    page-break-inside: avoid;
    page-break-after: auto;
}

/***************************** HEADER *****************************/
.header{
    width: 100%;
    page-break-before: always;
}

.header img{
    position: relative;
    float: left;
    margin:0;
    margin-top: 3px;
    margin-left: 2px;
    height: 32px;
}

.header div{
    position: relative;
    float: right;
    text-align: right;
}

.header hr{
    height: 3px;
    color: #4D77A4;
    background-color: #4D77A4;
    border:1px solid #4D77A4;
}

.header table{
    width: 100%;
    font-size: inherit;
}

.header table th{
    border: none;
    width: 69%;
    text-align: right;
    padding-right: 5px;
}

.header table td{
    border: 1px solid #000000;
    background-color: #ddd;
    width: 30%;
    padding:1px;
    padding-left: 5px;
}

/***************************** DADES INSPECCIO *****************************/
.insp table{
    width: 100%;
    font-size: inherit;
}

.insp table th{
    border:none;
}

.insp table td{
    border: 1px solid #000000;
    background-color: #ddd;
    padding:1px;
    padding-left: 5px;
}

/***************************** CHECKS *****************************/
.checks{
    font-size: 6px;
    border-collapse: collapse;
    page-break-after: auto;
    page-break-inside: auto;
}

.checks thead th{
    background-color: #fff !important;
    border: 1px solid #000000;
    font-size:5px;
}

.checks th, .checks td, .checks tr{
    padding-top: 1px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 0px;
}

.checks th{
    background-color: #999;
}

.checks td, .checks th{
    border: 1px solid #000;
}

/*.checks tr:nth-child(even){*/
    /*background-color: #fff;*/
/*}*/

/*.checks tr:nth-child(odd){*/
    /*background-color: #ddd;*/
/*}*/

.checks td{
    text-align: center;
}

.checks td:nth-child(2){
    text-align: left;
}

/***************************** LLISTA DEFECTES *****************************/
.defec{
    border-collapse: collapse;
    font-size: inherit;
    width:100%;
    text-align: center;
    page-break-after: auto;
    page-break-inside: auto;
}

.defec thead{
    /*display:table-header-group;*/
}

.defec tbody{
    font-size: 10px;
}

.defec th{
    background-color: #ddd;
    border: 1px solid #000;
    font-size: inherit;
    padding:3px;
}

.defec th.rotated{
    text-align: center;
    vertical-align: bottom;
    height: 50px;
    padding:0;
    padding-bottom: 5px;
}

.defec th.rotated div{
    text-align: center;
    vertical-align: middle;
    width: 20px;
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
    padding-top: 3px;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.defec td:last-child{
    text-align: left;
}

.defec td{
    border: 1px solid #000000;
    padding:3px;
}

/***************************** TERRA NEUTRAL *****************************/
.terraNeu{
    page-break-inside: avoid;
    padding-top: 3px;
}

.terraNeu table{
    border-collapse: collapse;
    width: 100%;
    font-size: inherit;
}

.terraNeu th{
    font-weight:bolder;
    border: 1px solid #000000;
}

.terraNeu tr:first-child{
    background-color: #111;
    color: #fff;
}

.terraNeu tr{
    border: 1px solid #000000;
}

/***************************** OBSERVACIONS (baix esq) *****************************/
.observ{
    position: relative;
    float: left;
    padding-top: 5px;
    width: 50%;
}

.observ table{
    width: 100%;
    font-size: inherit;
    border-collapse: collapse;
}

.observ th{
    border: 1px solid #000000;
}

.observ td{
    border: 1px solid #000000;
    padding: 3px;
    padding-top: 7px;
}

/***************************** FIRMA (baix dre) *****************************/
.firma{
    position: relative;
    float: right;
    padding-top: 5px;
    width: 45%;
}

.firma table{
    font-size: inherit;
    border-collapse: collapse;
}

.firma th{
    border:1px solid #000;
    border-right:none;
    text-align: left;
}

.firma td{
    text-align: center;
    padding: 3px;
    font-size: 10px;
    border:1px solid #000;
    border-left:none;
    width:100%;
}

.peu{
    page-break-inside: avoid;
}