body{
    font-family: "Arial";
    font-size: 14px;
    /*margin-right: 50px;*/
    /*margin-left: 50px;*/
}
h2{
    text-align: center;
}
table{
    width: 100%;
    font-size: 14px;
    border-collapse: separate;
    table-layout:fixed;
    line-height: 16px;
}
table thead{
    display: table-header-group;
    border-spacing: 1px;
}
table tbody{
    border-spacing: 5px;

}
table tr{
    page-break-inside: avoid
}
table th{
    text-align: left;
    background-color: #9FBDFF;
    border-color: #9FBDFF;
    border-style: solid;
    margin-right: 20px;
    margin-left: 20px;
}
table td{

}
.haederbox_center{
    position: relative;
    float:left;
    width:40%;
    margin-right:10px;
    margin-left: 15px;
    font-size: 18px;
    border: 2px solid;
    text-align: center;
}
.haederbox_left{
    position: relative;
    float:left;
    width:25%;
    font-size: 14px;
    margin-right: 5px;
}
.haederbox_right{
    position: relative;
    float:left;
    width:25%;
    font-size: 12px;
    margin-left: 10px;
    padding-left: 20px;
}
#logo{
    width: auto;
    height: auto;
    max-height: 50px;
}
#nota{
    clear:both;
    float: left;
    width:100%;
    text-align:center;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.bordered_cell{
    border: 1px solid;
    border-color: black;
}
.lletra_petita{
    font-size: 11px;
}
.doc_title{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.municipi{
    clear: both;
    font-size: 12px;
    float: right;
    margin-right: 5px;
    width: 10%;
    text-align: right;
}
.data_row{
    height: 30px;
}
#headerbox_left_text{
    margin-top: 15px;
    margin-left: 35px;
}
.observacions_reconeixament{
    overflow: hidden;
    height: 48px;
}