body{
    font-family: "Liberation Sans";
}

th {
    color: white;
    background-color: #4D77A4;
    border-collapse: collapse;
    font-size: 11px;
    text-align: left;
}

#logo {
    float: left;
    margin-bottom: 5px;
}

#separador {
    clear: both;
    height: 20px;
    background-color: #4D77A4;
    border-radius: 5px;
    width: 100%;
}

#capcalera1{
    margin-top: -12px;
    width: auto;
    font-size: 8px;
}

#capcalera1 h1{
    width: auto;
    text-align: right;
    font-size: 20px;
    margin-bottom: 25px;
}

#capcalera1 h2{
    max-width: 1000px;
    margin-top: -3px;
    clear: both;
    font-size: 20px;
    color: #7f7f7f;
    float: left;
}

#separador2{
    margin-top: -15px;
    width: 100%;
    background-color:  #4D77A4;
    border-radius: 30px;
    height: 2px;
}

.col-codi{width: 8%;}
.col-desc{width: 20%;}
.col-type{width: 6%;}
.col-data{width: 10%;}
.sub-col{width: 7.3%;}
.col-obse{}

#div-1st-summary{
    width: 30%;
    float: left;
}

#div-2nd-summary{
    float: left;
    padding: 38px 0 0 20px;
    width: 50%;
}

#col-inst { width: 50%}
#col-prev { width: 25%}
#col-revi { width: 25%}

/* GLOBAL */

.llista_info p{
    font-weight: bold;
    font-size: 12px;
}

.llista_info table{
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

.llista_info td{
    padding: 0 5px 0 5px;
    font-size: 10px;
}

.summary tr{
    height: 20px;
}

.h40px{
    height: 40px;
}

.va-center{
    line-height: 40px;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.right{
    text-align: right;
}

.bold{
    font-weight: bold;
}

.no-bold{
    font-weight: normal;
}

.table-intercoloured-rows tr:nth-child(odd){
    background-color: #dddddd;
}

.table-intercoloured-rows tr:last-child{
    background-color: white !important;
}
