body {
    font-size: 10px;
    font-family: "Liberation Sans";
    color: #000000;
    font-weight: 100;
    margin-left: 20px;
}

.rotate{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
}
.rotate div {
    -webkit-transform: rotate(-90.0deg);
     margin-left: -10em;
     margin-right: -10em;
}

.left-30{
    float: left;
    width: 39%;
    padding: 0 5px 10px 0;
}
.left-50-clear{
    float: left;
    width: 49%;
    padding: 0 5px 10px 0;
    clear: both;
}
.right-30{
    float: right;
    width: 49%;
    padding: 0 5% 10px 5px;
}

.right-50{
    float: right;
    width: 49%;
    padding: 0 0 10px 5px;
}
.right-50-clear{
    float: right;
    width: 49%;
    padding: 0 0 10px 5px;
    clear: both;
}

.top-10{
    margin-top: 15px;
}
.top-50{
    margin-top: 50px;
}

.w100p{ width: 100% }

.h15{
    height: 15px;
    min-height: 15px;
}

#lateral-info {
    width: 600px;
    padding-top: 8px;
    position: relative;
    float: left;
    left: -320px;
    top: 420px;
    font-size: 8px;
    -webkit-transform: rotate(-90.0deg);
}

/*----------text----------*/

.center{
  text-align: center;
}

.justify{
  text-align: justify;
}

.s8{
  font-size: 8px;
}
.b8{
  font-size: 8px;
  font-weight: bold;
}

.s10{
  font-size: 10px;
  font-weight: 100px;
}
.b10{
  font-size: 10px;
  font-weight: bold;
}

.s12{
  font-size: 12px;
  font-weight: normal;
}
.b12{
  font-size: 12px;
  font-weight: bold;
}

.s14{
  font-size: 14px;
}
.b14{
  font-size: 14px;
  font-weight: bold;
}


.s16{
  font-size: 16px;
}
.b16{
  font-size: 16px;
  font-weight: bold;
}

.message{
    font-size: 14px;
}

.paragraph-left{
  padding: 2px 2px 2px 30px;
}

.paragraph{
    padding:5px;
}

/*-----------Styled title-----------*/
.titulo-carta{
    vertical-align: top;
    align-content: center;
    font-size: 14px;
    background: #4D77A4;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*-----------Styled Double table-----------*/

.styled-double-table{
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    width: 100%;
    font-size: 9px;
}

.styled-double-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
}

.styled-double-table td{
    padding: 1px 3px 1px 3px;
    vertical-align: top;
}

.styled-double-table tfoot tr:first-child {
    border-top: 1px solid #4D77A4;
}

/*-----------Styled table-----------*/

.styled-table{
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    width: 100%;
    font-size: 10px;
}

.styled-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
}

.styled-table td{
    padding: 1px 3px 1px 3px;
    vertical-align: top;
}

.styled-table tfoot tr:first-child {
    border-top: 1px solid #4D77A4;
}

/*-----------Light Border--------------*/
.light-border {
  border: 1px solid #4D77A4;
  overflow: visible;
}

/*----------------HEADER---------------*/

#header{
    width: 100%;
    text-align: right;
    padding-top: 20px;
    margin-bottom: 15px;
}

#header td img{
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 80px;
    width: auto;
}
