body {
    font-size: 10px;
    font-family: "Roboto-Regular";
    color: #000000;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

#page{
    float: right;
    width: 91%;
    padding-right: 40px;
    margin-top: 20px;
}

/* NO REMOVE -- for visual debug process */
/*div{*/
    /*border: black 1px solid;*/
/*}*/


/*table, th, td, tr{*/
    /*border: solid 1px black;*/
/*}*/

/*----------------------------------------------------- INFORMACIó LATERAL*/

#lateral-info {
    width: 600px;
    padding-top: 8px;
    position: relative;
    float: left;
    left: -290px;
    top: 500px;
    font-size: 8px;
    -webkit-transform: rotate(-90.0deg);
}

/*----------------------------------------------------- HEADER: LOGO i ADREÇA*/

#header{
    width: 100%;
    font-size: 11px;
    text-align: right;
    margin-bottom: 15px;
}

#header td img{
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 80px;
    width: auto;
}

/*------------------------------------------------------ TAULA: RESUM FACTURA*/

#resum-factura{
    margin-top: 10px;
}

/*---------------------------------------------------- TAULA: CONSUM ELECTRIC*/

#consum-electric{
    margin-bottom: 10px;
}

.rotate{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
}

.rotate div {
    -webkit-transform: rotate(-90.0deg);
     margin-left: -10em;
     margin-right: -10em;
}

/*----------------------------------------------------- TAULA: DETALL FACTURA*/

.detall-factura-inner-table-col-1{width: 34%; background: white}
.detall-factura-inner-table-col-2{width: 22%; background: white}
.detall-factura-inner-table-col-3{width: 22%; background: white}
.detall-factura-inner-table-col-4{width: 22%; background: white}
/*.detall-factura-inner-table-col-5{width: 26%; background: white}*/

#detall-factura{
    clear: both;
}

#detall-factura tfoot td{
    color: grey;
    font-size: 6px;
    font-style: italic;
}

/*------------------------------------------------------- DESTI DE LA FACTURA*/

#desti-factura{
    margin-top: 10px;
}


/*------------------------------------------------ EMERGÈNCIES i RECLAMACIONS*/

.emergency-complaints{
    float: left;
}

.emergency-complaints p{
    font-size: 8px;
    margin-top: 5px;
}
/* style when tariff is 2.* */
.last-tables-on-bottom{
    width: 100%;
}

.last-tables-on-bottom table{
    width: 49%;
}

/* style when tariff is NOT 2.* */

.last-tables-next-to-detall-factura{
    width: 49%;
}

.last-tables-next-to-detall-factura table{
    width: 100%;
}

.last-tables-next-to-detall-factura table:first-child{
    margin-bottom: 10px;
}

/*------------------------------------------------ PELS DIVS DIVISORS D'ESPAI*/

.left-50{
    float: left;
    width: 49%;
    padding: 0 5px 10px 0;
}

.left-50-clear{
    float: left;
    width: 49%;
    padding: 0 5px 10px 0;
    clear: both;
}
.right-50{
    float: right;
    width: 49.5%;
    padding: 0 0 10px 5px;
}
.top-30{
    margin-top: 30px;
}

/*------------------------------------------------------- ESTIL DE LES TAULES*/
.small-styled{
    clear: both;
    text-align: center;
    font-size: 8px;
    font-style: italic;
    font-weight: bold;
    color: white;
    background-color: #4D77A4;
    margin-top:-5px;
    border: 0px;
    padding:0px;
}

.styled-table{
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    width: 100%;
    font-size: 9px;
}

.styled-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
}

.styled-table td{
    padding: 1px 3px 1px 3px;
    vertical-align: top;
}

.styled-table tfoot tr:first-child {
    border-top: 1px solid #4D77A4;
}

.styled-inner-table{
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    font-size: 8px;
}

.styled-inner-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
}

.styled-table-with-caption{
    display: inline-block;
    font-size: 8px;
    text-align: left;
    border-top: solid 2px #4D77A4;
}

.styled-table-with-caption caption{
    font-weight: bolder;
    color: #4D77A4;
}

/*--------------------------------------------------------- BANNERS DEL REVERS*/

.banner{
    width: 100%;
}

.banner img{
    max-width: 100%;
}

/*------------------------------------------------------------------- GLOBALS*/

.postal {
    font-size: 12px;
    text-align: left;
}

.little { font-size: 8px }

.bold{ font-weight: bold }

.italic{ font-style: italic }

.white{ background: white }

.h65px{ height: 65px }

.w100p{ width: 100% }

.center{ text-align: center }

.center-th th{ text-align: center }

.right{ text-align: right }

.row-separator{ border-top: solid 1px #4D77A4 }

/*-------------------------------------------------------------------- COLORS*/

.background-color{ background: #4D77A4 }

.fit-comer-name {
    font-size: 6px;
}

#altres-cell {
    font-size: 8px;
}
