body {
    text-align: justify;
    font-family: "Lato";
    font-weight: normal;
    font-size: 12px;
}

h1 {
    font-size: 17px;
}

h2 {
    color: red;
    font-size: 15px;
    text-align: center;
}

h3 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
}

p {
    font-size: 12px;
}

.ratllat {
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
}

.logo {
    max-width: 120px;
    max-height: 90px;
}

#resum {
    padding: 5px 12px;
}

.rotate{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 100px;
    margin-top: 70px;
    float: left;
    height: 0;
}

.rotate img {
    -webkit-transform: rotate(-90.0deg);
    margin-left: -15em;
    margin-right: -10em;
    font-size: 10px;
    height: 25px;
}

#boe {
    white-space: pre-line;
    padding: 5px;
    font-size: 12.25px;
}

.left-40{
    float: left;
    width: 40%;
    padding: 0 5px 10px 0;
    clear: both;
}

.left-25{
    float: left;
    width: 25%;
    padding: 0 5px 10px 0;
    clear: both;
}

.right-45{
    float: right;
    width: 45%;
    padding: 0 0 10px 5px;
    margin-left: 90px;
}

.contact_info {
    min-height: 100px;
}

.contact_info td {
    font-size: 13px;
}

.payment_info td {
    font-size: 9px;
}

.icona {
    height: 20px;
}

.box-border { border: 1px black solid }

#cap td, #cap th, #cap {
    border: 5px solid white;
}

#partner_address {
    text-align: center;
    font-size: 11px;
}

.address {
    margin-top: 35px;
}

#subtitle {
    font-size: 10px;
    padding: 0 30px;
}

#cap a{
    color: black;
    text-decoration: none;
}

#cap {
    font-size: 9px;
}

#taula_peu {
    font-size: 10px;
    margin-left: 30px;
    width: 550px;
    text-align: center;
}

#condicions_pagament {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 100px;
    width: 500px;
}

#condicions {
    margin: 0 60px;
}

.header {
    text-align: center;
}

.center {
    text-align: center;
}
