body{
    font-family: "Liberation Sans";
}

th{
    font-weight: bold;
}

/*shows the structure, useful when modifiyng the report.*/
/*table, tr, th, td{*/
    /*border: black solid 1px;*/
/*}*/

/*--------------------------------------------------------------------- HEADER*/

#header{
    width: 100%;
    text-align: right;
    font-size: 15px;
    line-height: 15px;
}

#company-logo img{
    height: 70px;
    width: auto;
    float: left;
}

#company-logo img{
    width: auto;
    margin-right: 30px;
}

/*---------------------------------------------------- PICKING & SUPPLIER INFO*/

#picking-info{
    width: 100%;
    margin-top: 30px;
}

#picking-info td{
    vertical-align: top;
}

#picking-info-header{
    font-size: 16px;
    padding-bottom: 10px;
}

#separator{
    border-right: black solid 1px;
}

#datos-del-albaran{
    width: 100%;
}

#datos-del-proveedor{
    width: 80%;
    margin-left: 40px;
}

#datos-del-albaran td, #datos-del-proveedor td{
    font-size: 12px;
}

#datos-del-albaran th, #datos-del-proveedor th{
    font-size: 13px;
}

/*-------------------------------------------------------------- PICKING LINES*/

#picking-lines{
    width: 100%;
    border-collapse: collapse;
}

#picking-lines th{
    height: 20px;
    border-collapse: collapse;
    border-bottom: black 2px solid;
    font-size: 13px;
}

#picking-lines tr{
    page-break-inside: avoid;
}

#picking-lines td{
    height: 20px;
}

#picking-lines tbody{
    font-size: 12px;
    vertical-align: top;
}

.qty{
    text-align: right;
    font-size: 12px;
}
.row-values td{
    border-bottom: solid 1px #e0e0de;
}

.subtitles{ padding-top: 40px }


/*---------------------------------------------------------------------- NOTES*/

#notes-header{
    padding-top: 25px;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: 1px solid black;
}

#notes-body{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
}

/*--------------------------------------------------------------------- GLOBAL*/

.bold{ font-weight: bold }

.align-right{ text-align: right }
