@font-face {
    font-family: "MyriadPro";
    src: url('fonts/MyriadProRegular.ttf') format('truetype');
}
@font-face {
    font-family: "MyriadPro";
    src: url("fonts/MyriadProBold.ttf") format('truetype');
    font-weight: bold;
}
/*
@font-face {
    font-family: "Sansation";
    src: url("fonts/Sansation_Regular.ttf") format('truetype');
}
*/
h1 {
    font-size: 15px;
    text-align: center;
}
body{
    font-family: "MyriadPro";
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 2em;
    padding-left: 2em;
    font-size: 10.5pt;
}
li{
    margin: 15px 0;
}
table{
    text-align: justify;
    padding: 0px;
    margin: 0px;
}
td{
    padding: 5px;
    border: 1px solid black;
}

.header {
    padding: 25px;
    padding-bottom: 7px;
}

.container{
    position: relative;
    padding-left: 35px;
    text-align: justify;
    font-size: 14px;
}
.container_2{
    position: relative;
    padding-left: 35px;
    text-align: justify;
    font-size: 14px;
}
.contingut_taula{
    font-size: 14px;
}

.italic{
    font-style: italic;
}
#top_white{
    border-top: 1px white;
}
#bold{
    font-weight: bold;
}
#outer {
    width: 15px;
    height: 770px;
    position: relative;
    float: left;
    font-size: 8.5px;
    color: gray;
}

#vertical_text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0px;
    left: 0px;
    -webkit-transform-origin: left top;
    width: 770px;
    height: 15px;
    padding: 5px;
}

.header {
    padding: 25px;
    padding-bottom: 7px;
}

.logo {

}

.logo_img {
    height: 100px;
}

.contacto {
    padding-left: 21px;
    padding-top: 11px;
    font-family: "Sansation";
    font-size: 12px;
    color: #233250;
}

.badges_box {
    float: right;
}

.badge {
    margin: 0px 10px;
    max-height: 45px;
}

.float_r {
    float: right;
}

.float_l {
    float: left;
}

.codi_barres {
    align=center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.codi_barres_table {
    font-size: 12px;
    text-align:center;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.bold {
    font-weight: bold;
}

.w50{
    width: 45%;
}

.negative_margin_top {
    margin-top: -35px;
}
