    .chart_consum svg{
        background-color: transparent;
    }

    .chart_consum rect {
        fill: url(#grad);
    }

    .chart_consum .bar1 rect {
        fill: url(#grad1);
    }

    .chart_consum .bar2 rect {
        fill: url(#grad2);
    }

    .chart_consum .bar3 rect {
        fill: url(#grad3);
    }

    .chart_consum text {
        writing-mode: tb;
        font-size: .5em;
    }

    .chart_consum .mes {
        font-size: .5em;
/*        writing-mode: tb; */
        writing-mode: lr;
        text-anchor: middle;
    }

    .yaxis  path,
    .yaxis  line {
        fill: none;
        stroke: #1a459c;
        shape-rendering: crispEdges;
        stroke-width: 0.5;
    }

    .yaxis text {
        writing-mode: lr;
        fill: #1a459c;
    }
    .yaxis path {
        display: none;
    }