body{
    font-family: "Liberation Sans";
    font-size: 11px;
    margin-right: 10px;
    margin-left: 25px;
}
table{
    font-size: 9px;
    width: 100%;
    border-collapse: collapse;
}
.taula_dades td{
    border: 1px solid black;
}
.header{
    height: 30%;
}
.title{
    width: 60px;
    text-align: center;
}
.field{
    width: 20px;
    text-align: center;
}
.dades_factura{
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
}
.logo{
    position: relative;
    float: right;
    height: 100%;
    width: 50%;
}
.img_logo{
    position: relative;
    float: right;
    width: 42%;
    top: 20px;
}
.detalls{
    position: relative;
    top: 100px;
}
.bold{
    font-weight: bold;
}
.subtitol{
    position: absolute;
    top: 70px;
    width: 150px;
}