body {
border:0; margin: 0;
font-family:helvetica;
font-size:10px;
}
body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1.0em;
    margin: 0;
    padding: 0;
}
div.background {
    position    : absolute;
    top         : 0px;
    left        : 0px;
    overflow    : hidden;
    width       : 100%;
    height      : 100%;
    z-index:-1;
}
div.background img{
    width: 100%;
}
.wrapper{
    margin: 0;
    padding: 0;
    padding-top: 30px;
}
.page_princial {
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: 91px;
    margin-right: 62px;
}
.bloc{
    clear: both;
}
.bloc.capcalera {
    margin-top: 55px;
    margin-bottom: 10px;
}
.no_bankcode{
    height: 50px;
}
.tipus_factura{
    float:right;
    top: -40px;
    position: relative;
    height: 1px;
    font-weight: bold;
}
.tipus_factura .big{
    font-size: 1.4em;
}
.esquerra{
    float: left;
    width: 49%;
    margin-right: 12px;
}
.dreta{
    float: left;
    width: 49%;
}
.box{
    border: 1px solid #CCCCCC;
    margin-bottom: 5px;
    padding:2px;
}
.box.dades_calculs{
    height: 516px;
    position: relative;

}
.box.dades_calculs.small{
    height: 300px;
}

.header{
    text-align: center;
    background-color: #aaaaaa;
    border: 1px solid #000000;
    padding: 0px;
}
.header.box{
    margin-bottom: 2px;
    z-index: 1;

}
.titol_taula{
    background-color: #aaaaaa;
    font-weight: bold;
    width: 200px;
}
.titol_taula h1,
.titol_taula h2,
.titol_taula h3
{
    font-size: 1.0em;
    margin: 0;
    padding: 0;
}
.clear{
    margin-bottom: 5px;
}
.fi_bloc{
    clear: both;
}
.bold{
    font-weight: bold;
}
.requadre{
    border: 1px solid #000000;
}

table.dades, table.dades_lectures,
table.dades_calculs, table.dades_bancaries,
table.dades_consumes, table.dades_impostos{
    width: 100%;
}

table.dades td, table.dades th,
table.dades_lectures td, table.dades_lectures th,
table.dades_consumes td, table.dades_consumes th,
table.dades_impostos td, table.dades_impostos th,
table.dades_calculs td, table.dades_calculs th{
    font-size: 10px;
}
table.dades_calculs td{
    line-height: 0.9em;
}
table.dades td{
    line-height: 1em;
}
table.imports_total td, table.imports_total th{
    font-size: 12px;
}
table.imports_total td.iva,
table.imports_total td.requadre{
    text-align: right;
}

table.dades_lectures{
    border-collapse: collapse;
    border-spacing: 0px;
}
table.dades_lectures td{
    margin:0; padding:0;
    font-size: 10px;
}
table.dades_calculs td{
    padding:0px;
}
table.dades_lectures td, table.dades_lectures thead th,
table.dades_lectures tbody th{
    text-align: center;
}
table.dades_calculs td, table.dades_lectures th,
table.imports_total td, table.imports_total tbody tr th{
    text-align: left;
}
table.dades_calculs thead tr th:first-child,
table.dades_impostos thead tr th:first-child{
    background-color: #aaaaaa;
    text-align: left;

}
table.dades_calculs td.total,
table.dades_impostos td.total,
table.imports_total td.total{
    text-align: right;
}
table.dades_lectures thead{
    border:1px solid #CCCCCC;
    background-color: #aaaaaa;
    margin-bottom: 5px;
}
table.dades_lectures thead tr th:first-child{
    background-color: #ffffff !important;
}
table.dades_lectures{
    border:1px solid #CCCCCC;
}
table.dades_lectures .border-bottom{
    border-bottom:1px solid #CCCCCC;
}
table.dades_lectures .border-right,
table.dades_lectures thead .border-right,
table.dades_lectures tbody tr td:nth-child(odd)
{
    border-right:1px solid #CCCCCC;

}
table.dades_lectures tr.contador{
    border:1px solid #CCCCCC;
    background-color: #dbdbdb;
}
table.dades_lectures tr.contador td{
    text-align: left !important;
    padding-left: 5px;
    height: 10px;
}
hr {
    margin:0;
}

.dates_comptadors{
    margin-left:10px;
}

table.dades_lectures tbody tr th{
    font-weight: normal;
}
table.dades_lectures{
    height: 114px;
    width: 100%;
}
div.dades_consumes{
    height: 120px;
}
div.calculs{
    height: 95px;
    margin-bottom: 5px;
}
div.reactiva {
    height: 150px !important;
}
div.dades_impostos{
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;

}
table.dades_bancaries{
    height: 30px;
}
table.dades td.desc, table.dades_lectures td.desc, span.desc{
    font-weight: bold;
}
.big{
    font-size: 12px;
}

.separator{
    margin-left: 5px;
    margin-right: 5px;
}

div .chart_consum_container .desc_text p{
    font-size: 8px;
    line-height: 1px;
}
.dades_barcode td.desc{
    border: 1px solid black;
    background-color: #aaaaaa;
}
.emergency_complaints{
    font-size: 8px;
}
.emergency h2, .complaints h2{
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}
.emergency dt,  .complaints dt {
    float: left;
    clear: left;
    text-align: left;
    font-weight: bold;
    color: #000000;
    padding-right: 5px;
}
.emergency dt{
    width: 80px;
}
.complaints dt {
    width: 110px;
}
.emergency dt:after,
.complaints dt:after {content: "";}
.emergency dd,  .complaints dd {
    margin: 0 0 0 70px;
    padding: 0 0 0 0;

}
.new_page {page-break-after: always;}
.last_page {
    height: 100px;
    position: relative;
    margin-top: -44px;
}