@font-face {
    font-family: "MyriadPro";
    src: url('fonts/MyriadProRegular.ttf') format('truetype');
}
@font-face {
    font-family: "MyriadPro";
    src: url("fonts/MyriadProBold.ttf") format('truetype');
    font-weight: bold;
}
body{
    font-family: "MyriadPro";
    font-size: 11pt;
    margin-right: 50px;
    margin-left: 50px;
    color: #1a459c;
}
table{
    font-size: 10pt;
    border-collapse: collapse;
    width: 100%;
    border: none;
}
#report_sups{
    position: relative;
    float: left;
    width: 320px;
    height: 300px;
    font-size: 7px;
    overflow:hidden;
}
#table_fact{
    position: relative;
    border: 2px solid #60bb46;
    border-right: 0px solid white;
    /* top left, top right, bottom right, bottom left */
    border-radius: 10px 0px 0px 10px;
    float: left;
    width: 63%;
    /* top, right, bottom, left */
    padding: 5px 10px 5px 10px;
}
#continguts{
    position: relative;
    height: 300px;
    margin-top: 25px;
}
#logo{
    position: relative;
    width: 50%;
    float: left;
}
#img_logo{
    position: relative;
    float: left;
    width: 62%;
}
#img_publi{
    position: relative;
    float: right;
    width: 75%;
}
#dades_client{
    position: relative;
    font-size: 12pt !important;
    width: 50%;
    float: left;
    height: 100px;
}
#dades_client table{
    position: relative;
    left: 50px;
    width: 280px;
}
#dades_client td{
    padding-top: 5px;
    padding-bottom: 5px;
}
#barcode{
    position: relative;
    left: 42px;
    height: 30px;
    width: 280px;
}
#info{
    position: relative;
    margin-top: 45px;
}
#cups{
    position: relative;
    float: left;
    border-radius: 8px 10px 8px 10px;
    padding: 9px 5px 7px 5px;
    border: 2px solid #59c134;
    background-color: #def2cd;
    width: 220px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    margin: 0;
}
#telefon_img{
    margin-left: 16px;
    width: 40px;
}
#alerta{
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
}
#text_consums{
    height: 110px;
}
#taula_text_consums{
    text-align: justify;
    width: 190px;
    position: relative;
    left: 5px;
    top: 5px;
    font-size: 9px;
}
#taula_text_consums td{
    vertical-align: bottom;
}
#detall{
    font-family: "MyriadPro";
    font-size: 8pt;
    font-style: italic;
    padding-top: 12px;
}
#info_costat{
    position: relative;
    top: -460px;
    left: -360px;
    white-space: nowrap;
    font-size: 6pt !important;
    font-family: "Sansation";
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
#table_potencies td{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 7pt;
}
#emisions{
    position: relative;
    float: left;
    height: 190px;
    width: 50%;
}
#residus{
    position: relative;
    float: right;
    height: 190px;
    width: 50%;
}
#dades_factura{
    height: 150px;
}
#nota_reactiva{
    position: relative;
    margin: 0px;
    padding: 0px;
    top: -22px;
    left: 5px;
    font-size: 5.5pt;
}
.min_height_100{
    height: 100%;
}
.nota{
    position: relative;
    top: 15px;
    font-size: 5.5pt;
    width: 100%;
    text-align: justify;
}
.barra_grisa{
    position: relative;
    float: left;
    height: 12px;
    line-height: 14px;
    background-color: #b3afdf;
    margin-bottom: 5px;
    color: white;
    text-align: right;
    padding-right: 5px;
}
.barra_blanca{
    position: relative;
    float: left;
    height: 12px;
    line-height: 14px;
    background-color: white;
    margin-bottom: 5px;
    color: #b3afdf;
    text-align: right;
    padding-right: 5px;
    border-top: 1px solid #b3afdf;
    border-bottom: 1px solid #b3afdf;
    border-left: 1px solid #b3afdf;
}
.barra_blanca_inv{
    position: relative;
    float: right;
    height: 12px;
    line-height: 14px;
    background-color: white;
    margin-bottom: 5px;
    color: #b3afdf;
    text-align: right;
    padding-right: 5px;
    border-top: 1px solid #b3afdf;
    border-bottom: 1px solid #b3afdf;
    border-right: 1px solid #b3afdf;
}
.chart_consum_container{
    width: 70%;
    position: relative;
    float: left;
    height: 110px;
}
.punta{
    position: relative;
    float: left;
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-top: 6px solid white;
    border-bottom: 6px solid white;
    border-left: 6px solid #b3afdf !important;
}
.punta_blanc{
    position: relative;
    float: left;
    top: 1px;
    left: -7px;
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid white !important;
}
.punta_blanc_inv{
    position: relative;
    float: right;
    top: 1px;
    right: -7px;
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid white !important;
}
.punta_gris{
    position: relative;
    float: left;
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    border-left: 7px solid #b3afdf !important;
}
.punta_gris_inv{
    position: relative;
    float: right;
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    border-right: 7px solid #b3afdf !important;
}
.etiquetes{
    position: relative;
    float: left;
    width: 40%;
    background-color: white;
    border: 0px solid transparent !important;
}
.import_1{
    position: relative;
    float: left;
    background-color: white;
    border: 0px solid transparent !important;
    width: 22%;
}
.import_2{
    position: relative;
    float: left;
    background-color: white;
    border: 0px solid transparent !important;
    width: 37%;
}
.border_base{
    /* top left, top right, bottom right, bottom left */
    border: 2px solid;
    padding: 3px;
    border-radius: 10px 10px 10px 10px;
}
.altres_img{
    width: 40px;
}
.efr_img{
    float: right;
    vertical-align: bottom;
    margin-top: 20px;
}
.total_factura{
    position: relative;
    float: left;
    width: 226px;
    height: 71px;
    margin-bottom: 15px;
    border-radius: 0px 10px 10px 0px;
    border: 2px solid #60bb46;
    border-left: 0px solid white;
}
.base_imponible{
    position: relative;
    top: -1px;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #59c134!important;
}
.back_page{
    overflow: hidden;
    height: 620px;
    padding-top:15px;
}
.bold{
    font-weight: bold;
}
.top-2{
    position: relative;
    top: -2px;
}
.top-5{
    position: relative;
    top: -5px;
}
.top-10{
    position: relative;
    top: -10px;
}
.top-15{
    position: relative;
    top: -15px;
}
.margin_top-20{
    margin-top: -20px !important;
}
.margin_top40{
    margin-top: 40px !important;
}
.margin_top-30{
    margin-top: -30px !important;
}
.margin_top-180{
    margin-top: -180px !important;
}
.top-20{
    position: relative;
    top: -20px;
}
.align_bottom{
    vertical-align: bottom;
}
.align_right{
    text-align: right;
}
.align_left{
    text-align: left;
}
.zero_padding{
padding: 0 !important;
}
.contenidor_boto{
    position: relative;
    float: left;
    top: -7px;
}
.boto{
    position: relative;
    float: left;
    vertical-align: baseline;
    margin-top: 9px;
}
.no_right_padding{
    padding-right: 0;
}
.info_boto{
    position: relative;
    float: left;
    width: 101px;
}
.float_left{
    position: relative;
    float: left;
}
.float_right{
    position: relative;
    float: right;
}
.head_datos{
    position: relative;
    float: top;
    margin:0;
    padding:0;
    color: white;
    /* top left, top right, bottom right, bottom left */
    border-radius: 10px 10px 0px 0px;
}
.head_datos p{
    padding: 5px 0px 1px 11px;
    font-size: 12pt;
}
.no_float{
    float: none !important;
}
.body_datos{
    position: relative;
    top: -18px;
    margin: 0;
    padding: 4px;
    /* top left, top right, bottom right, bottom left */
    border-radius: 0px 0px 10px 10px;
}
.body_publi{
    position: relative;
    float: top;
    margin: 0;
    padding: 4px;
    top: 6px;
    /* top left, top right, bottom right, bottom left */
    border-radius: 10px 10px 10px 10px;
}
.table_datos{
    text-align: left;
    margin-top: 4px;
    margin-left: 4px;
    font-size: 9pt;
}
.imports_totals{
    position: relative;
    left: -5px;"
}
.border_verdoli{
    border: 2px solid #6CB01E;
}
.border_verdoli_1px{
    border: 1px solid #6CB01E;
}
.border_verd{
    border: 2px solid #59c134;
}
.border_verd_1px{
    border: 1px solid #59c134;
}
.border_verdblau{
    border: 2px solid #087077;
}
.border_blau{
    border: 2px solid #27429f;
}
.background_verd{
    background-color: #59c134;
}
.background_verdblau{
    background-color: #087077;
}
.background_blau{
    background-color: #27429f;
}
.background_verd_clar{
    background-color: #ddedd4;
}
.background_gris{
    background-color: #b3afdf;
}
.background_verdoli{
    background-color: #6CB01E;
}
.text_gris{
    color: #b3afdf;
    font-size: 7pt;
}
.quadre_imp{
    position: relative;
    float: right;
    border: 1px solid #b3afdf;
    font-size: 9px !important;
    color: #b3afdf;
    width: 78%;
    height: 100%;
}
.quadre_imp td{
    padding: 5px;
    border: 1px solid #b3afdf;
}
.text_gris{
    border: 1px solid white !important;
}
.text_gris td{
    padding: 5px;
    border: 1px solid white !important;
    border-bottom: 1px solid !important;
    border-top: 1px solid !important;
}
.a1{
    position: relative;
    top: -18px;
    padding-top: 2px;
    border-left: 2px solid #59c134 !important;
}
.b1{
    position: relative;
    left: -1px;
    top: -18px;
    padding-top: 2px;
}
.c1{
    position: relative;
    left: -2px;
    top: -18px;
    padding-top: 2px;
}
.d1{
    position: relative;
    top: -18px;
    left: -3px;
    padding-top: 2px;
    border-right: 2px solid #59c134 !important;
}
.a2{
    position: relative;
    top: -19px;
    border-left: 2px solid #59c134 !important;
    padding-top: 2px;
    border-bottom: 0;
}
.a2_fin{
    position: relative;
    top: -19px;
    /* top left, top right, bottom right, bottom left */
    border-radius: 0px 0px 0px 10px;
    border-bottom: 2px solid #59c134 !important;
    border-left: 2px solid #59c134 !important;
    padding-top: 2px;
}
.b2{
    position: relative;
    top: -19px;
    left: -1px;
    padding-top: 2px;
    border-bottom: 0;
}
.b2_fin{
    position: relative;
    top: -19px;
    left: -1px;
    border-bottom: 2px solid #59c134 !important;
    padding-top: 2px;
}
.c2{
    position: relative;
    top: -19px;
    left: -2px;
    padding-top: 2px;
    border-bottom: 0;
}
.c2_fin{
    position: relative;
    top: -19px;
    left: -2px;
    border-bottom: 2px solid #59c134 !important;
    padding-top: 2px;
}
.d2{
    position: relative;
    top: -19px;
    left: -3px;
    border-right: 2px solid #59c134 !important;
    padding-top: 2px;
    border-bottom: 0;
}
.d2_fin{
    position: relative;
    top: -19px;
    left: -3px;
    /* top left, top right, bottom right, bottom left */
    border-radius: 0px 0px 10px 0px;
    border-bottom: 2px solid #59c134 !important;
    border-right: 2px solid #59c134 !important;
    padding-top: 2px;
}
.contador{
    border: solid #59c134;
    border-width: 1px 2px 0px 2px;
    width: 306px;
    position: relative;
    top: -19px;
    padding-top: 4px;
    padding-bottom: 3px;
}
.contenidor_resum{
    position: relative;
    left: -3px;
    width: 320px;
}
.mitjana_nacional{
    position: relative;
    top: -138px;
    left: 5px;
    font-size: 7pt !important;
    color: #b3afdf;
    width: 60px;
    height: 25px;
}
.mitjana_nacional td{
    padding-left: 6px;
}
.separador{
    border-bottom: 1px solid;
}
.taula_base_imponible{
    font-size: 9pt;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
}
.pt_5{
    padding-top: 5px !important;
}
.pr_5{
    padding-right: 3px !important;
}
.pl_5{
    padding-left: 5px !important;
}
.pl_fiscal_position{
    padding-left: 5px !important;
    white-space: nowrap;
}
.pl_12{
    padding-left: 12px !important;
}
.pl_14{
    padding-left: 14px !important;
}
.pl_15{
    padding-left: 15px !important;
}
.pb_10{
    padding-bottom: 10px !important;
}
.pt_4{
    padding-top: 4px !important;
}
.pt_5{
    padding-top: 5px !important;
}
.center{
    text-align: center;
}
._ml_5{
    margin-left: 5px;
}
._ml_12{
    margin-left: 12px;
}
._mr_12{
    margin-right: 12px;
}
._mt_25{
    margin-top: 25px;
}
._mt_15{
    margin-top: 15px;
}
._mt_10{
    margin-top: 10px;
}
._mt_5{
    margin-top: 5px;
}
.h_20{
    height: 20%;
}
.h_45{
    height: 45px;
}
.h_48{
    height: 48px;
}
.h_50{
    height: 50px;
}
.h_60p{
    height: 60px;
}
.h_60{
    height: 60%;
}
.w_5{
    width: 5px;
}
.w_6p{
    width: 6%;
}
.w_10p{
    width: 10%;
}
.w_10{
width: 7px;
}
.w_20{
    width: 20%;
}
.w_25p{
    width: 25%;
}
.w_20px{
    width: 20px;
}
.w_25{
    width: 25px;
}
.w_28{
    width: 28px;
}
.w_30{
    width: 30px;
}
.w_31{
    width: 31px;
}
.w_33p{
    width: 33%;
}
.w_35{
    width: 35px;
}
.w_35p{
    width: 35%;
}
.w_38p{
    width: 38%;
}
.w_40{
    width: 40px;
}
.w_44{
    width: 44px;
}
.w_47{
    width: 47px;
}
.w_48p{
    width: 48%;
}
.w_55{
    width: 55px;
}
.w_60{
    width: 60px;
}
.w_60p{
    width: 60%;
}
.w_63p{
    width: 63%;
}
.w_65p{
    width: 65%;
}
.w_65{
    width: 65px;
}
.w_70{
    width: 70px;
}
.w_75{
    width: 75px;
}
.w_85{
    width: 85px;
}
.w_90{
    width: 90px;
}
.w_95{
    width: 95px;
}
.w_100{
    width: 100px;
}
.w_105{
    width: 105px;
}
.w_110{
    width: 110px;
}
.w_115{
    width: 115px
}
.w_120{
    width: 120px;
}
.w_145{
    width: 145px;
}
.w_170{
    width: 170px;
}
.w_185{
    width: 185px;
}
.w_220{
    width: 220px;
}
.w_313{
    width: 313px;
}
.f_5{
    font-size: 5pt;
}
.f_7{
    font-size: 7pt;
}
.f_8{
    font-size: 8pt;
}
.f_9{
    font-size: 9pt;
}
.f_10{
    font-size: 10pt;
}
.f_11{
    font-size: 11pt;
}
.f_12{
    font-size: 12pt;
}
.f_14{
    font-size: 14pt;
}
.f_15{
    font-size: 15pt;
}
.f_18{
    font-size: 18pt;
}
.p_5{
    padding-left: 5px;
    padding-right: 5px;
}
.p_10{
    padding-top: 10px;
    padding-bottom: 10px;
}
