@font-face {
    font-family: "Roboto-Regular";
    font-weight: normal;
}

body {
    font-size: 12px;
    font-family: "Roboto-Regular";
    color: #000000;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

#first-page, #second-page{
    float: right;
    width: 95%;
    padding-left: 50px;
}

/*NO REMOVE -- for visual debug process*/
/*div{*/
    /*border: black 1px solid;*/
/*}*/


/*table, th, td, tr, caption{*/
    /*border: solid 1px black;*/
/*}*/

#banner-holder-summary{
    margin-top: 80px;
    width: 100%;
}

.banner{
    height: 100%;
}

/*----------------------------------------------------- INFORMACIó LATERAL*/

#lateral-info {
    width: 600px;
    padding-top: 8px;
    position: relative;
    float: left;
    left: -290px;
    top: 500px;
    font-size: 9px;
    -webkit-transform: rotate(-90.0deg);
}

/*----------------------------------------------------- HEADER: LOGO i ADREÇA*/

#header{
    width: 100%;
    font-size: 12px;
    text-align: right;
    margin-bottom: 15px;
}

#header td img{
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 150px;
    width: auto;
}

/*------------------------------------------------------ FINESTRETA*/

#finestreta{
    margin-top: 30px;
}

/*------------------------------------------------------ TAULA: RESUM FACTURA*/

/*#resum-factura{*/
    /*margin-top: 10px;*/
/*}*/

/*---------------------------------------------------- TAULA: CONSUM ELECTRIC*/

#consum-electric td{
    font-size: 11px;
}

.rotate{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
}

.rotate div {
    -webkit-transform: rotate(-90.0deg);
     margin-left: -10em;
     margin-right: -10em;
    font-size: 10px;
}

/*----------------------------------------------------- TAULA: DETALL FACTURA*/

.detall-factura-inner-table-col-1{width: 20%; background: white}
.detall-factura-inner-table-col-2{width: 20%; background: white}
.detall-factura-inner-table-col-3{width: 20%; background: white}
.detall-factura-inner-table-col-4{width: 20%; background: white}
.detall-factura-inner-table-col-5{width: 20%; background: white}

#detall-factura{
    clear: both;
}

#detall-factura tfoot td{
    color: grey;
    font-size: 9px;
}

.toll{
    font-size: 8px;
    color: #2b2b2a;
}

/*------------------------------------------------------- DESTI DE LA FACTURA*/

#desti-factura{
    margin-top: 10px;
}

#desti-factura tfoot td{
    font-size: 10px;
}

/*------------------------------------------------ PELS DIVS DIVISORS D'ESPAI*/

.left-50{
    float: left;
    width: 49%;
    padding: 0 5px 10px 0;
    clear: both;
}
.right-50{
    float: right;
    width: 49%;
    padding: 0 0 10px 5px;
}

/*------------------------------------------------------- ESTIL DE LES TAULES*/
.styled-table{
    border-collapse: collapse;
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
    overflow: hidden;
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
}

.styled-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
}

.styled-table td{
    padding: 1px 3px 1px 3px;
    vertical-align: top;
}

.styled-table tfoot tr:first-child {
    border-top: 1px solid #4D77A4;
}

.styled-inner-table{
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    font-size: 11px;
}

.styled-inner-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
}

/*------------------------------------------------ EMERGÈNCIES i RECLAMACIONS*/

#avaries-urgencies-atencio-client{
    width: 100%;
}

.styled-table-with-caption{
    /*display: inline-block;*/
    width: 100%;
    font-size: 11px;
    text-align: left;
    /*margin-top: 0;*/
    /*margin-bottom: auto;*/
    /*color: red;*/
    border-top: solid 2px #4D77A4;
}

.styled-table-with-caption caption{
    font-weight: bolder;
    color: #4D77A4;
}

/*------------------------------------IMPACTE AMBIENTAL I ORIGEN DE L'ENERGIA*/

#environmental-impact td {
    font-size: 9px;
}

#environmental-impact-descr {
    padding-top: 80px;
}

#environmental-impact-co2{
    height: 200px;

}

#environmental-impact-radioactive{
    height: 200px;
}

#environmental-impact-co2 img, #environmental-impact-radioactive img {
    height: 200px;
    display:block;
    margin:auto;
}

#energy-origin th{
    font-size: 9px;
    background: white;
    color: black;
}

#energy-origin td{
    font-size: 8px;
}

#energy-origin-banner{
    height: 200px;
}

#energy-origin-banner img{
    max-height: 100%;
    display: block;
    margin: auto;
}

/*------------------------------------------------------------------- GLOBALS*/

.little { font-size: 9px }

.bold{ font-weight: bold }

.italic{ font-style: italic }

.white{ background: white }

.h65px{ height: 65px }

.w100p{ width: 100% }

.center{ text-align: center }

.center-th th{ text-align: center }

.right{ text-align: right }

.left { text-align: left }

.row-separator{ border-top: solid 1px #4D77A4 }

.light-blue{ background: #badcff }

/*-------------------------------------------------------------------- COLORS*/

.background-color{ background: #4D77A4 }

.square{
    width: 10px;
    height: 8px;
}

.color-renovable{ background: #579834 }

.color-cogeneracio-alta-eficiencia{ background: #579834 }

.color-cogeneracio{ background: #89c563 }

.color-cc-gas-natural { background: #d7ef81 }

.color-carbo { background: #d9d82e }

.color-fuel-gas { background: #eea620 }

.color-nuclear { background: #fc6230 }

.color-altres { background: #ee3e26 }

#temp{
    height: 200px;
}

#temp img{
    height: 195px;
}

/* Suplementos TEC 271 2019 */
.supl {
    font-size: 10px;
    font-style: italic;
}

.supl h1{
    font-weight: bold;
    font-size: 12px;
    padding: 0 0.5em 0.5em 0.5em;
}

.supl table{
    font-size: 18px;
    margin-left:auto;
    margin-right:auto;
}

.supl td, .supl th {
    font-size: 10px !important;
}