body {
    font-family: "Roboto-Regular";
    font-size: 8pt;
    padding: 65px;
    border: 1px solid white;
}

h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0px
}

th, td {
    padding: 5px 10px;
}

tr {
    page-break-inside:avoid;
    page-break-after:avoid
}

thead tr {
    border-bottom:1px solid #a0a0a0;
}

thead th {
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
}

p {
    font-size: 8pt;
}

h6 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

#capcalera {
    width: 100%;
    position: relative;
    align-content: center;
    vertical-align: middle;
    height: 100px;
    padding-bottom: 10px;
    -webkit-border-image: -webkit-linear-gradient(left, royalblue, cornflowerblue, lightblue) 0 0 100% 0/0 0 3px 0 stretch;
    border-bottom: 2px solid ;
}

#logo {
    max-height:100px;
    max-width:100px;
}

#logo_cell {
    padding: 5px 5px;
    width: 50%;
}

.cost {
    text-align: right;
    width: 1%;
    white-space: nowrap;
}

.min {
    text-align: left;
    width: 1%;
    white-space: nowrap;
}

.header_center {
    text-align: center;
    max-width: 300px;
    min-width: 300px;
}

.header_top {
    text-align: right;
    width: 50%;
}

.header_right_label {
    font-size: 9px;
    font-weight: bold;
    width: 40%;
}

.header_right_value {
    font-size: 10px;
    width: 10%;
}

.header_tr {
    padding: 0px;
}

.taula_dades {  /* Table de la taula de dades */
    font-size: 10px;
    width:100%;
    page-break-inside:auto;
    border-collapse: collapse;
    border-style: hidden;
}

.taula_resum {  /* Table de la taula de resum */
    font-size: 10px;
    width:50%;
    page-break-inside:auto;
    border-collapse: collapse;
    border-style: hidden;
    margin-top: 10px;
}

div {
    page-break-before:auto;
}

.top_lined {
    border-top: 1px solid #a0a0a0;
}

.bottom_lined {
    border-bottom: 1px solid #a0a0a0;
}

#bottom_lined th{
    background: red;

}

#total-horas{
    padding: 0;
    margin-top: 15px;
    font-size: 11px;
    border-collapse: collapse;
}

#total-horas td, #total-horas th{
    border-bottom: solid 1px black;
}