body {
    font-size: 11px;
}

h1 {
    color: red;
    font-size: 15px;
    padding: 5px 0;
}

.titol_pagament {
    color: blue;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
}

.ratllat {
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
}

.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.column {
    display: table-cell;
}

#carta {
    margin: 20px 60px;
}

#resum {
    padding: 5px 12px;
}

.rotate{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 100px;
    margin-top: 70px;
    float: left;
    height: 0;
}

.rotate img {
    -webkit-transform: rotate(-90.0deg);
    margin-left: -15em;
    margin-right: -10em;
    font-size: 10px;
    height: 25px;
}

.left-50{
    float: left;
    width: 49%;
    padding: 0 5px 10px 0;
    clear: both;
}

.left-25{
    float: left;
    width: 25%;
    padding: 0 5px 10px 0;
    clear: both;
}

.right-35{
    float: right;
    width: 35%;
    padding: 0 0 10px 5px;
    margin-left: 90px;
}

.contact_info {
    min-height: 100px;
}

.contact_info td {
    font-size: 13px;
}

.payment_info td {
    font-size: 9px;
}

.icona {
    height: 20px;
}

.left {
    text-align: left;
}

#cap td, #cap th, #cap {
    border: 5px solid white;
}

#cap a{
    color: black;
    text-decoration: none;
}

#cap {
    font-size: 9px;
}

#taula_peu {
    font-size: 10px;
    margin-left: 30px;
    width: 550px;
    text-align: center;
}

#condicions_pagament {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 100px;
    width: 500px;
}

#condicions_carta_pagament {
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
}

#condicions {
    margin: 0 60px;
}

#carta_tall_espai {
    min-height: 160px;
}

#outer {
    width: 12px;
    position: relative;
    float: left;
    font-size: 8px;
}

#vertical_text {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    -webkit-transform-origin: left top;
    width: 900px;
    bottom: -1000px;
    padding: 12px;
    font-size: 8px;
    text-align: center;
}

.resum_pagament {
    border: 3px solid red;
    font-weight: bold;
}

#referencia {
    font-size: 8px;
}

.bold {
    font-weight: bold;
}

.font_15px {
    font-size: 15px;
}

.font_10px {
    font-size: 10px;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.red {
    color: red;
}

#imatge_pagament {
    padding-left: 30px;
}
