/* ----------------------------- GLOBALS ----------------------------- */

body {
    font-size: 13px;
}

p {
    text-align: justify;
}

.little { font-size: 9px }

.bold{ font-weight: bold }

.italic{ font-style: italic }

.white{ background: white }

.center{ text-align: center }

.center-th th{ text-align: center }

.right{ text-align: right }

.left { text-align: left }

.light-blue { background: #badcff }

.box-border { border: 1px black solid }

.top-border-white { border-top: solid 1px white }

.underline{ text-decoration: underline }

.left-50{
    float: left;
    width: 49%;
    padding: 0 5px 10px 0;
    clear: both;
}

.right-50{
    float: right;
    width: 49%;
    padding: 0 0 10px 5px;
}

/* ----------------------------- COLORS ----------------------------- */

.background-color{ background: #4D77A4 }

.red { color: red }

/* ---------------------- SMALL REUSABLE TAGS ----------------------- */

.h65px{ height: 65px }

.w100p{ width: 100% }
