body {
    font-family: "Roboto-Regular";
    color: #000000;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

th{
    font-size: 14px;
}

td{
    font-size: 12px;
}

/*NO REMOVE -- for visual debug process*/
/*div{*/
    /*border: solid 1px red;*/
/*}*/

/*table, th, td, tr, caption{*/
    /*border: solid 1px black;*/
/*}*/

/*-------------------------------------------------------- INFORMACIó LATERAL */

#lateral-info {
    width: 800px;
    padding-top: 8px;
    position: relative;
    float: left;
    left: -390px;
    top: 500px;
    -webkit-transform: rotate(-90.0deg);
    font-size: 6px;
}

/*-------------------------------------------------------------- PAGES LAYOUT */

#first-page, #second-page{
    float: right;
    width: 95%;
    padding-left: 50px;
}

/*----------------------------------------------------------- 1ST PAGE LAYOUT */

#first-page {
    position: relative;
    height: 1335px;
}

#first-page-bottom{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

/*-------------------------------------------------------------- HEADER: LOGO */

#logo img{
    width: 448px;
}

/*------------------------------------------------------------ IMPORT FACTURA */

#import-factura{
    border-radius: 5px;
    border: solid #cedc00 2px;
    width: 100%;
}

#import-factura th{
    padding: 5px 5px 2px 10px;
    text-align: left;
}

#import-factura td{
    padding: 5px 5px 2px 10px;
    text-align: right;
}

/*----------------------------------------------------------- DADES CONTRACTE */

#dades-contracte{}

/*----------------------------------------------------- DADES SUBMINISTRAMENT */

#dades-subministrament{}

#dades-subministrament-potencia{
    font-size: 9px;
}

/*---------------------------------------------------------------- FINESTRETA */

#finestreta{
    width: 100%;
    padding: 25px 0 0 55px;
}

#finestreta th{
    font-weight: normal;
    text-align: left;
}

#empty-separator-finestreta{
    height: 50px;
}

/*---------------------------------------------------------- DADES FACTURACIó */

#dades-facturacio{
    height: 900px;
}

#dades-facturacio td{
    padding-bottom: 2px;
}

#producte-cell {
    padding: 5px 0 0 15px !important;
}

/*----------------------------------------------------- TAULA: DADES PAGAMENT */

#dades-pagament td{}

/*-------------------------------------------------------------------- BANNER */

.banner{
    height: 320px;
}

.banner img{
    max-height: 100%;
    display: block;
    margin: auto;
}

/*------------------------------------------------------ FOR YOUR INFORMATION */

#for-your-information {
    border-collapse: collapse;
}

#for-your-information th{
}

#for-your-information td{
    font-size: 10px;
}

#for-your-information div{
    border: solid #cedc00 2px;
}

/*----------------------------------------------------------- 2ND PAGE LAYOUT */

#second-page {
    position: relative;
    height: 1335px;
}

#second-page-bottom{
    position: absolute;
    bottom: 0;
    border-top: black 1px dashed;
}

/*------------------------------------------------------------- DADES CONSUMS */

#dades-consums caption{
    font-weight: bold;
    text-align: left;
    background: #cedc00;
    padding: 4px 0 4px 11px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 10px;
}

#dades-consums{
    width: 100%;
    border-collapse: collapse;
    border: solid black 1px;
    margin-bottom: 10px;
}

#dades-consums td, #dades-consums tr, #dades-consums th {
    border: solid black 1px;
}

#dades-consums td {
    padding: 0 5px 0 5px;
}

#dades-consums tfoot td {
    padding: 5px;
}

#first-cell-no-border {
    border-top: solid white 1px !important;
    border-left: solid white 1px !important;
}

/*------------------------------------------------- GRAFICA: HISTORIC CONSUMS */

#historic-consums tfoot{
}

#consumption-bar-plot{
    height: 200px;
}

#consumption-bar-plot img{
    height: 200px;
    display:block;
    margin:auto;
}

/*----------------------------------------------- TAULA: ABOUT MY ELECTRICITY */

#about-my-electricity td{
    padding-top: 8px;
}

#about-my-electricity p{
    word-spacing: 2px;
    margin: 0;
    padding: 0;
    line-height: 14px;
}

/*------------------------------------IMPACTE AMBIENTAL I ORIGEN DE L'ENERGIA*/

#environmental-impact{
    width: 100%;
    background: lightgrey;
}

#environmental-impact img {
    width: 100%;
}

#energy-origin img {
    width: 100%;
}

#energy-origin{
    width: 100%;
    background: lightgrey;
}

/*------------------------------------------------------ FOOTER SEGONA PàGINA */

#table-bottom, #table-bottom table{
    width: 100%;
    border-collapse: collapse;
}

#comer-data{
    border: solid 1px black;
}

#table-bottom-1 th{
    font-size: 8px;
}

#table-bottom-2 th{
    font-size: 7px;
}

#barcode-descr{
    font-size: 8px;
}

/*------------------------------------------------------- ESTIL DE LES TAULES*/

.styled-table{
    border-collapse: collapse;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.styled-table th {
    text-align: left;
    border-collapse: collapse;
    background: #cedc00;
    color: black;
    padding: 4px 0 4px 11px;
}

.styled-table td {
    padding: 5px 0 0 10px;
    vertical-align: top;
}

/*------------------------------------------------------------------- GLOBALS*/

.row-separator{ border-top: solid 1px black }

.bold-bottom-border { border-bottom: solid 2px black !important;}

.bold-top-border { border-top: solid 2px black !important;}

.bold-left-border { border-left: solid 2px black !important;}

.bold-right-border { border-right: solid 2px black !important;}

.row-top-margin td { padding-top: 10px }

.h22px { height: 22px }

/*-------------------------------------------------------------------- COLORS*/

.background-color{ background: #cedc00 }

div.supl_indu {
    position: relative;
    float: right;
    height: 240px;
    font-size: 7px;
    overflow:hidden;
    font-style: italic; !important
}
div.supl_indu h1{
    font-style: normal; !important
    background-color: #cedc00;
}
table.supl_indu {
    margin-bottom: 10px;
}
