body {
    font-family: "Roboto-Regular";
    color: #000000;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------- PAGES */

#first-page, #second-page{
    float: right;
    width: 95%;
    padding-left: 50px;
}

#first-page {
    position: relative;
    height: 1025px;
}

#first-page-bottom{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

#second-page {
    position: relative;
    height: 1035px;
}

#second-page-bottom{
    position: absolute;
    bottom: 0;
}

/*NO REMOVE -- for visual debug process*/
/*div{*/
    /*border: solid 1px red;*/
/*}*/

/*table, th, td, tr, caption{*/
    /*border: solid 1px black;*/
/*}*/

#banner-holder-summary{
    width: 100%;
}

.banner{
    height: 100%;
}

.banner img{
    max-height: 100%;
    display: block;
    margin: auto;
}

#banner-cell{
    height: 240px;
}

/*-------------------------------------------------------- INFORMACIó LATERAL */

#lateral-info {
    width: 800px;
    padding-top: 8px;
    position: relative;
    float: left;
    left: -390px;
    top: 500px;
    -webkit-transform: rotate(-90.0deg);
    font-size: 6px;
}

/*----------------------------------------------------- HEADER: LOGO i ADREÇA */

#logo img{
    width: 346px;
}

/*------------------------------------------------------ TAULA: DADES FACTURA */

#dades-factura {
    border-collapse: collapse;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

#dades-factura th{
    text-align: left;
    border-collapse: collapse;
    background: #cedc00;
    color: black;
    padding-left: 15px;
    font-size: 14px;
}

#dades-factura td{
    padding: 3px 0 0 20px;
    font-size: 10px;
}

#dades-factura tr:first-child td{
    font-size: 14px !important;
    padding-bottom: 10px !important;
    padding-right: 20px !important;

}

#dades-factura tr:last-child td{
    padding-bottom: 10px !important;
}

/*------------------------------------------------ TAULA: RESUM DE FACTURACIó */

#resum-factura{
    margin-top: 20px;
}

#resum-factura td{
    font-size: 12px;
}

.resum-factura-high-padding td{
    padding: 7px 10px 0 7px !important;
}

.resum-factura-low-padding td{
    padding: 4px 10px 0 4px !important;
}

#total-import-factura{
    border-top: solid 2px black;
    padding: 10px 10px 10px 10px !important;
}

#total-import-factura td{
    padding: 10px 10px 10px 10px !important;
    font-size: 14px !important;
}

#total-import-a-pagar-variant{
    padding: 10px 10px 10px 10px;
}

#total-import-a-pagar-variant td{
    padding: 10px 10px 10px 10px !important;
    font-size: 14px !important;
}

#white-space-below{
    height: 73px;
}

/*---------------------------------------------------------------- FINESTRETA */

#finestreta{
    width: 100%;
    padding: 5px 0 0 55px;
}

#finestreta th{
    font-size: 15px;
    font-weight: normal;
    text-align: left;
}

#finestreta td{
    font-size: 12px;
}

/*---------------------------------------------------- TAULA: CONSUM ELECTRIC*/

#info-consum-electric {
    font-size: 10px;
}

#info-consum-electric td{
    padding: 11px 5px 6px 5px;
}

#info-consum-electric tr:first-child td{
    padding-top: 20px !important;
}

.span_kwh {
    font-size: 8px
}

/*------------------------------------------------- GRAFICA: HISTORIC CONSUMS */

#consumption-bar-plot{
    height: 200px;
}

#consumption-bar-plot img{
    height: 200px;
    display:block;
    margin:auto;
}

#historic-consums tfoot{
    font-size: 10px;
}

/*---------------------------------------------------- TAULA: DADES CONTRACTE */

#dades-contracte tr:first-child td{
    padding-top: 15px;
}

#dades-contracte td{
    padding-left: 20px;
    font-size: 11px;
}

#dades-contracte-false-header {
    vertical-align: top;
    font-size: 8px !important;
    border-bottom: 1px solid black;
    padding: 0 50px 0 50px !important;
}

/*----------------------------------------------------- TAULA: DADES PAGAMENT */

#dades-pagament td{
    font-size: 10px !important;
    padding:5px 0 0 15px;
}

/*--------------------------------------------------------------- CODI BARRES */

#table-bottom, #table-bottom table{
    width: 100%;
    border-collapse: collapse;
}

#comer-data{
    border: solid 1px black;
}

#table-bottom-1 th{
    font-size: 8px;
}

#table-bottom-2 th{
    font-size: 7px;
}

#table-bottom-2 td{
    font-size: 10px;
}

#pagament-descr{
    font-size: 9px;
}

/*----------------------------------------------- TAULA: ABOUT MY ELECTRICITY */

#about-my-electricity td{
    padding-top: 8px;
}

#about-my-electricity p{
    font-size: 10px;
    word-spacing: 2px;
    margin: 0;
    padding: 0;
    line-height: 14px;
}

/*-------------------------------------------------- TAULA: DETALL FACTURACIó */

#detall-facturacio {
    height: 580px;
    clear: both;
    position: relative;
}

#detall-facturacio td {
    font-size: 10px;
    padding: 5px;
}

#footer-detall-facturacio {
    margin-bottom: 20px;
}

#footer-detall-facturacio td {
    font-size: 7px;
}

#detall-facturacio-bottom{
    position: absolute;
    bottom: 0;
}

#producte-cell {
    font-size: 15px !important;
    padding: 5px 0 0 15px !important;
}

/*------------------------------------IMPACTE AMBIENTAL I ORIGEN DE L'ENERGIA*/

#environmental-impact{
    height: 280px;
    float: right;
    width: 49%;
}

#environmental-impact p, #energy-origin p{
    text-align: center;
    padding-top: 40px;
}

#environmental-impact img, #energy-origin img{
    height: 280px;
}

#energy-origin{
    height: 280px;
    float: left;
    width: 49%;
    clear: both;
}

/*------------------------------------------------------- DESTI DE LA FACTURA*/

#desti-factura{
    margin-top: 10px;
}

/*------------------------------------------------------ FOR YOUR INFORMATION */

#for-your-information {
    border-collapse: collapse;
}

#for-your-information th{
    font-size: 14px;
}

#for-your-information td{
    font-size: 7px;
}

#for-your-information div{
    border: solid #cedc00 2px;
}

/*------------------------------------------------ PELS DIVS DIVISORS D'ESPAI*/

.no-clear{
    clear: none;
}

/*------------------------------------------------------- ESTIL DE LES TAULES*/

.styled-table{
    border-collapse: collapse;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.styled-table th{
    text-align: left;
    border-collapse: collapse;
    background: #cedc00;
    color: black;
    font-size: 14px;
    padding: 4px 0 4px 11px;
}

.styled-table td{
    padding: 1px 3px 1px 3px;
    vertical-align: top;
}

.styled-inner-table{
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
}

.styled-inner-table th{
    border-collapse: collapse;
    background: #cedc00;
    color: black;
}

/*------------------------------------------------------------------- GLOBALS*/

.row-separator{ border-top: solid 1px black }

.light{ background: #faffb7 }

.bold-bottom-border { border-bottom: solid 2px black }

.bold-top-border { border-top: solid 2px black }

.top-border { border-top: black 1px solid }

.top-border-dotted { border-top: black 1px dashed }

.right-50{ padding: 0 0 0 5px }
/*-------------------------------------------------------------------- COLORS*/

.background-color{ background: #cedc00 }

div.supl_dom {
    position: relative;
    float: right;
    height: 240px;
    font-size: 7px;
    overflow:hidden;
    font-style: italic; !important
}
div.supl_dom h1{
    font-style: normal; !important
    background-color: #cedc00;
}
table.supl_dom {
    margin-bottom: 10px;
}
