* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "Euphemia";
    src: url("assets/euphemia.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("assets/Raleway-SemiBold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("assets/Raleway-Bold.ttf") format('truetype');
    font-weight: bold;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: 'Raleway-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    font-family: 'Raleway-SemiBold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 13px;
    padding: 1px 0px 1px 10px;
    margin: 0px;
    line-height: 15px;
}

h4 {
    font-size: 11px;
    padding: 1px 0px 1px 10px;
    margin: 0px;
    line-height: 13px;
}

table th {
    font-size: 11px;
    font-weight: normal;
}

.form_section {
    padding: 15px 50px 0px 50px;
}

.section_title {
    color: white;
    background-color: #aede00;
    height: 17px;
    /* border-radius:2px; */
    margin: 5px 0px;
    padding: 2px 0px;
}

.annex_section_title {
    color: white;
    background-color: #aede00;
    height: 17px;
    border-radius:3px;
    margin: 5px 0px;
    padding: 2px 0px;
}

.annex_section_subtitle {
    color: white;
    background-color: #e5c418;
    height: 15px;
    border-radius:3px;
    margin: 5px 0px;
    padding: 2px 0px;
}

.annex_section_content {
    height: 15px;
    margin: 5px 5px;
    padding: 2px 0px;
}

.collapse {
    border-collapse: collapse;
}
.collapse td {
    padding: 2px;
}

.border {
    border: 1px solid black;
}

.section_notice {
    color: white;
    background-color: #aede00;
    /* border-radius:2px; */
    margin: 5px 0px;
    padding: 2px 0px;
    font-size: 13px;
    padding: 5px 15px;
}

.insert_box {
    border: 1px solid black;
    height: 15px;
    padding: 2px 0px 0px 4px;
    text-align: left;
    /* border-radius:2px; */
}

.data_table {
    width: 100%;
}

.data_table td {
    text-align: right; 
    font-size: 11px;
}

#header_layout {
    background-color: #aede00;
    min-height: 100px;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
}

#logo_container {
    margin: auto;
    margin-top: 10px;
    width: 130px;
    max-height: 75px;
    background-color: white;
    border-radius: 7px;
}

#logo {
    width: 120px;
    margin: auto;
    padding: 3px;
}

#same_reason {
    color: black;
    font-style: italic;
    font-size: 11px;
    float: right;
    padding-right: 5px;
}

#same_reason_text {
    margin-bottom: 9px;
    margin-right: 5px;
}

#title {
    margin-top: 15px;
}

#lista_condiciones {
    font-size: 11px;
    font-style: italic;
    padding: 5px 25px;
}

.checkmark {
    margin-left: 1px;
    display:inline-block;
    width: 15px;
    height:15px;
    -webkit-transform: rotate(45deg);
}

.after_checkmark {
    margin: 0;
    padding: 0;
}

.checkmark_box {
    -webkit-transform: rotate(45deg);
    position: absolute;
    width:15px;
    height:15px;
    background-color: #fff;
    /* border-radius:2px; */
    border: solid 1px;
    border-color: #000;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#000;
    left:8px;
    top:3px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#000;
    left:5px;
    top:9px;
}

.center {
    text-align: center;
}

.small_text {
    font-size: 11px;
}

.smaller_text {
    font-size: 9px;
}
