.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.center-block {
    display: block;
    margin: 0 auto;
}

table.table-adjust-space td {
    padding: 1px 5px;
}

table.table-adjust-space th {
    padding: 1px 5px;
}

.table-cell-expand {
    width: 100%;
}

.table-cell-shrink {
    white-space: nowrap;
}

.avoid-break {
    page-break-inside: avoid;
}
