body {
    font-family: 'Helveltica';
    font-size: 11px;
}

h1 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

table {
    width: 100%;
    text-align: left;
}

th {
    font-weight: bold;
    border: 1px solid black;
    padding: 10px 20px 10px 10px;
    white-space: nowrap;
    width: 1px;
}

td {
    border: 1px solid black;
    padding: 10px 20px 10px 10px;
    min-width: 3cm;
}

td.expand {
    width: 100%;
}

.row.adjust-margins-polissa {
    margin: 20px;
}

.horizontal-margins {
    margin: 0 20px;
}

.small {
    font-size: 10px;
}

.extra-small {
    font-size: 9px;
}

.italic {
    font-style: italic;
}

.upcase {
    text-transform: uppercase;
}

.big-break {
    margin: 30px 0;
}

.up-break {
    margin-top: 20px;
    margin-bottom: 5px;
}

.big-bottom-break {
    margin-bottom: 100px;
}