table {
    width: 100%;
    border-collapse: collapse;
    page-break-inside:auto
}

thead {
    background-color: #91adc7;
    border-bottom: 2px solid #444;
}

th {
    font-size: 10px;
}

tr {
    page-break-inside:avoid;
    page-break-after:auto
}

td {
    font-size: 10px;
    padding: 2px 10px 2px 5px;
}

table tbody tr:nth-child(odd) {
    background-color: #ddd;
}

table tbody tr:last-child {
    background-color: #bdccff;
    border-top: 1px solid #444;
}