body {
    text-align: justify;
    font-family: "Lato";
    font-weight: normal;
    font-size: 17px;
}

h1 {
    font-size: 17px;
}

table {
    width: 100%;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.header {
    text-align: center;
}

#partner_address {
    text-align: center;
    font-size: 17px;
}

.expense_data {
    font-size: 17px;
    padding: 7px 7px 7px 7px;
}

#subtitle {
    font-size: 10px;
    padding: 0 30px;
}

.line_detail {
    font-size: 17px;
    text-align: center;
}

.line_detail tr:nth-child(even) {background: #f0f0f0}

.minheight100 {
    min-height: 100px;
}

.border {
    border: 1px solid black;
}

