* {
    padding: 0px;
    margin: 0px;
    font-family: "Liberation Sans", sans;
}

h1 {
    font-size: 20px;
}

.column {
    display: table-cell;
    padding: 10px;
}

.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.logo_container {
    width: 20%;
}

.logo {
    max-height: 100px;
    max-width: 150px;
    margin-left: auto;
	margin-right: auto;
}

.banner {
    height: 100px;
    padding: 10px;
}

.title {
    text-align: center;
    width: 9    0%;
    padding: 5%;
}

.box_title {
    font-weight: bold;
    font-size: 15px;
}

.box {
    margin: 10px 0px;
}

.direccions {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.direccio_comer {
    margin: 0 17%;
    font-size: 14px;
}

.half {
    width: 45%;
}

.float_r {
    float: right;
}

.float_l {
    float: left;
}

.right {
    width: 55%;
    padding: 10px;
}

.left {
    width: 45%;
    padding: 10px;
}

.right_conceptes {
    width: 35%;
    padding: 10px;
}

.left_conceptes {
    width: 65%;
    padding: 10px;
}

.align_left {
    text-align: left;
}
.total_width {
    width: 100%;
}

.half_width {
    width: 50%;
}

.dades {
    font-size: 11px;
    width: 100%;
}

.dades_conceptes {
    font-size: 11px;
    width: 60%;
}

.dades_calcul {
    font-size: 11px;
    text-align: right;
    width: 100%;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.second_box_title {
    font-size: 12px;
    font-weight: bold;
}

.text_box {
    font-size: 12px;
    padding-left: 3px;
    padding-bottom: 10px;
}

.m_sides_20 {
    margin: 0px 20px;
}

.p_10 {
    padding: 10px;
}

#outer {
    width: 15px;
    position: relative;
    float: left;
    font-size: 8px;
}

#vertical_text {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: 0px;
    -webkit-transform-origin: left top;
    width: 750px;
    bottom: -650px;
    padding: 0px;
}
