body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.text-unreadable {
  font-size: 10px;
}

.text-extra-small {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: -7px;
  text-indent: 0;
}

.title {
  font-size: 16px;
  margin-top: 5px;
}

.observations-box {
  border: 1px solid #000;
  min-height: 100px;
  padding: 4px 8px;
}

.observations-box p {
  font-size: 12px;
  text-align: justify;
}

.observations-box h5 {
  margin-top: 2px;
}

.signature-box {
  min-height: 100px;
  padding: 4px 8px;
}

table tbody {
  font-size: 14px;
}

.full-border {
  border: 1px solid #000;
}
