table.table th,
table.table td {
  padding: 0.75rem;
  vertical-align: top;
}

table.table-sm td,
table.table-sm th {
  padding: 0.3rem;
}

table.table-adjust-space td,
table.table-adjust-space th {
  padding: 1px 5px;
}

table.table-adjust-space th {
  text-align: left;
}

table.table-bordered th,
table.table-bordered td {
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.38);
  border-top: 1px solid #999;
  border-top: 1px solid rgba(0, 0, 0, 0.38);
}

table tbody {
  font-size: 11px;
}

table.table-bordered td,
table.table-bordered th,
table.table-bordered tbody + tbody {
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.38);
}

table.table thead th,
table.table tbody td {
  vertical-align: middle;
}

table.table-bordered thead th,
table.table-bordered thead td {
  border-bottom-width: 2px;
}

table.table-bordered thead th {
  border-bottom: 1px solid #999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}

table.table-bordered tbody + tbody {
  border-top: 1px solid #999;
  border-top: 1px solid rgba(0, 0, 0, 0.38);
}

table.table tbody tr.odd,
table.table tbody tr.odd td {
  background-color: #eee;
  background-color: rgba(0, 0, 0, 0.05);
}

table.table thead tr.cell-wide th,
table.table tbody tr.cell-wide td {
  font-size: 1.2em;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

table th.cell-invisible,
table td.cell-invisible {
  opacity: 0;
}

table th.cell-dark-background,
table td.cell-dark-background {
  background-color: #000;
  color: #fff;
}

table th.table-cell-expand,
table td.table-cell-expand {
  width: 100%;
}

table th.table-cell-shrink,
table td.table-cell-shrink {
  white-space: nowrap;
  width: 0.1%;
}

.table {
  background-color: transparent;
  border-collapse: collapse;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 100%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eee;
  background-color: rgba(0, 0, 0, 0.05);
}

table.table {
  border-collapse: collapse;
  font-size: 14px;
}

table.table tbody tr.subtotal,
table.table tbody tr td.subtotal {
  background-color: #ddd;
  background-color: rgba(0, 0, 0, 0.15);
  font-style: oblique;
}

table.table tbody tr.subtotal-bolder,
table.table tbody tr td.subtotal-bolder {
  background-color: #bbb;
  background-color: rgba(0, 0, 0, 0.25);
}

table.table tbody tr.total,
table.table tbody tr td.total {
  background-color: #aaa;
  background-color: rgba(0, 0, 0, 0.35);
  font-weight: bolder;
}

table.table-bordered {
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.38);
}

.top-border {
  border-top: 1px solid #999;
  border-top: 1px solid rgba(0, 0, 0, 0.38);
}

.bottom-border {
  border-bottom: 1px solid #999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}

.left-border {
  border-left: 1px solid #999;
  border-left: 1px solid rgba(0, 0, 0, 0.38);
}

.right-border {
  border-right: 1px solid #999;
  border-right: 1px solid rgba(0, 0, 0, 0.38);
}

.full-border {
  border: 1px solid #999;
}

.no-border {
  border: none;
}

.no-left-border {
  border-left: none;
}

.no-right-border {
  border-right: none;
}

.no-top-border {
  border-top: none;
}

.no-bottom-border {
  border-bottom: none;
}
