.chart_desti svg{
    font-size: .8em;
}


.chart_desti p {
    text-align: center;
    line-height: 1;
    margin: .3em;
}

.FONS {
    fill: #ffffff;
}

.REG {
    fill: #4D77A4;
}

.IMP {
    fill: #77a2d1;
}

.PROD {
    fill: #badcff;
}

.bar_i {
    fill: #badcff;
}

.bar_c {
    fill: #77a2d1;
}

.bar_o {
    fill: #4D77A4;
}


.bar_f {
    fill: #ffffff;
}

.etiqueta,
.etiqueta_reparto{
    background-color: transparent;
    line-height: 1;
    padding: .2em;
    display: inline-block;
}

.etiqueta p {
    padding: 0px;
    font-size: 0.7em;
}
.etiqueta_reparto p {
    margin: .2em;
    padding: 0em 0 0 2em;
    text-align: left;
    color:#000000;
    font-weight: bold;
    font-size: .6em;
}

