.c3-axis-y text {
  font-size: 7px;
}

.c3-axis-y .tick{
  display: none;
}

.c3-axis-x text {
  font-size: 7px;
}

.c3 path, .c3 line {
  fill: none;
  stroke: #383838;

}

.c3-legend-item {
    font-size: 8px;
}

.c3-text {
    fill: rgb(0, 0, 0) !important;
}
