body{
    font-family: "Liberation Sans";
    font-size: 11px;
    margin-right: 60px;
    margin-left: 60px;
}


.capcalera{
    position: relative;
    top: 30px;
}

    .dades_full{
        position: relative;
        float: left;
        width: 50%;
        font-size: 6px;
        text-align: right;
    }

    .logo{
        position: relative;
        float: left;
        width: 50%;
    }


    #table1{
        border:  solid 2px #4D77A4;
        border-collapse: collapse;
        font-size: 6px;
        text-align: center;
        width: 100%;
        margin-top: 5px;
    }
    th{
        text-align: center;
        font-weight: bold;
        color: white;
        background-color: #4D77A4;
    }
    #table1 td{
        border:  solid 1px #4D77A4;
        border-collapse: collapse;
        padding: 2px;
    }

    #table2{
        font-size: 5px;
        border: none;
        text-align: center;
        width: 100%;
    }
    #table2 td{
        border: none;
        text-align: center;
    }

.quadre {
    margin: auto;
    height: 10px;
    width: 20px;
    background-color: #979797;
}

.taula_info{
    margin-top: 45px;
    border:  solid 1px #4D77A4;
    border-collapse: collapse;
    font-size: 5px;
    width: 100%;
}
    .capçalera_taula {
        text-align: center;
    }

    .taula_info td{
        border:  solid 1px #4D77A4;
        border-collapse: collapse;
        padding: 2px;
    }

    .subtitol{
        font-weight: bold;
        color: white;
        background-color: #4D77A4;
        font-size: 6px;
    }


    .subtitol_num{
        padding: 2px;
        font-weight: bold;
        color: white;
        background-color: #4D77A4;
        font-size: 6px;
        vertical-align: center;
        text-align: center;
    }

    .subtitol_check{
        padding: 2px;
        font-weight: bold;
        background-color: #b0ceff;
        font-size: 6px;
        vertical-align: center;
        text-align: center;
    }

    .num{
        vertical-align: center;
        text-align: center;
        font-weight: bold;
    }

#text_final {
    font-style: italic;
    font-size: 4px
}

#titol_pg2{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #4D77A4;
    width: 100%;
    margin-top: 45px;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: center;
}

#subtitol_pg2 {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #4D77A4;
    width: 100%;
    margin-top: 15px;
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: center;
}

.taula_pg2 {
    border:  solid 1px #4D77A4;
    border-collapse: collapse;
    font-size: 7px;
    margin: auto;
    margin-top: 10px
}

  .taula_pg2 td{
      border:  solid 1px #4D77A4;
      border-collapse: collapse;
      padding: 1px;
      padding-top: 3px;
      padding-bottom: 3px;
      text-align: center;
      vertical-align: top;
  }

.formula {
    font-size: 9px;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
  .formula img {
    width: auto;
    height: 80px;
  }

.taula2_pg2 {
    border:  solid 1px #4D77A4;
    border-collapse: collapse;
    font-size: 8px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    width: 100%;
}

  .taula2_pg2 td{
      border:  solid 1px #4D77A4;
      border-collapse: collapse;
      padding: 5px;
      text-align: center;
      vertical-align: bottom;
  }

  .casella_buida{
      height: 20px;
  }


.quadre_observacions{
    height: 120px;
    width:100%;
    border:  solid 1px #4D77A4;
}
