#title{
    background: lightgrey;
    font-size: 12px;
}

#title td{
    font-size: 10px;
}

.reglaments {
    font-size: 10px;
    margin: auto;
    width: 90%;
}

.checkbox{
    position: relative;
    float: left;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-top: 0px;
    margin-right: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 7px;
    background-color: white;
}

.dades_mesura {
    border-collapse: collapse;
    font-size: 10px;
}

.dades_mesura th {
    background-color: LightGray;
    border: 1px solid black;
    padding: 3px;
}

.dades_mesura td {
    border: 1px solid black;
    padding: 3px;
}
