body {
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 30px;
    font-family: Dejavu Sans;
}

.capcalera {
  margin-top: 20px;
  width: 100%;
}
.logo {
  max-width: 150px;
  max-height: 100px;
}
.text_capcalera {
    margin-top: 15px;
    margin-left: -160px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}


.taula_resum {
  margin-top: 10px;
  width: 100%;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 15px;
  font-size: 11px;
  text-align: center;
}
.taula_resum tr:nth-child(1) {
  text-decoration: underline;
  color: #0129A2;
  font-weight: bold;
}
.taula_resum tr td {
  padding-top: 5px;
}


.resum_ordres_actuacio {
  margin-top: 30px;
  width: 100%;
  font-size: 11px;
  padding-top: 30px;
}

.capcalera_ordres_actuacio {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 15px;
  color: #0129A2;
  font-weight: bold;
  page-break-inside: avoid;
  font-size: 11px;
  background-color: #D0D0D0;
}

.resum_ordres_actuacio td:nth-child(4) {
  font-weight: bold;
}
.info_resum_ordres_actuacio td{
  padding-left: 20px;
  padding-top: 5px;
}
