body {
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 30px;
    font-family: Dejavu Sans;
}



.capcalera {
  margin-top: 20px;
  width: 100%;
}
.logo {
  max-width: 150px;
  max-height: 100px;
}
.text_capcalera {
    margin-top: 15px;
    margin-left: -160px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}


.taula_resum {
  margin-top: 10px;
  width: 100%;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 15px;
  font-size: 11px;
}
.taula_resum tr:nth-child(1) {
  text-decoration: underline;
  color: #0129A2;
  font-weight: bold;
}


.capcalera_ordres_actuacio {
  margin-top: 30px;
  width: 100%;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 15px;
  color: #0129A2;
  font-weight: bold;
  page-break-inside: avoid;
  font-size: 11px;
}
.info_ordres_actuacio {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  font-size: 11px;
}
.info_ordres_actuacio th {
  border: 1px solid #000000;
  color: #0129A2;
  font-weight: bold;
  padding: 5px;
}
.info_ordres_actuacio td {
  border: 1px solid #000000;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
}
.info_ordres_actuacio td:nth-child(4), td:nth-child(5), td:nth-child(6) {
  text-align: right;
}
.resum_ordres_actuacio td{
  border: hidden;
  padding-top: 10px;
  color: #0129A2;
  font-weight: bold;
  page-break-inside: avoid;
  font-size: 11px;
}
.resum_ordres_actuacio td:nth-child(1){
  border: hidden;
  color: #000000;
  font-weight: bold;
}
