.gray{
    background-color: #d9d9d9;
}
.white{
    background-color: white;
}
.header_right{
    float: right;
    width: 80%;
    margin-bottom: 10px;
}
.header_left{
    float: left;
    margin-bottom: 10px;
}
.separation{
    margin-bottom: 2px;
}
#box_information{
    font-family: "Dejavu Sans";
    float: right;
    border: 1px solid;
    width: 150px;
    margin-left: 14px;
    background-color: #d9d9d9;
    text-align: center;
}
#box-inf{
    clear: both;
    padding-top: 10px;
}
#box-sup{
    float: right;
    border: 1px solid;
    width: 95%;
    background-color: #d9d9d9;
    text-align: center;
}
#img_logo{
    width: 190px;
}
table{
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
    page-break-inside: avoid;
}
tr{
    border: 1px solid;
    font-size: 14px;
}
td{
    border: 1px solid;
    font-size: 14px;
}
hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid red;
    margin: 1em 0;
    padding: 0;
}
body{
    font-family: "Dejavu Sans";
}
