body{
    font-family: "Roboto-Regular";
}

th{
    font-weight: bold;
}

/*shows the structure, useful when modifiyng the report.*/

/*table, tr, th, td{*/
/*    border: black solid 1px;*/
/*}*/

/*-------------------------------------------------------------------- HEADER */

#header{
    width: 100%;
    text-align: right;
    font-size: 15px;
    line-height: 15px;
}

#company-logo img{
    height: 70px;
    width: auto;
    float: left;
}

#company-logo img{
    width: auto;
    margin-right: 30px;
}

/*-------------------------------------------------------------- ORDER'S BODY */

#order{
    width: 100%;
    margin-top: 30px;
}

#order td{
    vertical-align: top;
}

#order-header{
    font-size: 16px;
    padding-bottom: 10px;
}

#separator{
    border-right: black solid 1px;
}

/*-------------------------------------------- SALE'S INFO & SHIPPING ADDRESS */

#sale-info{
    width: 100%;
}

#sale-info td {
    font-size: 12px;
}

#shipping-address{
    width: 80%;
    margin-left: 40px;
}

/*------------------------------------------------------------- ORDER'S LINES */

#order-lines{
    width: 100%;
    border-collapse: collapse;
}

#order-lines th{
    height: 20px;
    border-collapse: collapse;
    border-bottom: black 2px solid;
    font-size: 13px;
}

#order-lines tr{
    page-break-inside: avoid;
}

#order-lines td{
    height: 20px;
}

#order-lines tbody{
    font-size: 12px;
    vertical-align: top;
}

.qty{
    text-align: right;
    font-size: 12px;
}

/*------------------------------------------------------------- ORDER'S NOTES */

#notes-header{
    padding-top: 25px;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: 1px solid black;
}

#notes-body{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
}

/*----------------------------------------------------------- ORDER'S SUMMARY */

#summary{
    padding-top: 25px;
    margin-left: auto;
    margin-right: 0;
    page-break-inside: avoid;
    font-size: 12px;
}

#summary th{
    text-align: left;
    vertical-align: top;
    width: 140px;
}

#summary td{
    text-align: right;
}

#impuestos{
    height: 20px;
}

/*------------------------------------------------------------------- GLOBALS */

.bold{ font-weight: bold }

.right{ text-align: right }

.subtitles{ padding-top: 40px }

.row-values td{
    border-bottom: solid 1px #e0e0de;
}
