*{
    font-family: "Liberation Sans";
}
#header{
    margin-left: 100px;
    border-collapse: collapse;
}
#header img{
    width: 270px;
    margin-right: 20px;
}
.header-info{
    font-size: 7px;
    padding: 7px 0 0 30px;
    border-left: 3px solid black;
    border-collapse: collapse;
}
.header-info p{
    line-height: 4px;
}
#destinatari{
    font-size: 14px;
    margin-left: 320px;
    margin-top: 50px;
}
#lloc-i-data{
    margin-top: 80px;
    text-align: right;
    font-size: 16px;
}
#apertura{
    margin-top: 30px;
}
.missatge{
    text-indent: 100px;
    text-align: justify;
}
.cos{
    font-size: 15px;
}
#remitent{
    margin-top: 50px;
    text-align: right;
    font-weight: bolder;
    color: #000050;
}
.blue-bold{
    font-weight: bolder;
    color: blue;
}
