body{
    font-family: "Ubuntu";
}
.tabla_datos_factura_derecha, .tabla_datos_factura, .tabla_calculo_factura, .tabla_datos_pie_averias, .tabla_datos_pie_reclamaciones, .tabla_datos_pie_informacion_adicional{
    float: right;
    font-family: 'Ubuntu';
    font-weight: 100;
    width: 88%;
    font-size: 8pt;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
}

.tabla_calculo_factura_conceptos{
    float: left;
    position: relative;
    font-family: 'Ubuntu';
    font-weight: 100;
    width: 715px;
    left: 43px;
    font-size: 8pt;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
}

.tabla_calculo_factura_conceptos td{
    padding-top: 2px;
}

.tabla_datos_lectura{
    float: right;
    font-family: 'Ubuntu';
    font-weight: 100;
    font-size: 4.8pt;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
}
.tabla_datos_lectura td {
    padding: 0;
    margin:0;
    text-align: center;
}

.tabla_datos_origen_electricidad{
    font-family: 'Ubuntu';
    font-size: 7.0pt;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
    margin-top: 5px;
    width: 360px;
}

.white_font{
    color: white;
}

.azul_origen{
    background-color: #68c3ca;
}

.azul_origen_2{
    background-color: #d4e5e6;
}

.azul_origen_3{
    background-color: #b5c4c6;
}

.negro_comer{
    background-color: #2b2b2a;
}

.negro_comer_2{
    background-color: #9f9da0;
}

.negro_comer_3{
    background-color: #89878a;
}

.azul_mezcla{
    background-color: #2e5677;
}

.azul_mezcla_2{
    background-color: #bcc0cb;
}

.azul_mezcla_3{
    background-color: #a8acb6;
}

.espacio_columnas td{
    padding-right: 5px !important;
}

.tabla_datos_factura td{
    padding: 1px;
    margin:0;
}
.tabla_datos_factura_derecha td{
    padding: 2px;
    margin:0;
}
.tabla_calculo_factura td{
    padding-top: 0;
    margin:0;
}
tabla_datos_pie tr{
    vertical-align: baseline;
}
.tabla_datos_pie_averias{
    float: left;
    position: relative;
    font-size: 6pt;
    left: 70px;
    width: 285px;
    top: 5px;
}
.tabla_datos_pie_reclamaciones{
    float: right;
    position: relative;
    font-size: 6pt;
    width: 285px;
    top: 5px;
    left: -70px;
}
.tabla_datos_pie_informacion_adicional{
    float: center;
    text-align: center;
    position: relative;
    font-size: 6pt;
    top: 15px;
    left: 30px;
}

.tabla_datos_factura_derecha{
    position: relative;
    left: -50px;
    top: 6px;
}
.tabla_calculo_factura{
    font-size: 7pt;
}
.field{
    font-weight: bold;
    font-family: 'Ubuntu bold';
}
.duplicado{
    font-size: 18px;
}
.titulo_calculo_factura{
    font-weight: bold;
    font-family: 'Ubuntu bold';
    padding-bottom: 2px;
}
.titulo_calculo_factura_conceptos{
    font-weight: bold;
    font-family: 'Ubuntu bold';
    font-size: 10pt;
    padding-bottom: 2px;
}
.seccion_degradado{
    position: relative;
    height: 25px;
}
.seccion_degradado_2{
    position: relative;
    height: 18px;
}
.grafico_destino_importe{
    position: relative;
    left: 60px;
    width: 680px;
}
.grafico_barras{
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}
.leyenda_grafico{
    width: 8px;
    height: 8px;
    margin-right: 5px;
}
.leyenda_renovable{
    background-color: #61a2a5;
}
.leyenda_cae{
    background-color: #659c77;
}
.leyenda_cog{
    background-color: #c8dfd3;
}
.leyenda_gas{
    background-color: #b1dbd2;
}
.leyenda_carbon{
    background-color: #20566f;
}
.leyenda_fuel{
    background-color: #1d1d1d;
}
.leyenda_nuclear{
    background-color: #417396;
}
.leyenda_otras{
    background-color: #3c3b52;
}
.seccion {
    position: relative;
    float: left;
    background-color: rgba(212,212,209,0.37);
    height: 140px;
}
.seccion_2 {
    position: relative;
    float: left;
    background-color: #d5d5d3;
    height: 190px;
}
.seccion_3{
    position: relative;
    float: left;
    background-color: rgba(212,212,209,0.37);
    height: 400px;
}
.seccion_4 {
    position: relative;
    float: left;
    background-color: rgba(212,212,209,0.37);
    height: 171px;
}
.gris_claro{
    background-color: rgba(212,212,209,0.37); !important;
}
.transparente{
    background-color: rgba(0,0,0,0);
}
.gris_oscuro{
    background-color: #d5d5d3;
}
#contenido{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /*border: 1px solid white;*/
}
#cabecera{
    width: 100%;
    height: 140px;
    padding: 0;
    margin: 0;
}
#logo_superior_izq{
    position: relative;
    float: left;
    width: 47%;
    height: 140px;
}
#logo_superior_derecha_degradado{
    position: relative;
    float: right;
    width: 47%;
    height: 140px;
}
#degradado{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#texto_degradado{
    float: left;
    margin-left: 25px;
    margin-top: 72px;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    line-height: 0.9;
}
#texto_vertical_lateral{
    position: relative;
    top: 420px;
    left: -360px;
    height: 12px;
    white-space: nowrap;
    font-size: 6pt;
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    z-index: 10;
}
#cabecera_datos_factura{
    position: relative;
    float: left;
    width: 47%;
    height: 150px;
    background-color: #d4d4d1;
}
#cabecera_datos_dir_envio{
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
}
#cabecera_envio{
    position: relative;
    float: right;
    width: 47%;
    height: 150px;
}
#Cuerpo_DatosTitular{
    background-color: rgba(212,212,209,0.37);
    width: 100%;
    height: 130px;
    margin-top: 12px;
}
#Cuerpo_DatosTitular_2{
    background-color: rgba(212,212,209,0.37);
    width: 100%;
    height: 100px;
    margin-top: 12px;
}
#cabecera_datos_titular{
    position: relative;
    float: left;
    width: 47%;
    height: 130px;
}
#cabecera_datos_titular_derecha{
    position: relative;
    float: right;
    width: 47%;
    height: 130px;
}
#cuerpo{
    height: 500px;
}
#calculo_factura{
    position: relative;
    float: left;
    width: 47%;
    height: 500px;
}
#report_sups{
    position: relative;
    float: right;
    width: 355px;
    height: 244px;
    font-size: 7px;
    overflow:hidden;
}
#historial_consumo{
    position: relative;
    float: right;
    width: 47%;
    height: 500px;
}
#pie{
    height: 135px;
    margin-top: 15px;
    background-color: rgba(212,212,209,0.37);
}
#pie_2{
    height: 135px;
    margin-top: 45px;
    background-color: rgba(212,212,209,0.37);
}
#totales{
    font-family: 'Ubuntu';
    font-weight: 100;
    width: 100%;
    font-size: 9pt;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
}
#contenido_totales{
    position: absolute;
    width: 80%;
    bottom: 0;
    right: 0;
}
#contenido_totales_2{
    position: absolute;
    width: 50%;
    left: 50px;
    bottom: 150px;
}
#grafico{
    height: 256px;
}
#publi{
    height: 244px;
}
#contenedor_grafico{
    position: relative;
    float: right;
    width: 94%;
    height: 220px;
}
.contenedor_tabla_lecturas{
    position: relative;
    float: left;
    margin-left: 10px;
}
.texto-azul {
    font-weight: bold;
    color: #64c2c8 !important;
}
.texto-vertical_azul_col1 {
    font-size: 7pt;
    font-weight: bold;
    text-align: center;
    color: #64c2c8 !important;
    -webkit-transform: rotate(-90deg);
}
.ajustes_vertical_col1_cabecera{
    position: relative;
    top: 70px;
    width: 150px;
    left: -42px;
}
.texto_contador{
    position: relative;
    height: 12px;
    width: 140px;
    top: 60px;
    left: -73px;
    white-space: nowrap;
    text-align: center;
    font-size: 4pt;
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    z-index: 10;
}
.ajustes_vertical_col1_titular{
    position: relative;
    top: 60px;
    width: 130px;
    left: -32px;
}
.ajustes_vertical_col1_titular_2{
    position: relative;
    top: 45px;
    width: 130px;
    left: -32px;
}
.ajustes_vertical_col1_calculo{
    position: relative;
    top: 68px;
    width: 130px;
    left: -32px;
}
.ajustes_vertical_col1_info{
    position: relative;
    top: 62px;
    width: 135px;
    left: -32px;
}
.ajustes_vertical_col1_concepto{
    position: relative;
    top: 40px;
    width: 130px;
    left: -32px;
}
.ajustes_vertical_col1_concepto_2{
    position: relative;
    top: 70px;
    width: 130px;
    left: -32px;
}
.ajustes_vertical_col1_seccion{
    position: relative;
    top: 65px;
    width: 140px;
    left: -30px;
}

.ajustes_vertical_col1_seccion_2{
    position: relative;
    top: 90px;
    width: 190px;
    left: -55px;
}

.ajustes_vertical_col1_seccion_4{
    position: relative;
    top: 70px;
    width: 140px;
    left: -25px;
}
.ajustes_vertical_col1_seccion_4_2{
    position: relative;
    top: 60px;
    width: 140px;
    left: -25px;
}
.ajustes_vertical_col1_seccion_2_izq{
    position: relative;
    top: 90px;
    width: 190px;
    left: -75px;
}
.texto-vertical_azul_col2 {
    position: relative;
    width: 150px;
    left: -71px;
    font-size: 7pt;
    font-weight: bold;
    text-align: center;
    color: #64c2c8 !important;
    -webkit-transform: rotate(-90deg);
}
.text_center{
    text-align: center;
}
.container_texto{
    background-color: orange;
    width: 85%;
    position: relative;
    left: 70px;
}
.texto_lopd{
    position: relative;
    float: left;
    font-size: 8pt;
    font-weight: 100;
    /*
        wkhtmltopdf haves some issues rendering CSS column property.
        Look at this GitHub issue for more details:

        - https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1872

       #-------------------------------------------------------------#

       You *must* define a fixed height which is
       large enough to fit the whole content,
       otherwise the layout is unpredictable. */
    height: 90px;
    /* Width and count aren't respected, but you
       have to give at least some dummy value (??). */
    -webkit-columns: 0 0;
    /* This is the strange way to define the number of columns:
       50% = 2 columns, 33% = 3 columns 25% = 4 columns */
    width: 50%;
    /* Gap and rule do work. */
    -webkit-column-gap: 2em;
    text-align: justify;
}
.ajustes_direccion_cliente{
    top: 70px;
}
.ajustes_historial_consumo{
    top: 65px;
}
.fecha_vencimiento{
    color: black;
    font-weight: 100;
}
.datos_origen{
    position: relative;
    float: left;
    height: 190px;
}
.texto_origen{
    position: relative;
    float: right;
    font-weight: 100;
    width: 245px;
    font-size: 8pt;
    padding-right: 15px;
    margin-top: 5px;
    text-align: justify;
}
.texto_impacto_ambiental{
    position: relative;
    float: right;
    font-weight: 100;
    font-size: 6.5pt;
    width: 200px;
    text-align: justify;
    padding-right: 15px;
    margin-top: 5px;
}
.texto_abr{
    font-size: 6pt;
}
.tabla_origen{
    position: relative;
    float: right;
    top: -10px;
    height: 150px;
    width: 380px;
    margin: 0;
}
.graficos_origen{
    position: relative;
    float: right;
    width: 90%;
    height: 190px;
    top: 5px;
}
.nota_origen{
    font-weight: 100;
    font-size: 7pt;
    padding-left: 90px;
}
.align_right{
    text-align: right;
}

.chart_consum_container {
    height: 100%;
    width: 100%;
}
.chart_consum {
    margin: 0px;
    width: 100%;
    height: 100%;
}
.rotate_180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.chart_desti {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.nota_destino_importe_superior{
    position: relative;
    left: 70px;
    top: -5px;
    font-weight: 100;
    font-size: .6em;
    width: 70%;
    margin-bottom: 5px;
}
.nota_destino_importe_inferior{
    position: relative;
    top: 10px;
    left: 70px;
    font-weight: 100;
    font-size: .6em;
    width: 85%;
}
.logo{
    height: 75px;
    margin-top: 55px;
}
.small_text{
    font-size: 6pt;
    width: 50px;
}
.small_text_2{
    font-size: 6pt;
    width: 190px;
}
.f_7{
    font-size: 7pt;
}
.f_8{
    font-size: 8pt;
}
.f_9{
    font-size: 9pt;
}
.f_5{
    font-size: 5pt;
}
.f_10{
    font-size: 10pt;
}
.f_21{
    font-size: 21pt;
}
.f_10_5{
    font-size: 10.5pt;
}
.w_17{
    width: 17%;
}
.w_39_4{
    width: 39.4%;
}
.w_40{
    width: 40% !important;
}
.w_60{
    width: 60%;
}
.w_81_8{
    width: 81.8%;
}
.w_100{
    width: 100%;
}
.mt_5{
    margin-top: 5px;
}
.mt_10{
    margin-top: 10px;
}
.mt_11{
    margin-top: 11px;
}
.mt_15{
    margin-top: 15px;
}
.mt_20{
    margin-top: 20px;
}
.mt_25{
    margin-top: 25px;
}
.ml_5{
    margin-left: 5px;
}
.ml_10{
    margin-left: 10px;
}
.mr_5{
    margin-right: 5px;
}
.p_5{
    padding: 5px;
}
.pt_5{
    padding-top: 5px !important;
}
.pt_10{
    padding-top: 10px !important;
}
.pl_5{
    padding-left: 5px;
}
.pl_42{
    padding-left: 42px;
}
.pl_60{
    padding-left: 60px;
}
.pb_5{
    padding-bottom: 5px !important;
}
h_160{
    height: 160px !important;
}
.nowrap{
    white-space: nowrap;
}
