.chart_desti svg{
    font-size: .8em;
}


.chart_desti p {
    text-align: center;
    line-height: 1;
    margin: .3em;
}

.FONS {
    fill: #ffffff;
}

.REG {
    fill: #68c3ca;
}

.IMP {
    fill: #2e5677;
}

.PROD {
    fill: #2b2b2a;
}

.bar_i {
    fill: #659c77;
    color: #FFFFFF;
}

.bar_c {
    fill: #c8dfd3;
    color: #FFFFFF;
}

.bar_o {
    fill: #61a2a5;
    color: #FFFFFF;
}


.bar_f {
    fill: #ffffff;
}

.etiqueta,
.etiqueta_reparto{
    background-color: transparent;
    line-height: 1;
    padding: .2em;
    display: inline-block;
}

.etiqueta p {
    padding: 0px;
    font-size: 0.7em;
    color: #000000;
    font-weight: 100;
}
.etiqueta_reparto p {
    margin: .2em;
    padding: 0em 0 0 2em;
    text-align: left;
    color:#000000;
    font-weight: 100;
    font-size: .6em;
}

