    ${css}
    body {
        font-size: 9px;
        font-family: Verdana;
        color: #000000;
        font-weight: 100;
        margin: 0px;
        padding: 0px;
    }
    .page {}
    .new_page{ page-break-after: always;}
    h1 {
        font-size: 1.2em;
        margin: 0;
        padding: 0.5em 1em 0.5em 1em;
        color: #ffffff;
    }
    h1.seccio{
        color:#ec6e00;
        border-bottom:2px #ec6e00 solid;
    }
    em{
        font-style: normal;
        color: #000000;
        font-weight: bold;
    }
    p {
        padding: .5em .5em;
        margin: .5em .5em;
        line-height: 1.5;
    }
    hr {
        border: none;
        height: 1px;
        background-color: #4c4c4c;
        margin: 0em 1em 0em 1em;
    }
    table {
        border: 0px;
        padding: 0px;
        border-collapse: collapse;
        font-size: 1em;
        font-weight: 100;
        width: 100%;
    }
    .table_header{
        border-top:2px #ec6e00 solid;
        border-bottom:1px #ec6e00 solid;
        color:#ec6e00;
        text-align: center;
    }
    th {
        text-align: left;
        padding: .5em;
    }
    td {
        padding: .25em .25em .25em .5em;
    }
    td.e {
        text-align: right;
        font-weight: bold;
    }

    .box {
        border: 2px #ec6e00 solid;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-bottom: 5px;
        border-top-style:none;
        margin-top: 8px;
    }
    .box-header{
        background-color: #ec6e00;
        background: #ec6e00;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    #container {
        margin-left: 50px;
    }
    .peu{}
    .separator{
        clear: both;
    }
    .logo{
        clear: both;
        float: none;
        height: 90px;
    }
    .logo .text{
        color: #000000;
        font-weight: bold;
        line-height: 0;
        float: left;
        font-style: italic;
        font-size: 1.5em;
        text-align: right;
        padding-right: 30px;
    }
    .logo .bombeta{
        float:right;
        padding:2px 0px;
        height: 68px;
    }
    .logo .lersa{
        max-height: 100%;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    .left-50{ float: left; width: 49%;}
    .right-50{ float: right; width: 49%;padding-right: 10px;}
    .left-60{ float: left; width: 60%; }
    .right-40{ float: right; width: 39%; }
    .left-30{ float: left; width: 30%; }
    .right-70{ float: right; width: 69%; }
    .little {
        font-size:8px;
    }
    p.little{
        line-height: 0;
    }

    .mix_taula th{
        border: 0px;
    }

    .mix_taula table {
        margin: 10px;
        width: 98%;
    }
    .mix_taula thead{
        text-align: center;
        color: #ec6e00;
        border-bottom: 1px #ec6e00 solid;
        font-weight: bold;
    }

    tr.total {
        font-size: 1.5em;
        border-top: 1px solid #ec6e00;
        font-weight: 900;
        color: #000000;
    }

    /* ADREÇA COMPANYIA */
    .company_address {
        text-align: left;
        color: #000000;
        width: 100%;
        font-size: 1.1em;
        line-height: 1.5;
    }
    .company_name{
        color: #000000;
        font-size: 1.5em;
    }
    .dades_web{
        text-decoration: underline;
        color: mediumblue;
        margin-right: 15px;
    }
    /* DIRECCIÓ ENVIAMENT */
    .logos{
        margin-top: 22px;
        padding: 15px;
        padding-left: 0px !important;
        width: 300px;
    }
    .direccio_enviament{
        padding: 15px;
        font-size: 12px;
        margin-left: 25%;
    }
    /* DADES FACTURA */
    .invoice_data {
        float: right;
        background-color: #ffffff;
        width: 100%;
        margin: 10px 0px 0px 10px;
    }
    .invoice_data div{
        padding: .5em;
        padding-bottom: 0px;
    }
    /* RESUM FACTURA */
    .invoice_summary {
        text-align: left;
        margin: 10px 0px 0px 10px;
        border-right: 2px #ec6e00 solid;
        padding-right: 20px;
    }
    /* CONTENIDOR DADES CLIENT */
    /* DADES TITULAR */
    .owner_data {
        text-align: left;
        width: 100%;
        margin: 0 0 5px 0;
        padding: 0px;
    }
    .owner_data dl {
        margin-left: 10px;
        margin-right: 5px;
    }
    .owner_data dt {
        float: left;
        clear: left;
        width: 150px;
        text-align: left;
        font-weight: bold;
        color: #000000;
        padding-bottom: 1px;

      }
    .owner_data dt:after{content: "";}
    .owner_data dd{
        margin: 0 0 0 70px;
        padding: 0;
    }
    /* DADES PAGAMENT */
    .payment_data {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
    }
    /* CONTENIDOR LECTURES ACTIVA */
    .energy_info{
        background-color: #f7f7f7;
        text-align: left;
        margin: 0px 0px 1em 0px;
        width: 100%;
        padding: .1em;
        clear:both;
    }
    /* LECTURES ACTIVA/REACTIVA */
    table.lectures{width: 99%; border-collapse: collapse; line-height: 0.5em;}
    table.lectures tr td{text-align: center; width: 12%; font-size: 0.9em;}
    table.lectures tr th{width: 28%; font-weight: normal;font-size: 0.9em;}
    table.lectures tr.resum_periode td,
    table.lectures tr.resum_periode th {
        font-weight: bold;}
    table.lectures tr.header {font-weight: bold;}

    /* GRAFIC BARRES */
    .historic table.consums_mig {width: 95%; margin-left: 5px; margin-top: 0px;}
    .historic table.consums_mig tr td{text-align: left; width: 12%}
    .historic table.consums_mig tr th{width: 34%; color: #ec6e00;}
    .historic table.consums_mig tr.header{
        border-bottom: 1px #ec6e00 solid;
        font-weight: bold;
        color: #ec6e00;
    }
    .historic table.consums_mesos {width: 95%; margin-left: 5px}
    .historic table.consums_mesos tr td{text-align: center; width: 11%}
    .historic table.consums_mesos tr th{width: 34%; color: #ec6e00;}
    .historic table.consums_mesos tr.header{
        border-bottom: 1px #ec6e00 solid;
        color: #ec6e00;
    }
    .historic p{
        line-height: 1em;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .chart_consum_container {
        margin: 0.5em;
        margin-left: 0px;
    }
    .chart_consum {
        margin: 0px;
        margin-left: 10px;
        margin-right: auto;
        display: block;
        width: 80%;

    }
    .chart_desti {
        width: 100%;
    }

    .chart_estadistica {
        font-size: .8em;
        width: 320px;
    }
    /* DADES CONTRACTE */
    .contract_data {
        text-align: left;
        width: 100%;
        margin: 5px 0px 0px 10px;
    }
    .separator.contract{
        border-top:1px #ec6e00 solid;
        width: 100%;
    }
    .contract_data2 {
        text-align: left;
        margin: 5px 0 5px 0;
        padding-left: 20px;
        border-left: 2px #ec6e00 solid;
    }
    .potencies_contractades{
        clear: both;
        position:relative;
    }
    .potencies_contractades table{
        text-align: center;
    }
    .potencies_contractades .text{
        padding-top:7px;
    }
    .potencies_contractades table tr.header { font-weight: bold; line-height:0.5em;}
    /* EMERGÈNCIES i RECLAMACIONS*/
    .emergency_complaints{
        font-size: 8px;
    }
    .emergency_complaints p{
        font-style: italic;
        margin: 0;
        padding: 0;
        font-size: 0.8em;
    }
    .emergency, .complaints {
        text-align: left;
        line-height: 0.5em;
    }
    .complaints {
        padding-right: 20px;
        width: 45%;
    }
    .emergency h1, .complaints h1{
        font-size: 1.2em;
        font-weight: bold;
        color:#ec6e00;
        border-bottom: 2px #ec6e00 solid;
    }
    .emergency dt,  .complaints dt {
        float: left;
        clear: left;
        width: 130px;
        text-align: left;
        font-weight: bold;
        color: #000000;
        line-height: 0.5em;
      }
      .emergency dt:after,
      .complaints dt:after {content: "";}
      .emergency dd,  .complaints dd {
        margin: 0 0 0 70px;
        padding: 0 0 0 0;
      }
    /* DESTÍ IMPORT FACTURA */
    .destination {
        text-align: left;
        width: 100%;
        margin: 0.7em 0px 0px 0px;
    }
    .destination .lloguers{
        font-style: italic;
    }
    /* CONTENIDOR REACTIVA/MAXÍMETRES */
    .other_measures{
        background-color: #ffffff;
        text-align: left;
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
    /* DETALL FACTURA */
    .invoice_detail {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
        font-size: .8em;
        padding-bottom: 1em;
    }
    .separator_energia{
        border-top:1px #ec6e00 solid;
        width: 90%;
        margin-left: 5px;
    }
    .separator_energia.big{
        border-top:2px #ec6e00 solid;
    }
    .separator_energia.final{
        border-top:2px #ec6e00 solid;
        width: 98%;
    }
    .detall_factura p {
        margin: 0px;
        padding-bottom: 0px;
    }
    .detall_factura td.total {
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
        text-align: right !important;
        padding-right: 20px;
    }
    .detall_factura table{font-size: 9px;}
    .detall_factura table td { padding-bottom: 0px; padding-top: 2px;}
    .detall_factura table tr.head td { text-align: left; font-weight: bold;}
    .detall_factura table tr.head td.col_periode,
    .detall_factura table tr.head td.col_2,
    .detall_factura table tr.head td.col_4,
    .detall_factura table tr.head td.col_dies,
    .detall_factura table tr.head td.col_total
    { font-weight: bold;}
    .detall_factura table td.col_periode{ width: 20px; font-weight: bold}
    .detall_factura table td.col_2{ width: 95px;}
    .detall_factura table td.col_X{ width: 10px;}
    .detall_factura table td.col_4{ width: 90px;}
    .detall_factura table td.col_dies{ width: 10px;}
    .detall_factura table td.col_total{ width: 55px;}
    .detall_factura table td.col_peatges{ width: 160px;}
    .detall_factura table td.col_total_verd{ width: 65px;}

    .detall_factura table td.col_impostos{ width:   150px; font-weight: bold}
    .detall_factura table td.col_valor_impost{ width: 80px;}

    .detall_factura table.final{
        font-size: 1.5em;
        color: #000000;
    }
    .detall_factura table.final td.total_factura{ width: 420px;   }
    .detall_factura div.periodes { min-height: 0px; }

    .detall_factura table{
        border-collapse: collapse;
        margin-left: 5px;
    }
    .preus_publicats{
        font-size: 0.8em;
        margin: 0;
        padding: 0;
        color: #a9a9a9;
    }
    /* PREUS INDEXATS */
    .preus_indexats{
        border:1px #ec6e00 solid;
    }
    .preus_indexats .llistat{
        padding-left: 10px;
    }
    .preus_indexats .llistat div.left{ width: 33%;}
    .preus_indexats dt {
        float: left;
        clear: left;
        width: 50px;
        text-align: left;
        font-weight: bold;
        color: #000000;
      }
    .preus_indexats dt:after{content: "";}
    .preus_indexats dd{
        margin: 0 0 0 60px;
        padding: 0 0 5px 0;
    }
    .preus_indexats .formula{
        text-align: center;
        line-height: 0;
        font-weight: bold;
    }

    /* INFORMACIÓ DE LA ELECTRICITAT */
    .elect_information{
        text-align: left;
        width: 100%;
        margin: 0px;
        font-size: .8em;
    }

    /* GRÀFICS MIX */
    .mix{
        text-align: center;
        width: 100%;
        margin: 1em 0px 1em 0px;
        clear: both;
        height: 220px;
    }
    .mix div.titol{
        width: 100%;
        color:#ec6e00;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .mix_som,
    .mix_esp{
        margin: 0px;
        width: 48%;
        border: 1px salmon solid;

    }

    .mix .graf {
        height: 100px;
        width: 100%;
    }

    .mix img {
        max-height: 100%;
    }

    .mix p {
        font-size: 1em;
        font-weight: 100;
    }

    .m_b{
        margin-bottom: 20px;
    }

    .mix_taula {
        text-align: left;
        width: 100%;
        margin: 1em 50px 1em 0px;
    }
    /* IMPACTE MEDIOAMBIENTAL */
    .environment_impact {
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
    }

    .env_imp_desc {
        line-height: 1.0;
        margin-bottom: 0px;

    }

    .env_imp {
        margin: 10px 10px 0px 10px;
        height: 200px;
    }

    .env_imp_carbo,
    .env_imp_nuclear{
        margin: 0px;
        width: 47%;
        padding: 0px;
        text-align: center;
    }

    .env_imp_nuclear{
        /*float: right;*/
    }

    .env_titol {
        font-weight: bold;
        width: 100%;
        color:#ec6e00;
        text-transform: uppercase;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .env_titol p {
        padding-left: 0;
        padding-top: 0px !important;
        margin-top: 0px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .env_img_lleg {
        clear: both;
    }

    .env_img {
        width: 100%;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
        position: relative;
        left: -25px;
    }

    .a_g {
        max-width: 100%;
        padding:0px;
        display: block;
    }

    .ml_5{
        margin-left: 5px;
    }

    .env_mitjana {
        width: 75px;
        height: 150px;
        float:left;
        text-align: center;
        display:table;
    }

    .env_mitjana p {
        display:table-cell;
        vertical-align: middle;
        text-align: left;
    }

    .env_marc {
        width: 75px;
        height: 45px;
        float:left;
        text-align: center;
        padding: 5px;
        border: 1px solid #4c4c4c;
        border-radius: 5px;
    }
    /* ORÍGEN CERTIFICATS DE GARANTIA*/
    .certificate_origin {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
        /*float: left;*/
        font-size: .9em;
    }
    .cert_orig_info {
        width: 60%;
        /*float: left;*/
    }

    .cert_orig_taula {
        margin: 0px 1em;
    }

    .cert_orig_taula table {
        cell-padding: 0px;
        cell-spacing: 0px;
        text-align: left;
        width: 98%;
    }

    .cert_orig_taula td {
        padding: 0px;
    }

    .cert_orig_taula th {
        text-align: left;
        padding: .5em 0px;
    }

    tfoot tr {
        border-top: 1px solid #4c4c4c;
    }

    .cert_orig_taula tfoot td{
        font-weight: 900;
        padding: .5em 0;
    }

    .cert_orig_grafic {
        width: 25%;
        /*float:right;*/
        padding: 1em;
    }

    img.orig {
        width: 150px;
    }