    ${css}
    body {
        font-size: 10px;
        font-family: "Liberation Sans";
        color: #000000;
        font-weight: 100;
        margin: 0px;
        padding: 0px;
    }
    .page {}
    .watermark {
        position: absolute;
        opacity: 0.20;
        font-size: 97px;
        width: 100%;
        text-align: center;
        z-index: 1000;
        margin-top: 500px;
        left: 7px;
    }
    .capcalera{
        margin-top: 10px;
    }
    .new_page{ page-break-after: always;}
    h1 {
        font-size: 1.2em;
        margin: 0;
        padding: 0.5em 1em 0.5em 1em;
        color: #ffffff;
    }
    h1.seccio{
        color:#3e7c00;
        border-bottom:2px #3e7c00 solid;
    }
    .titol_small {
        font-size: 0.8em;
        margin: 0;
        padding: 0em 0.5em 0em 0.5em;
        color: #ffffff;
        font-weight: bold;
    }
    .titol_small.seccio{
        color:#3e7c00;
        border-bottom:2px #3e7c00 solid;
    }
    em{
        font-style: normal;
        color: #508b16;
        font-weight: bold;
    }
    p {
        padding: .5em .5em;
        margin: .5em .5em;
        line-height: 1.5;
    }
    hr {
        border: none;
        height: 1px;
        background-color: #4c4c4c;
        margin: 0em 1em 0em 1em;
    }
    table {
        border: 0px;
        padding: 0px;
        border-collapse: collapse;
        font-size: 1em;
        font-weight: 100;
        width: 100%;
    }
    .table_header{
        border-top:2px #3e7c00 solid;
        border-bottom:1px #3e7c00 solid;
        color:#3e7c00;
        text-align: center;
    }
    th {
        text-align: left;
        padding: .5em;
    }
    td {
        padding: .25em .25em .25em .5em;
    }
    td.e {
        text-align: right;
        font-weight: bold;
    }
    .box.titular{
        height: 220px;
        position:relative;
        margin-top: 5px;
    }
    .titular .cif{
        position:absolute;
        bottom: 0px;
        margin-bottom: 0px;
    }
    .box {
        border: 2px #3e7c00 solid;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-bottom: 5px;
        border-top-style:none;
        margin-top: 8px;
    }
    .box-header{
        background-color: #3e7c00;
        background: #3e7c00;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    #container {
        margin-left: 50px;
        margin-right: 30px;
    }
    .peu{}
    .separator{
        clear: both;
    }
    .logo{
        clear: both;
        float: none;
        height: 70px;
    }
    .logo .text{
        color: #5dad0e;
        font-weight: bold;
        line-height: 0;
        float: right;
        font-style: italic;
        font-size: 1.5em;
        text-align: right;
        width: 400px;
    }
    .logo .enova{
        margin-top: 3px;
        height: 70px;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    .left-50{ float: left; width: 49%; }
    .right-50{ float: right; width: 49%;}
    .left-60{ float: left; width: 60%; }
    .right-40{ float: right; width: 39%; }
    .left-30{ float: left; width: 30%; }
    .right-70{ float: right; width: 69%; }
    .left-40{ float: left; width: 39%; }
    .right-60{ float: right; width: 60%; }

    .borderless{
        border-collapse: collapse !important;
        border: none;
        border-spacing: 0;
        border:0px;
        margin: 0;
    }

    .text_center{
        text-align: center;
    }

    .borderless td{
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0;
        padding: 0;
        padding-left: 3px !important;
    }

    .mix_taula th{
        padding: 0;
        padding-left: 0.5em;
        border-width:0;
        margin:0;
    }
    .mix_taula thead{
        text-align: center;
        color: #3e7c00;
        border-bottom: 1px #3e7c00 solid;
        font-weight: bold;
    }

    tr.total {
        font-size: 1.5em;
        border-top: 1px solid #3e7c00;
        font-weight: 900;
        color:#204000;
    }

    /* ADREÇA COMPANYIA */
    .company_address {
        text-align: left;
        color: #000000;
        width: 100%;
        font-size: 1.1em;
        line-height: 1.5;
        margin-top: 60px;
    }
    .company_name{
        color:#2f6001;
        font-size: 1.5em;
    }
    .dades_web{
        text-decoration: underline;
        color: mediumblue;
        margin-right: 15px;
    }
    /* DADES FACTURA */
    .invoice_data {
        float: right;
        background-color: #ffffff;
        width: 100%;
        margin: 10px 0px 0px 10px;
    }
    .invoice_data div{
        padding: .5em;
        padding-bottom: 0px;
    }
    /* RESUM FACTURA */
    .invoice_summary {
        text-align: left;
        margin: 10px 0px 0px 10px;
        border-right: 2px #3e7c00 solid;
        padding-right: 20px;
    }
    /* CONTENIDOR DADES CLIENT */
    /* DADES TITULAR */
    .owner_data {
        text-align: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-top: 40px;

    }
    .owner_data table {
        margin-left: 10px;
        margin-right: 5px;
    }
    .owner_data table td:nth-child(odd) {
        width: 175px;
        text-align: left;
        font-weight: bold;
        color: #3e7c00;
        padding-bottom: 1px;

      }
    .owner_data table td:nth-child(even){
        font-size: 12px;
    }
    /* DADES PAGAMENT */
    .payment_data {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
    }
    /* CONTENIDOR LECTURES ACTIVA */
    .energy_info{
        background-color: #f7f7f7;
        text-align: left;
        margin: 0px 0px 1em 0px;
        width: 100%;
        padding: .1em;
        clear:both;
    }
    /* LECTURES ACTIVA/REACTIVA */
    table.lectures{width: 99%; border-collapse: collapse; line-height: .5em}
    table.lectures tr td{text-align: center; width: 11%}
    table.lectures tr th{width: 34%; font-weight: normal;}
    table.lectures tr.resum_periode td,
    table.lectures tr.resum_periode th
    {font-weight: bold;}
    table.lectures tr.header {font-weight: bold;}

    /* GRAFIC BARRES */
    .historic table.consums_mig {width: 95%; margin-left: 5px; margin-top: 5px;}
    .historic table.consums_mig tr td{text-align: center; width: 11%}
    .historic table.consums_mig tr th{width: 34%; color: #3e7c00;}
    .historic table.consums_mig tr.header{
        border-bottom: 1px #3e7c00 solid;
        font-weight: bold;
        color: #3e7c00;
    }
    .historic table.consums_mesos {width: 95%; margin-left: 5px}
    .historic table.consums_mesos tr td{text-align: center; width: 11%}
    .historic table.consums_mesos tr th{width: 34%; color: #3e7c00;}
    .historic table.consums_mesos tr.header{
        border-bottom: 1px #3e7c00 solid;
        color: #3e7c00;
    }
    .chart_consum_container {
        margin: 2em;
        margin-left: 0px;
    }
    .chart_consum {
        margin: 0px;
        display: block;
        width: 760px;
        padding-left: 90px;
    }
    .chart_desti {
        width: 50%;
    }

    .chart_estadistica {
        font-size: .8em;
        width: 320px;
    }
    tr.less-padding td {
        padding-top: .10em !important;
        padding-bottom: .10em !important;
    }
    /* DADES CONTRACTE */
    .contract_data {
        text-align: left;
        width: 100%;
        margin: 10px 0px 0px 10px;
    }
    .contract_data td:first-child {
        width: 55%;
    }
    .contract_data2 {
        text-align: left;
        margin-top: 10px;
        padding-left: 20px;
        border-left: 2px #3e7c00 solid;
    }
    .potencies_contractades{
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
        border-top: 2px #3e7c00 solid;
        clear: both;
        position:relative;
    }
    .potencies_contractades table{
        text-align: center;
    }
    .potencies_contractades .text{
        padding-top:7px;
    }
    .potencies_contractades table tr.header { font-weight: bold;}
    /* EMERGÈNCIES i RECLAMACIONS*/
    .emergency_complaints{
        font-size: 8px;
    }
    .emergency, .complaints {
        text-align: left;
        line-height: 0.5em;
    }
    .complaints {
        padding-right: 20px;
        width: 45%;
    }
    .emergency h1, .complaints h1{
        font-size: 1.2em;
        font-weight: bold;
        color:#3e7c00;
        border-bottom: 2px #3e7c00 solid;
    }
    .emergency dt,  .complaints dt {
        float: left;
        clear: left;
        width: 180px;
        text-align: left;
        font-weight: bold;
        color: #3e7c00;
        line-height: 0.5em;
      }
      .emergency dt:after,
      .complaints dt:after {content: "";}
      .emergency dd,  .complaints dd {
        margin: 0 0 0 70px;
        padding: 0 0 0 0;
      }
    /* DESTÍ IMPORT FACTURA */
    .destination_50{
        position: relative !important;
        left: 9px;
        float: right !important;
        text-align: left;
        width: 49%;
        height: 187px;
        padding-bottom: 0px;
        margin-top: 0px;
    }
    div.supl {
        position: relative;
        float: right;
        height: 270px;
        font-size: 7px;
        overflow:hidden;
        font-style: italic; !important
    }
    div.supl h1{
        font-style: normal; !important
    }
    table.supl {
        margin-bottom: 10px;
    }
    .destination_50 p{
        padding-left: 0.5em !important;
        margin: 0 !important;
        font-size: 6pt;
    }
    .destination {
        text-align: left;
        width: 100%;
        margin: 0.1em 0px 0px 0px;
    }
    .destination p{
        padding-left: 0.5em !important;
        margin: 0 !important;
        font-size: 6pt;
    }
    .lloguers{
        font-style: italic;
        margin: 0;
        padding: 0;
        position: relative;
        top: 10px;
    }
    .destination_50 {
        position: relative !important;
        float: left !important;
        width: 50% !important;
    }
    .destination_12 {
        position: relative !important;
        float: left !important;
        width: 12.5% !important;
        background-color: #0055cc;
        height: 100%;
        text-align: center;
        font-size: 6.5pt;
    }
    /* CONTENIDOR REACTIVA/MAXÍMETRES */
    .other_measures{
        background-color: #ffffff;
        text-align: left;
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
    /* DETALL FACTURA */
    .invoice_detail {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
        font-size: .8em;
        padding-bottom: 1em;
    }
    .separator_energia{
        border-top:1px #3e7c00 solid;
        width: 90%;
        margin-left: 5px;
    }
    .separator_energia.big{
        border-top:2px #3e7c00 solid;
    }
    .separator_energia.final{
        border-top:2px #3e7c00 solid;
        width: 98%;
    }
    .detall_factura p {
        margin: 0px;
        padding-bottom: 0px;
    }
    .detall_factura td.total {
        font-size: 1.2em;
        font-weight: bold;
        color:#3e7c00;
        text-align: right !important;
        padding-right: 20px;
    }
    .detall_factura table{font-size: 9px;}
    .detall_factura table td { padding-bottom: 0px; padding-top: 2px;}
    .detall_factura table tr.head td { text-align: left; font-weight: bold;}
    .detall_factura table tr.head td.col_periode,
    .detall_factura table tr.head td.col_2,
    .detall_factura table tr.head td.col_4,
    .detall_factura table tr.head td.col_dies,
    .detall_factura table tr.head td.col_total
    { font-weight: bold;}
    .detall_factura table td.col_periode{ width: 80px; font-weight: bold}
    .detall_factura table td.col_2{ width: 75px;}
    .detall_factura table td.col_X{ width: 15px;}
    .detall_factura table td.col_4{ width: 75px;}
    .detall_factura table td.col_dies{ width: 15px;}
    .detall_factura table td.col_total{ width: 50px;}
    .detall_factura table td.col_peatges{ width: 135px;}
    .detall_factura table td.col_total_verd{ width: 65px;}

    .detall_factura table td.col_impostos{ width:   140px; font-weight: bold}
    .detall_factura table td.col_valor_impost{ width: 80px;}

    .detall_factura table.final{ font-size: 1.4em; color:#3e7c00   }
    .detall_factura table.final td.total_factura{ width: 420px;   }
    .detall_factura div.periodes { min-height: 110px; }
    .detall_factura table{
        border-collapse: collapse;
        margin-left: 5px;
    }
    /* RESUM COenova */
    .separator_energia.resum_coenova{
        border-top: 1px solid #000000 ;
        width: 90%;
        margin-left: 5px;
        padding-bottom: 0;
        padding-top: 0px;
        margin-top: 2px;
        margin-bottom: 0;
    }
    .detall_factura table.resum_coenova{
        line-height: 5px;
        margin-bottom: 5px;
        padding: 0;
    }
    .detall_factura table.resum_coenova td{}
    .detall_factura table.resum_coenova td.col_enova{
        width:   100px !important;
        font-weight: bold;
        color:#000000 !important;
    }
    .detall_factura table.resum_coenova td.col_2{ width: 50px;}
    .detall_factura table.resum_coenova td.col_valor_impost{ width: 30px;}
    .detall_factura table.resum_coenova td.col_X{ width: 5px;}

    .preus_publicats{
        font-size: 0.8em;
        margin: 0;
        padding: 0;
        color: #a9a9a9;
    }
    /* PREUS INDEXATS */
    .preus_indexats{
        margin-top: 5px;
        border:1px #3e7c00 solid;
    }
    .preus_indexats .llistat{
        padding-left: 10px;
    }

    .preus_indexats p{
        padding-top: 0px;
    }

    .preus_indexats .llistat div.left{ width: 33%;}
    .preus_indexats dt {
        float: left;
        clear: left;
        width: 50px;
        text-align: left;
        font-weight: bold;
        color: #000000;
      }
    .preus_indexats dt:after{content: "";}
    .preus_indexats dd{
        margin: 0 0 0 60px;
        padding: 0 0 5px 0;
    }
    .preus_indexats .formula{
        text-align: center;
        line-height: 0;
        font-weight: bold;
    }

    /* INFORMACIÓ DE LA ELECTRICITAT */
    .elect_information{
        text-align: left;
        width: 100%;
        margin: 0px;
        font-size: .8em;
    }

    /* GRÀFICS MIX */
    .mix{
        text-align: center;
        width: 50%;
        clear: both;
        height: 100px;
        position: relative;
        float: left;
    }
    .mix div.titol{
        color:#3e7c00;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: bold;
        position: relative;
        float: left;
        width: 65px;
        font-size: 5.8pt;
    }

    .mix_som,
    .mix_esp{
        margin: 10px;
        width: 45%;

    }

    .mix .graf {
        position: relative;
        float: left;
    }

    .mix img {
        max-height: 100%;
    }

    .mix p {
        font-size: 1em;
        font-weight: 100;
    }

    .mix_taula {
        position: relative;
        float: right;
        text-align: left;
        height: 100px;
        width: 50%;
        font-size: 5.5pt;
    }
    /* IMPACTE MEDIOAMBIENTAL */
    .environment_impact {
        position: relative;
        float: left;
        text-align: left;
        width: 49%;
    }

    .env_imp_desc {
        line-height: 1.0;
        padding-left: 0.5em !important;
        margin: 0 !important;
        font-size: 6pt;
    }

    .env_imp {
        height: 120px;
    }

    .env_imp_carbo,
    .env_imp_nuclear{
        margin: 0 !important;
        width: 50%;
        padding: 0 !important;
        text-align: center;
    }
    .mt_5{
        margin-top: 5px;
    }
    .mt_25{
        margin-top: 25px;
    }
    .env_imp_nuclear{
        /*float: right;*/
    }

    .env_titol {
        font-weight: bold;
        width: 100%;
        color:#3e7c00;
        text-transform: uppercase;
    }

    .env_titol p {
        margin: 0;
        padding: 0;
        font-size: 5.8pt;
    }

    .env_img_lleg {
        clear: both;
    }

    .env_img {
        width: 100px;
        max-height: 100%;
        position: relative;
        left: 40px;
        margin-top: 5px;
    }

    .a_g {
        max-height: 100%;
        padding:0px;
        display: block;
    }

    .env_mitjana {
        width: 75px;
        height: 150px;
        float:left;
        text-align: center;
        display:table;
    }

    .env_mitjana p {
        display:table-cell;
        vertical-align: middle;
        text-align: left;
    }

    .env_marc {
        width: 75px;
        height: 45px;
        float:left;
        text-align: center;
        padding: 5px;
        border: 1px solid #4c4c4c;
        border-radius: 5px;
    }
    /* ORÍGEN CERTIFICATS DE GARANTIA*/
    .certificate_origin {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
        /*float: left;*/
        font-size: .9em;
    }
    .cert_orig_info {
        width: 60%;
        /*float: left;*/
    }

    .cert_orig_taula {
        margin: 0px 1em;
    }

    .cert_orig_taula table {
        cell-padding: 0px;
        cell-spacing: 0px;
        text-align: left;
        width: 98%;
    }

    .cert_orig_taula td {
        padding: 0px;
    }

    .cert_orig_taula th {
        text-align: left;
        padding: .5em 0px;
    }

    tfoot tr {
        border-top: 1px solid #4c4c4c;
    }

    .cert_orig_taula tfoot td{
        font-weight: 900;
        padding: .5em 0;
    }

    .cert_orig_grafic {
        width: 25%;
        /*float:right;*/
        padding: 1em;
    }

    img.orig {
        width: 150px;
    }
    #info_contracte_taula td{
        margin: 0;
        /* top, right, bottom, left*/
        padding: 2px 0px 0px 0px;
    }
