.chart_desti svg{
    font-size: .8em;
}


.chart_desti p {
    text-align: center;
    line-height: 1;
    margin: .3em;
}

.FONS {
    fill: #ffffff;
}

.REG {
    fill: #00b04e;
}

.IMP {
    fill: #feff00;
}

.PROD {
    fill: #538ed4;
}

.bar_i {
    fill: #64ff97;
}

.bar_c {
    fill: #91d04e;
}

.bar_o {
    fill: #39f04a;
}


.bar_f {
    fill: #ffffff;
}

.etiqueta{
    line-height: 1;
    padding: .2em;
    display: inline-block;
    max-width: 60px;
}

.etiqueta_reparto{
    line-height: 1;
    padding: .2em;
    display: inline-block;
    max-width: 120px;
}

.etiqueta p {
    padding: 0px;
    font-size: 0.5em !important;
}
.etiqueta_reparto p {
    text-align: left;
    color:#000000;
    font-weight: bold;
    font-size: 0.6em !important;
}