<%inherit file="/giscedata_purchase/report/pedidos_de_compra.mako"/>
<%def name="custom_css()">
    <link rel="stylesheet" href="${addons_path}/giscedata_purchase_edm/report/pedidos_de_compra.css"/>
</%def >