h1 {
	margin-top: 0px;
	/*padding-top: 20px;*/

	font-family: sans-serif;
	font-weight: normal;
	/*letter-spacing: -2px;*/
	text-transform: capitalize;
	text-align: left;
	font-size: 17px;
	color: grey;
}

h2 {
	
	font-weight: normal;
	color: #200080;
	font-size: 14px;
	font-weight: bold;
	/*margin-left: -20px;*/
}

h3 {
	
	font-weight: normal;

	background-color: #a0c0ff;
	border: 1px solid #5080b0;

	padding: 4px;
}

h3 a {
	text-decoration: none;
	color: inherit;
}

h4 {
	font-size: 12px;
	font-weight: bold;
}

h4 a {
	text-decoration: none;
	color: inherit;
}

img.face {
	float: right;
	margin-top: -3em;
}

.entry {
	margin-bottom: 2em;
}

.entry .date {
	font-family: "Bitstream Vera Sans", sans-serif;
	color: grey;
}

.entry .date a {
	text-decoration: none;
	color: inherit;
}

.sidebar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;

	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;

	padding-top: 20px;
	padding-left: 0px;

	font-family: "Bitstream Vera Sans", sans-serif;
	font-size: 85%;
}

.sidebar h2 {
	font-size: 110%;
	font-weight: bold;
	color: black;

	padding-left: 5px;
	margin-left: 0px;
}

.sidebar ul {
	padding-left: 1em;
	margin-left: 0px;

	list-style-type: none;
}

.sidebar ul li:hover {
	color: grey;
}

.sidebar ul li a {
        text-decoration: none;
}

.sidebar ul li a:hover {
        text-decoration: underline;
}

.sidebar ul li a img {
        border: 0;
}

.sidebar p {
	border-top: 1px solid grey;
	margin-top: 30px;
	padding-top: 10px;

	padding-left: 5px;
}

.sidebar .message {
    cursor: help;
    border-bottom: 1px dashed red;
}

.sidebar a.message:hover {
    cursor: help;
	background-color: #ff0000;
	color: #ffffff !important;
	text-decoration: none !important;
}

a:hover {
	text-decoration: underline !important;
	color: blue !important;
}
