.gray{
    background-color: #d9d9d9;
}
.white{
    background-color: white;
}
.header_right{
    float: right;
    width: 80%;
    margin-bottom: 10px;
}
.header_left{
    float: left;
    margin-bottom: 10px;
}
.separation{
    margin-bottom: 2px;
}
#box_information{
    font-family: "Dejavu Sans";
    float: right;
    border: 1px solid;
    width: 150px;
    margin-left: 14px;
    background-color: #d9d9d9;
    text-align: center;
}
#box-inf{
    clear: both;
    padding-top: 10px;
}
#box-sup{
    float: right;
    border: 1px solid;
    width: 95%;
    background-color: #d9d9d9;
    text-align: center;
}
#img_logo{
    width: 190px;
}
table{
    border: 1px solid;
    width: 100%;
    table-layout:fixed;
    page-break-inside: avoid;
    font-size: 11px;
}

hr{
    display: block;
    height: 2px;
    border-top: 1px solid red;
    margin: 1em 0;
    padding: 0;
}
body{
    font-family: "Dejavu Sans";
    font-size: 11px;
}

.field_value {
    text-align: left;
}
.field_name {
    text-align: right;
}

.table_header {
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    font-size: 13px;
}
.table_header td {
    border: 1px solid black;
    background-color: #d9d9d9;
}
.table_header2 {
    font-weight: bold;
    text-align: right;
    border: 1px solid black;
    font-size: 12px;
}
.table_header2 td {
    border: 1px solid black;
    background-color: #d9d9d9;
}
.table_body td{
    padding-right: 12px;
}
