.gray {
    background-color: #d9d9d9;
}
.white {
    background-color: white;
}
#head_info{
    float: right;
    border: 1px solid;
    width: 5%;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 1px;
    background-color: #d9d9d9;
}
#head_title{
    float: right;
    border: 1px solid;
    width: 55%;
    padding: 1px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-right: 20px;
    background-color: #d9d9d9;
}
#box-left{
    float:left;
    margin-top: 10px;
    margin-bottom: 10px;
}
#box-right{
  float:right;
  margin-bottom: 10px;
  width: 80%;
}
#img_logo{
    width: 150px;
    margin-left: 15px;
}
#margin{
    margin-bottom: 80px;
}
body {
    margin-right: 2%;
    margin-left: 2%;
    font-size: 12px;
}
table {
    font-size: 12px;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
}
tr {
    border: 1px solid;
}
td {
    border: 1px solid;
}
div {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
