body {
    font-size: 12px;
    font-family: "Liberation Sans";
    line-height: 11px;
}
td {
    border: 1px solid black;
    padding: 4px;
    margin: 0;
}
table {
    margin-bottom: 12px;
    border-collapse: collapse;
    width: 100%;
}
h1 {
    font-size: 12px;
}
h2 {
    font-size: 9px;
}
p {
    margin: 0;
}
.strong {
    font-weight: bold;
    margin: 0;
}
.translation {
    font-size: 9px;
}
.justify {
    text-align: justify;
    padding-bottom: 4px;
    padding-top: 4px;
}
.automated-input{
    font-size: 11px;
}
.normal-text{
    font-size: 10px;
}
.automated-input-translation {
    font-size: 8px;
}
.payment {
    border-collapse: collapse;
    border: 0 solid white;
}
.checkbox {
    border: 1px solid black;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 3px;
}
.X {
    font-size: 20px;
    font-weight: bold;
}
#enterprise {
    font-style: italic;
    font-size: 12px;
    margin: 24px 0 24px 0;
}
#description {
    text-align: center;
    margin-bottom: 6px;
}
#date {
    margin-top: 39px;
    margin-bottom: 12px;
    font-size: 10px;
    float: right;
    width: 60%;
}
#additional-information {
    font-size: 10px;
    border: 1px solid black;
    height: 144px;
    padding: 7px;
}
#header {
    font-size: 24px;
}
#header-reduced {
    font-size: 20px;
}
#logo {
    float:right;
    max-height: 54px;
    margin-top: 0;
}
.data {
    padding-top: 0;
    padding-bottom: 0;
}
#footer {
    margin-top: 170px;
    font-size: 9px;
}
#mandate-type{
    margin-top: 10px;
    width: 100%;
    text-align: right;
}
.w10p{
    width: 10%;
}
.w20p{
    width: 20%;
}
.w30p{
    width: 30%;
}
.w40p{
    width: 40%;
}
