body {
    border:0;
    margin: 0;
    font-family: "Roboto-Regular";
}

table{
    border-spacing: 0px;
    width: 100%;
    border-collapse: collapse;
}

/*----------------------------------------------------- INFORMACIó LATERAL*/

#lateral-info {
    width: 600px;
    padding-top: 8px;
    position: relative;
    float: left;
    left: -290px;
    top: 500px;
    font-size: 8px;
    -webkit-transform: rotate(-90.0deg);
}

#page{
    float: right;
    width: 95%;
    padding-left: 50px;
}

/*------------------------------------------------------ HEADER: LOGO i ADREÇA*/

#header{
    width: 100%;
    text-align: right;
    margin-bottom: 15px;
}

#header td img{
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 80px;
    width: auto;
}

/*--------------------------------------------------------------- FINESTRETA */

#finestreta {
    margin-bottom: 5px;
    padding:5px;
    height: 110px;
}

#finestreta td{
    font-size: 12px;
}

/*--------------------------------------------------------------- INFO BASE */

#info-base caption {
    font-size: 22px;
    color: #0e0e0e;
    padding-bottom: 10px;
}

/*------------------------------------------------ DADES PUNT SUBMINISTRAMENT*/

#supply-data{
    margin-top: 30px;
}

/*------------------------------------------------------- ESTIL DE LES TAULES*/

.round-top-borders{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.styled-table{
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    font-size: 12px;
}

.styled-table caption{
    font-weight: bold;
    color: #4D77A4;
    font-size: 16px;
}

.styled-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
    border-left: 2px solid white;
}

.styled-table th:first-child{
    border-left: 2px solid #4D77A4;
}

.styled-table td{
    padding: 2px 3px 2px 5px;
    vertical-align: top;
}

.styled-table tfoot tr:first-child {
    border-top: 1px solid #4D77A4;
}

/*-----------------------------------------------------------LINES & SUMMARY */

.content-concepts {
    height: 360px;
    border: 1px solid #4D77A4;
    margin-top: 20px;
}

/*------------------------------------------------------------------ SUMMARY */

.summary{
    border: solid 1px #4D77A4;
    font-size: 12px;
}

.summary th{
    background: #4D77A4;
    color: white;
}

.summary td, .summary tr{
    border: solid 1px #4D77A4;
}

/*------------------------------------------------------------------ SUMMARY */

#payment-data{
    margin-top: 30px;
    width: 60%;
}

#payment-data th{
    border-bottom: solid 2px white;
}

/*------------------------------------------------------------------ GLOBALS */

.bold { font-weight: bold }

.center { text-align: center }

.right { text-align: right }

.right-50{
    float: right;
    width: 49%;
    padding: 0 0 10px 5px;
}
