@font-face {
    font-family: "MyriadPro";
    src: url('fonts/MyriadProRegular.ttf') format('truetype');
}
@font-face {
    font-family: "MyriadPro";
    src: url("fonts/MyriadProBold.ttf") format('truetype');
    font-weight: bold;
}body{
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: "MyriadPro";
    color: #001489;
}
table{
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
#capcalera{
    position: relative;
    top: 20px;
}
#titol {
    position: relative;
    float: left;
    width: 400px;
    font-family: "Sansation";
    font-weight: bold;
    font-size: 12px;
    color: #78be20;
}
#logo{
    position: relative;
    float: right;
}
#continguts{
    position: relative;
    top: 30px;
    font-family: "MyriadPro";
}
#cos_complements{
    height: 30px;
}
#titol_mig{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
#firma_direccion{
    position: relative;
    top: -70px;
    height: 70px;
}
#info_checkboxes{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.seccio_blau{
    position: relative;
    margin-top: 20px;
    color: #001489;
    border-color: #001489;
}
.custom_checkbox{
    border: 1px solid #78be20;
    border-radius: 3px;
    height: 9px;
    width: 9px;
    position: relative;
    top: 2px;
}
.custom_checkbox_checked{
    border: 1px solid #78be20;
    border-radius: 3px;
    height: 9px;
    width: 9px;
    position: relative;
    top: 2px;
    background-color: #001489;
}
.seccio_verd_blau{
    position: relative;
    float: right;
    width: 80%;
    margin-top: 20px;
    color: #001489;
    border-color: #006f74;
}
.seccio_verd{
    position: relative;
    margin-top: 20px;
    color: #001489;
    border-color: #78be20;
}
.verd{
    border-color: #78be20;
}
.titol_seccio{
    position: relative;
    float: left;
    top: -8px;
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 5px;
    border-left: 2px solid;
    border-color: inherit;
    white-space: nowrap;
}
.subtitol_seccio{
    position: relative;
    top: -5.5px;
    float: left;
    font-size: 8px;
    font-weight: normal;
    white-space: nowrap;
    background-color: white;
}

.cos_seccio{
    padding: 1em;
    font-size: 9px;
    font-weight: normal;
    border-style: solid;
    border-width: 2px;
    border-color: inherit;
    /* top left, top right, bottom right, bottom left */
    border-radius: 0px 15px 15px 15px;
}
.descompte{
    margin-top: 2px;
    font-size: 10px !important;
    font-weight: bold !important;
}
.td_seccio{
    font-size: 9px;
    border: 0px solid black;
    vertical-align: baseline;
}
.nota{
    font-size: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: justify;
}
.nota_bold{
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: justify;
}
.gran{
    font-size: 8px !important;
}
.borderless{
    border: none !important;
}
.borderless tr{
    border: none;
}
.borderless td{
    border: none;
}
.bold{
    font-weight: bold;
}
.not_bold{
    font-weight: normal;
}
.no_edges_padding{
    padding: 0px !important;
    padding-top: 3px !important;
}
.inner_section{
    font-size: 9px;
}
.inner_section td{
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid;
    border-color: #78be20;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.text_inner_section{
    text-align: left !important;
    font-family: "MyriadRegular";
    font-size: 9px;
}
.separador{
    position: relative;
    float: left;
    border-right: 2px solid;
    border-color: #78be20;
    padding: 0px;
    margin: 0px;
    width: 103px;
    top: 2px;
}
.field{
    font-family: "MyriadRegular";
    font-weight: normal;
    font-size: 9px;
}
.field_bold{
    font-family: "MyriadRegular";
    font-weight: bold;
    font-size: 9px;
}
.cos_signatura{
    padding: 1em;
    padding-top: -1px;
    background-color: white;
    font-size: 9px;
    font-weight: normal;
    border-style: solid;
    border-width: 2px;
    border-top: 0px;
    /* top left, top right, bottom right, bottom left */
    border-radius: 0px 0px 15px 15px;
    width: 180px;
    height: 8px;
}
.signatura_annex{
    position: relative;
    float: left;
    top: 80px;
    width: 50%;
    height: 50px;
}
.signatura{
    position: relative;
    float: left;
    top: 40px;
    width: 50%;
    height: 50px;
}
.text_signatura{
    text-align: justify;
    position: relative;
    left: 65px;
    top: 5px;
}
.left_only{
    text-align: left !important;
}
.no_padding_left{
    padding-left: 0px !important;
}
.left{
    text-align: left !important;
    padding: 0px !important;
}
.font_9px{
    font-size: 9px;
}
.pl_3{
    padding-left: 3px;
}
.ml_15{
    margin-left: 15px;
}
.p_10{
    padding-left: 10px;
    padding-right: 10px;
}
.t_10{
    margin-top: 10px;
}
.t_20{
    margin-top: 20px;
}
.t_80{
    margin-top: 80px;
}
.h_50{
    height: 50px;
}
.h_130{
    height: 130px;
}
.w_10{
    width: 10px;
}
.w_15{
    width: 15px;
}
.w_20{
    width: 20px;
}
.w_25{
    width: 25px;
}
.w_30{
    width: 30px;
}
.w_35{
    width: 35px;
}
.w_40{
    width: 40px;
}
.w_45{
    width: 45px;
}
.w_50{
    width: 50px;
}
.w_55{
    width: 55px;
}
.w_60{
    width: 60px;
}
.w_70{
    width: 70px;
}
.w_75{
    width: 75px;
}
.w_87{
    width: 87px;
}
.w_90{
    width: 90px;
}
.w_92{
    width: 92px;
}
.w_98{
    width: 98px;
}
.w_100{
    width: 100px;
}
.w_110{
    width: 110px;
}
.w_130{
    width: 130px;
}
.w_145{
    width: 145px;
}
.w_160{
    width: 160px;
}
.w_165{
    width: 165px;
}
.w_279{
    width: 279px;
}
.w_310{
    width: 310px;
}
.w_250{
    width: 250px;
}
.w_380{
    width: 380px;
}
.w_360{
    width: 360px;
}
