    ${css}
    body {
        font-family: Roboto;
        font-size: 10px;
        color: #4c4c4c;
        font-weight: 100;
        margin: 0px;
        padding: 0px;
        width: 800px;
    }
    #container {
        margin-left: 50px;
        margin-right: 10px;
    }
    h1 {
        font-size: 1.0em;
        margin: 0;
        padding: .3em;
        background-color: #4c4c4c;
        color: #ffffff;
    }
    p {
        padding: .5em .5em;
        margin: .5em .5em;
        line-height: 1.5;
    }
    hr {
        border: none;
        height: 1px;
        background-color: #4c4c4c;
        margin: 0em 1em 0em 1em;
    }
    table {
        border: 0px;
        padding: 0px;
        border-collapse: collapse;
        width: 100%;
        font-size: 1em;
        font-weight: 100;
    }
    th {
        text-align: left;
        padding: .5em;
    }
    td {
        padding: .5em;
    }
    td.e {
        text-align: right;
        font-weight: bold;
    }
    tr:nth-child(odd){
        background-color: #f7f7f7;
    }
    tr:nth-child(even){
        background-color: #e2e2e2;
    }

    .logo_gkwh {
      position: absolute;
      right: 20px;
      top: -15px;
    }

    .mix_taula th{
        font-size: .8em;
        border: 0px;
    }

    .mix_taula table {
        margin: 10px;
        width: 98%;
    }

    .mix_taula tbody tr {
        border-bottom: 1px solid #000000;
    }

    .mix_taula tr:nth-child(odd),
    .mix_taula tr:nth-child(even),
    .cert_orig_taula tr:nth-child(odd),
    .cert_orig_taula tr:nth-child(even){
        background-color: #f7f7f7;
    }

    tr.total {
        font-size: 1.2em;
        border-top: 1px solid #000000;
        font-weight: 900;
    }

    .center {
        text-align: center;
    }

    /* LATERAL FACTURA */
    .lateral_container {
        position:relative;
        height: 3075;
        float:left;
    }

    .lateral {
        -webkit-writing-mode: vertical-lr;
        font-size: .7em;
        color: #bdc83f;
        position: absolute;
        left: 20px;
        -webkit-transform: rotate(-180deg);
    }
    /* ADREÇA COMPANYIA */
    .company_address {
        float: left;
        text-align: left;
        width: 30%;
        margin: 8px;
        font-size: 0.95em;
        line-height: 1.5;
    }
    /* DADES FACTURA */
    .invoice_data {
        position: relative;
        float: right;
        background-color: #f7f7f7;
        width: 58%;
        margin: 10px 0px 0px 10px;
    }
    .invoice_data div{
        padding: .5em;
        padding-bottom: 0px;
    }
    /* RESUM FACTURA */
    .invoice_summary {
        background-color: #f7f7f7;
        text-align: left;
        float: left;
        width: 40%;
        margin: 17px 0px 10px 5px;
    }
    /* CONTENIDOR DADES CLIENT */
    .partner_data {
        float: right;
        width: 58%;
        margin: 5px 0px 10px 10px;
        padding: 0px;
    }
    /* DADES TITULAR */
    .owner_data {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    /* DADES PAGAMENT */
    .payment_data {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
    }
    /* CONTENIDOR LECTURES ACTIVA */
    .energy_info{
        background-color: #f7f7f7;
        text-align: left;
        margin: 0px 0px 1em 0px;
        width: 100%;
        float: left;
        padding: .1em;
    }
    /* LECTURES ACTIVA/REACTIVA */
    .lectures,
    .lectures30,
    .lectures_reactiva,
    .lectures_reactiva30,
    .lectures_max,
    .lectures_max30 {
        width: 47%;
        float: left;
        border: 1px solid #e2e2e2;
        background-color: #f7f7f7;
        margin: 2em;
        font-size: .8em;
    }
    .lectures30,
    .lectures_reactiva30,
    .lectures_max30 {
        width: 95%;
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left:0px;
        margin-right: 0px;
    }
    .lectures_reactiva table
    .lectures_max table {
        font-weight: 900;
    }

    .lectures_reactiva table,
    .lectures_max table,
    .lectures_reactiva30 table,
    .lectures_max30 table{
        border: 1px solid #e2e2e2;
        width: 95%;
    }

    .lectures_reactiva30 table,
    .lectures_max30 table{
        width: 98%;
    }

    /* GRAFIC BARRES */
    .chart_consum_container {
        margin: 2em;
        margin-left: 0px;
        float:right;
    }

    .chart_consum {
        margin: 0px;
        border: 1px solid #e2e2e2;
    }

    .chart_estadistica {
        font-size: .8em;
        width: 320px;
    }
    /* DADES CONTRACTE */
    .contract_data {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 0px 0px 1em 0px;
        float: left;
    }
    /* EMERGÈNCIES */
    .emergency {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 0px 0px 1em 0px;
        float: left;
    }
    /* RECLAMACIONS */
    .complaints {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 0px 0px 1em 0px;
        float: left;
    }
    /* Suplementos TEC 271 2019 */
    div.supl {
        position: relative;
        float: right;
        height: 270px;
        font-size: 7px;
        overflow:hidden;
        font-style: italic; !important
    }
    div.supl h1{
        font-style: normal; !important
    }
    table.supl {
        margin-bottom: 10px;
    }
    /* DESTÍ IMPORT FACTURA */
    .destination {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
        float: left;
    }
    /* Suplementos TEC 271 2019 */
    div.supl {
        position: relative;
        float: right;
        height: 270px;
        font-size: 7px;
        overflow:hidden;
        font-style: italic; !important
    }
    div.supl h1{
        font-style: normal; !important
    }
    table.supl {
        margin-bottom: 10px;
    }
    /* CONTENIDOR REACTIVA/MAXÍMETRES */
    .other_measures{
        background-color: #ffffff;
        text-align: left;
        margin: 0px;
        width: 100%;
        float: left;
        padding: 0px;
    }
    .side_by_side {
        display: table;
        width: 100%; /*Optional*/
    }
    .side_by_side_maxi {
        display: table-cell;
        width: 49%; /*Optional*/
        float: right;
    }
    .side_by_side_react {
        display: table-cell;
        width: 49%; /*Optional*/
    }
    /* DETALL FACTURA */
    .invoice_detail {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
        float: left;
        font-size: .8em;
        padding-bottom: 1em;
    }
    /* INFORMACIÓ DE LA ELECTRICITAT */
    .elect_information{
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 0px;
        float: left;
        font-size: .8em;
    }

    /* GRÀFICS MIX */
    .mix{
        background-color: #f7f7f7;
        text-align: center;
        width: 100%;
        margin: 1em 0px 1em 0px;
        float: left;
        font-size: .8em;
        clear: both;
    }

    .mix_som,
    .mix_esp{
        margin: 10px;
        font-size: 1.2em;
        font-weight: 900;
    }

    .mix_som {
        float: left;
        width: 45%;
    }

    .mix_esp{
        float: right;
        width: 45%;
    }
    .mix .graf {
        height: 170px;
    }

    .mix img {
        max-height: 100%;
    }

    .mix p {
        font-size: 1em;
        font-weight: 100;
    }

    .mix_taula {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 50px 1em 0px;
        font-size: 1em;
    }
    /* IMPACTE MEDIOAMBIENTAL */
    .environment_impact {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
        float: left;
        font-size: .9em;
    }

    .env_imp_desc {
        line-height: 1.0;
        margin-bottom: 0px;
    }

    .env_imp {
        margin: 10px 10px 0px 10px;
        font-size: .8em;
    }

    .env_imp_carbo,
    .env_imp_nuclear{
        margin: 0px;
        width: 47%;
        float: left;
        border-top: 1px solid #4c4c4c;
        padding: 0px;
    }

    .env_imp_nuclear{
        float: right;
    }

    .env_titol {
        font-size: .9em;
        width: 30%;
        clear:right;
        margin-left: 0;
    }

    .env_titol p {
        margin-left: 0;
        padding-left: 0;
    }

    .env_img_lleg {
        clear: both;
        font-size: .7em;
    }

    .env_img {
        width: 150px;
        float: left;
        margin-bottom: 5px;
    }

    .a_g {
        width: 150px;
        height: 150px;
        padding:0px;
    }

    .env_mitjana {
        width: 75px;
        height: 150px;
        float:left;
        text-align: center;
        display:table;
    }

    .env_mitjana p {
        display:table-cell;
        vertical-align: middle;
        text-align: left;
    }

    .env_marc {
        width: 75px;
        height: 45px;
        float:left;
        text-align: center;
        padding: 5px;
        border: 1px solid #4c4c4c;
        border-radius: 5px;
    }
    /* ORÍGEN CERTIFICATS DE GARANTIA*/
    .certificate_origin {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
        float: left;
        font-size: .9em;
    }
    .cert_orig_info {
        width: 60%;
        float: left;
    }

    .cert_orig_taula {
        margin: 0px 1em;
    }

    .cert_orig_taula table {
        cell-padding: 0px;
        cell-spacing: 0px;
        text-align: left;
        width: 98%;
    }

    .cert_orig_taula td {
        padding: 0px;
    }

    .cert_orig_taula th {
        text-align: left;
        padding: .5em 0px;
    }

    tfoot tr {
        border-top: 1px solid #4c4c4c;
    }

    .cert_orig_taula tfoot td{
        font-weight: 900;
        padding: .5em 0;
    }

    .cert_orig_grafic {
        width: 25%;
        float:right;
        padding: 1em;
    }

    img.orig {
        width: 150px;
    }

    .row {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-spacing: 0px;
    }

    .column {
        display: table-cell;
        width: 45%;
    }
    .pl_15 {
        padding: 0px 15px;
    }
    .tick {
        font-size: 7px;
        font-family: Roboto;
    }
    .c3-legend-item {
        font-size: 7px;
        font-family: Roboto;
    }
    .c3-shape {
        opacity: 0.7;
    }
