body {
border:0; margin: 0;
font-family:helvetica;
font-size:10px;
}
body{
    margin: 0;
    padding: 0;
}
div.background {
    position    : absolute;
    top         : 0px;
    left        : 0px;
    overflow    : hidden;
    width       : 100%;
    height      : 1090px;
    z-index:-1;
}
div.background img{
    width: 100%;
}
img.logo{
    height: 80px;
}
.wrapper{
    margin: 0;
    padding: 0;
    padding-top: 30px;
}
.page_princial {
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: 91px;
    margin-right: 62px;
}
.bloc{
    clear: both;
}
.bloc.capcalera {
    margin-top: 150px;
    margin-bottom: 40px;
}
.esquerra{
    float: left;
    width: 49%;
    margin-right: 12px;
}
.dreta{
    float: left;
    width: 49%;
}
.box{
    border: 1px solid #CCCCCC;
    margin-bottom: 5px;
    padding:5px;
}

.header{
    text-align: center;
    background-color: #aaaaaa;
    border: 1px solid #000000;
    padding: 0px;
}
.titol_taula{
    background-color: #aaaaaa;
    font-weight: bold;
    width: 200px;
}
.clear{
    margin-bottom: 15px;
}
.fi_bloc{
    clear: both;
}
.bold{
    font-weight: bold;
}
.requadre{
    border: 1px solid #000000;
}

table{
    border-spacing: 0px;
    width: 100%;
    margin-bottom: 10px;
    font-size:10px;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
td.number{
    text-align: right;
}

table thead, table tr.fake_head {
    text-align: center;
    background-color: #CCCCCC;
}

.content-concepts {
    height: 360px;
    border: 1px solid #eeeeee;
    border-top: none;
    margin-bottom: 10px;
}

table.concepts tbody td {
    vertical-align: top;
    padding-left: 5px;
    border: none;
}
table.concepts tbody tr:first-child td {
    padding-top: 10px;
}

.address{
    height: 100px;
}
.total {
    font-weight: bold;
}
.conceptos{
    float: left;
    width: 90%;
}
.outer {
    width: 15px;
    height: 600px;
    position: relative;
    float: left;
    font-size: 6px;
}

.text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0px;
    left: 0px;
    -webkit-transform-origin: left top;
    width: 600px;
    height: 15px;
    padding: 5px;
}