body {
border:0; margin: 0;
font-family:helvetica;
font-size:10px;
}
body{
    margin: 0;
    padding: 0;
}
div.background {
    position    : absolute;
    top         : 0px;
    left        : 0px;
    overflow    : hidden;
    width       : 100%;
    height      : 100%;
    z-index:-1;
}
div.background img{
    width: 100%;
}
.wrapper{
    margin: 0;
    padding: 0;
    padding-top: 30px;
}
.page_princial {
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: 91px;
    margin-right: 62px;
}
.bloc{
    clear: both;
}
.bloc.capcalera {
    margin-top: 55px;
    margin-bottom: 10px;
    height: 100px;
}
.bloc.capcalera .esquerra{
    text-align: center;
}
.bloc.capcalera .dreta{
    padding-left: 15px;
}

img.logo{
    height: 70px;
}
.esquerra{
    float: left;
    width: 47%;
    margin-right: 5px;
}
.dreta{
    float: left;
    width: 47%;
}
.barra_lateral{

    position: relative;
    border:1px solid green;
    width: 15px;
    height: 800px;
}
.barra_lateral .text{
    font-size: 6px;
    background-color: red;
    transform: rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    width: 800px;
    height:15px;
    position: absolute;
    bottom:0;
    left: 0;
}
.box{
    border: 1px solid #CCCCCC;
    margin-bottom: 3px;
    padding:3px;
}
.box.dades_calculs{
    height: 516px;
    position: relative;
}

.header{
    text-align: center;
    background-color: #aaaaaa;
    border: 1px solid #000000;
    padding: 0px;
}
.response{
    font-weight: bold;

}
.dades .header{
    background-color: transparent;
    text-align: left;
}
.titol_taula{
    background-color: #aaaaaa;
    font-weight: bold;
    width: 200px;
}
.clear{
    margin-bottom: 15px;
}
.fi_bloc{
    clear: both;
}
.bold{
    font-weight: bold;
}
.requadre{
    border: 1px solid #000000;
}
.margin-0{
    margin:0
}

table.dades, table.dades_lectures,
table.dades_calculs, table.dades_bancaries,
table.dades_consumes, table.dades_impostos{
    width: 100%;
}

table.dades td, table.dades th,
table.dades_lectures td, table.dades_lectures th,
table.dades_consumes td, table.dades_consumes th,
table.dades_impostos td, table.dades_impostos th,
table.dades_calculs td, table.dades_calculs th{
    font-size: 10px;
}
table.dades_calculs td{
    line-height: 0.9em;
}
table.imports_total td, table.imports_total th{
    font-size: 12px;
}
table.imports_total td.iva{
    text-align: right;
}
table.dades_lectures{
    border-collapse: collapse;
    border-spacing: 0px;
}
table.dades_lectures td{
    margin:0; padding:0;
}

table.dades_lectures td, table.dades_lectures thead th{
    text-align: center;
}
table.dades_calculs td, table.dades_lectures th,
table.imports_total td, table.imports_total tbody tr th{
    text-align: left;
}
table.dades_calculs thead tr th:first-child,
table.dades_impostos thead tr th:first-child{
    background-color: #aaaaaa;
    text-align: left;

}
table.dades_calculs td.total,
table.dades_impostos td.total,
table.imports_total td.total{
    text-align: right;
}
table.dades_lectures thead{
    border:1px solid #CCCCCC;
    background-color: #aaaaaa;
    margin-bottom: 5px;
}
table.dades_lectures thead tr.head_table th:first-child{
    background-color: #ffffff !important;
}
table.dades_lectures{
    border:1px solid #CCCCCC;
}
table.dades_lectures .border-bottom{
    border-bottom:1px solid #CCCCCC;
}
table.dades_lectures .border-right,
table.dades_lectures thead .border-right,
table.dades_lectures tbody tr td:nth-child(odd)
{
    border-right:1px solid #CCCCCC;

}
table.dades_lectures tbody tr th{
    font-weight: normal;
}
table.dades_lectures{
    height: 114px;
    width: 100%;
}
div.dades_consumes{
    height: 120px;
}
div.calculs{
    height: 95px;
    margin-bottom: 5px;
}
div.reactiva {
    height: 150px !important;
}
div.dades_impostos{
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;

}
table.dades_bancaries{
    height: 30px;
}
table.dades td.desc, table.dades_lectures td.desc, span.desc{
    font-weight: bold;
}
.big{
    font-size: 12px;
}
.separator{
    margin-left: 10px;
    margin-right: 10px;
}

div .chart_consum_container .desc_text p{
    font-size: 8px;
    line-height: 0.5em;
}
.dades_barcode td.desc{
    border: 1px solid black;
    background-color: #aaaaaa;
}
.emergency_complaints{
    font-size: 8px;
}
.emergency h2, .complaints h2{
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}
.emergency dt,  .complaints dt {
    float: left;
    clear: left;
    text-align: left;
    font-weight: bold;
    color: #000000;
    padding-right: 5px;
}
.emergency dt{
    width: 80px;
}
.complaints dt {
    width: 110px;
}
.emergency dt:after,
.complaints dt:after {content: "";}
.emergency dd,  .complaints dd {
    margin: 0 0 0 70px;
    padding: 0 0 0 0;

}

#outer {
    width: 15px;
    height: 750px;
    position: relative;
    float: left;
    font-size: 6px;
}

#text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0px;
    left: 0px;
    -webkit-transform-origin: left top;
    width: 750px;
    height: 15px;
    padding: 5px;
}