body {
    font-size: 11px;
}

h1 {
    font-size: 17px;
}

table {
    width: 100%;
}

h2 {
    text-align: center;
}

.header {
    text-align: center;
}

#boe {
    white-space: pre-line;
    padding: 5px;
    font-size: 11px;
}

#total {
    text-align: center;
    font-weight: bold;
}

#partner_address {
    text-align: center;
    font-size: 11px;
}

.address {
    font-size: 12px;
    padding: 30px 7px 7px 7px;
}

#subtitle {
    font-size: 10px;
    padding: 0 30px;
}

.invoice_details {
    font-size: 12px;
    border-collapse: collapse;
    border: solid 1px;
    margin: 5px;
}

.cut_invoice_details {
    font-size: 12px;
}

.minheight100 {
    min-height: 100px;
}

.border {
    border: 1px solid black;
}

.margin_bottom_10 {
    margin-bottom: 10px;
}

.condicions {
    text-align: justify;
}

#referencia {
    font-size: 8px;
}
