body {
    border:0;
    margin: 0;
    font-family: "Liberation Sans", sans;
    font-size:10px;
}

#page{
    float: right;
    width: 95%;
    padding-left: 50px;
}

/*----------------------------------------------t------- HEADER: LOGO i ADREÇA*/

#header{
    width: 100%;
    font-size: 11px;
    text-align: right;
    margin-bottom: 15px;
}

#header td img{
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 80px;
    width: auto;
}

/*----------------------------------------------------- INFORMACIó LATERAL*/

#lateral-info {
    width: 600px;
    padding-top: 8px;
    position: relative;
    float: left;
    left: -290px;
    top: 500px;
    font-size: 8px;
    -webkit-transform: rotate(-90.0deg);
}


.center{ text-align: center }

/*TODO es podria afegir una marca d'aigua que podria ser reemplaçada per un fons unic per empresa*/
/*div.background {*/
    /*position    : absolute;*/
    /*top         : 0px;*/
    /*left        : 0px;*/
    /*overflow    : hidden;*/
    /*width       : 100%;*/
    /*height      : 1090px;*/
    /*z-index:-1;*/
/*}*/
/*div.background img{*/
    /*width: 100%;*/
/*}*/
/*.wrapper{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*padding-top: 30px;*/
/*}*/
.page_princial {
    margin-left: 91px;
}

.bloc{
    clear: both;
}

.bloc.capcalera {
    margin-top: 20px;
    margin-bottom: 40px;
}

.esquerra{
    float: left;
    width: 49%;
    margin-right: 12px;
}

.dreta{
    float: left;
    width: 49%;
}
.box{
    border: 1px solid #4D77A4;
    margin-bottom: 5px;
    padding:5px;
}

/*.header{*/
    /*text-align: center;*/
    /*background-color: #aaaaaa;*/
    /*border: 1px solid #000000;*/
    /*padding: 0px;*/
/*}*/
/*.titol_taula{*/
    /*background-color: #aaaaaa;*/
    /*font-weight: bold;*/
    /*width: 200px;*/
/*}*/
.clear{
    margin-bottom: 15px;
}
.fi_bloc{
    clear: both;
}
.bold{
    font-weight: bold;
}
.requadre{
    border: 1px solid #000000;
}

table{
    border-spacing: 0px;
    width: 100%;
    margin-bottom: 10px;
    font-size:10px;
    border-collapse: collapse;
}

/*td {*/
    /*border: 1px solid black;*/
/*}*/

td.number{
    text-align: right;
}

.content-concepts {
    height: 360px;
    border: 1px solid #4D77A4;
    margin-top: 20px;
}


.address{
    height: 100px;
}
.bold {
    font-weight: bold;
}
/*------------------------------------------------------- ESTIL DE LES TAULES*/

.round-top-borders{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.styled-table{
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    font-size: 9px;
}

.styled-table caption{
    font-weight: bold;
    color: #4D77A4;
    font-size: 14px;
}

.styled-table th{
    border-collapse: collapse;
    background: #4D77A4;
    color: white;
}

.styled-table td{
    padding: 1px 3px 1px 3px;
    vertical-align: top;
}

.styled-table tfoot tr:first-child {
    border-top: 1px solid #4D77A4;
}

.total{
    border: solid 1px #4D77A4;
}


.total th{
    background: #4D77A4;
    color: white;
}

.total td, .total tr{
    border: solid 1px #4D77A4;
}
